@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <title>@ViewData["Title"] - Bestfluence</title>

    <script>
        (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-103687513-1', 'auto');
        ga('send', 'pageview');
    </script>

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '326842804433660',
                cookie: true,
                xfbml: true,
                version: 'v2.8'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)


    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Raleway|Mada|Oxygen" rel="stylesheet">
    <link rel="stylesheet" href="~/css/social-buttons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/ihover/src/ihover.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/lib/jquery-te/jquery-te-1.4.0.css" />

</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Bestfluence</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Influencer" asp-action="Index">Discover</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>


    @{ 
        var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
    }
    <!-- Login Modal -->

    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog" style="max-width: 400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title text-center">Velkommen tilbage!</h3>
                </div>
                <div class="modal-body">

                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <button name="provider" value="@loginProviders.SingleOrDefault(x => x.DisplayName == "Facebook").AuthenticationScheme" type="submit" class="btn btn-block btn-social btn-facebook btn-lg">
                            <span class="fa fa-facebook"></span> Log ind via Facebook
                        </button>
                        <a class="btn btn-block btn-social btn-google btn-lg" style="margin-top: 20px;">
                            <span class="fa fa-google"></span> Log ind via Google
                        </a>
                    </form>
                          
                    

                    <div class="divider">
                        <h4><span>ELLER</span></h4>
                    </div>

                    <a id="emailLoginButton" class="btn btn-block btn-social btn-google btn-lg" style="background: #FFA500">
                        <span class="fa fa-envelope fa"></span> Log ind via Email
                    </a>
                    
                    <div id="emailLogin" style="display: none">
                        <div style="margin-top: 20px;"></div>
                        <span id="errorMsgTop" style="color: red;"></span>
                        @Html.AntiForgeryToken()
                        <input id="email" type="email" class="text-input" placeholder="Email" />
                        <span id="errorMsgBot" style="color: red"></span>
                        <input id="password" class="text-input" placeholder="Kodeord" type="password" />
                        <input type="button" class="login-button" id="loginBtn" value="Log på" />                       
                    </div>

                    <a id="forgotPasswordBtn" class="text-center" style="cursor: pointer;"><p style="margin-top: 20px; color: #000">Har du glemt kodeord?</p></a>
                    <div id="forgotPassword" class="display-none">
                        <input id="email" type="email" class="text-input" placeholder="Hvad er din email?" />
                        <input style="margin-bottom: 10px" type="button" class="login-button" value="Nulstil kodeord" />
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal Opret -->
    <div id="opretModal" class="modal fade" role="dialog">
        <div class="modal-dialog" style="max-width: 400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title text-center">Opret en profil idag</h3>
                </div>
                <div class="modal-body">                 

                    <a class="btn btn-block btn-social btn-facebook btn-lg">
                        <span class="fa fa-facebook"></span> Tilmeld via Facebook
                    </a>
                    <a class="btn btn-block btn-social btn-google btn-lg" style="margin-top: 20px">
                        <span class="fa fa-google"></span> Tilmeld via Google
                    </a>

                    <div class="divider">
                        <h4><span>ELLER</span></h4>
                    </div>                   

                    <a id="emailCreateButton" class="btn btn-block btn-social btn-google btn-lg" style="background: #FFA500">
                        <span class="fa fa-envelope fa"></span> Tilmeld via Email
                    </a>

                    <div id="emailCreate" style="display: none">
                        <form method="get" asp-controller="Account" asp-action="RegisterConfirmation">
                            <div style="margin-top: 20px;"></div>
                            <input name="registerName" type="text" class="text-input" placeholder="Navn" />
                            <input name="registerEmail" type="email" class="text-input" placeholder="Email" />
                            <input type="submit" class="login-button" id="opretBtn" value="Fortsæt" />
                        </form>
                    </div>

                    <p style="margin-top: 20px; font-size: 12px">* Ved at oprette en profil godkender du Bestfluence's betingelser, vilkår og persondatapolitik</p>

                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid" style="padding: 0;">
        @RenderBody()       
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    </environment>

    <script src="~/lib/jquery-te/jquery-te-1.4.0.min.js"></script>

    @*<script>
        $(document).ready(function () {
    var opretErrorMsg = $("#opretErrorMsgTop");

    $("#opretBtn").click(function () {

        //collect the user data
        var data = {};
        data.Name = $("#opretNavn").val();
        data.Email = $("#opretEmail").val();
        data.Password = $("#opretPassword").val();
        data.ConfirmPassword = $("#opretPassword2").val();
        var token = $('input[name="__RequestVerificationToken"]').val();

        $.ajax({
            url: "/Account/Register",
            method: "POST",
            data: {
                model: data,
                __RequestVerificationToken: token,
                returnUrl: "Home/Index"   // you can modify the returnUrl value here
            },
            success: function (result) {
                console.log(result);

                if (result.sucess === true) {
                    window.location = "@ViewData["ReturnUrl"]";
                    return;
                }

                for (var i = 0; i < result.error.length; i++) {
                    console.log(result.error[i].errors[0].errorMessage);
                    var error = result.error[i].errors[0].errorMessage;
                    if (error === 'Missing') {
                        opretErrorMsg.text("Du skal udfylde alle felterne.");
                        return;
                    }
                    else if (error === 'Email') {
                        opretErrorMsg.text("Dette er ikke en gyldig email.");
                        $("#opretEmail").focus();
                        return;
                    }
                    else if (error === 'Password') {
                        opretErrorMsg.text("Kodeordet skal være minimum 6 karaktere langt.");
                        return;
                    }
                    else if (error === 'NoMatch') {
                        opretErrorMsg.text("De 2 kodeord er forskellige.");
                        return;
                    }
                    else if (error.indexOf("User name") !== -1) {
                        opretErrorMsg.text("Der findes allerede en bruger med denne email.");
                        return;
                    }

                }

            },
            error: function () {
                console.log("fail");
            }
        });
    });
});
    </script>*@

    @RenderSection("Scripts", required: false)
    @RenderSection("SearchStar", required: false)
</body>
</html>
