@using Microsoft.AspNetCore.Identity
@using Bestfluence.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject Bestfluence.Services.Interfaces.IInfluencerService InfluencerService

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    await SignInManager.RefreshSignInAsync(user);
    var isInfluencer = (InfluencerService.IsInfluencer(user.Id)) ? "Influencer" : "Bliv influencer";

    <input type="hidden" value="@user.Id" id="applicationUserId" />
    <input type="hidden" value="@isInfluencer" id="isInfluencer" />

    <form asp-area="" asp-controller="account" asp-action="logout" method="post" id="logoutForm" class="navbar-right"></form>
    <ul class="nav navbar-nav navbar-right" id="dropdownPc">

        @if (isInfluencer == "Influencer" && await UserManager.IsInRoleAsync(user, "Influencer"))
        {
            <li>
                <a asp-controller="votes" asp-action="index" class="navLinks">Afstemning</a>
            </li>
            <li><a style="padding-left: 0; padding-right: 0" class="hidden-xs">|</a></li>
        }

        <li>
            <a asp-area="" asp-controller="manage" asp-action="feedback" class="navLinks">
                Feedback
                <span class="badge navbarBagde" style="font-family: Arial; background: #FFA500"></span>
            </a>
        </li>

        <li><a style="padding-left: 0; padding-right: 0" class="hidden-xs">|</a></li>

        <li>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle navLinks" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Konto <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                    @if (isInfluencer == "Influencer")
                    {
                        <li><a asp-area="" asp-controller="influencer" asp-action="profile" asp-route-id="@user.Id">Vis profil</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="account" asp-action="profile" asp-route-id="@user.Id">Vis profil</a></li>
                    }
                    <li><a asp-area="" asp-controller="manage" asp-action="edit">Rediger profil</a></li>
                    <li><a asp-area="" asp-controller="manage" asp-action="influencer">@isInfluencer</a></li>
                    <li><a asp-area="" asp-controller="manage" asp-action="notifications">Indstillinger</a></li>
                    <li><a href="#" id="logoutBtn">Log af</a></li>
                </ul>
            </div>
        </li>

        @*<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Konto <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                    <li><a asp-area="" asp-controller="manage" asp-action="profile">Vis profil</a></li>
                    <li><a asp-area="" asp-controller="manage" asp-action="edit">Rediger profil</a></li>
                    <li><a asp-area="" asp-controller="manage" asp-action="influencer">@isInfluencer</a></li>
                    <li><a asp-area="" asp-controller="manage" asp-action="notifications">Indstillinger</a></li>
                    <li><a href="#">Log af</a></li>
                </ul>
            </li>*@

        @*<li class="drop">
                <a href="#" class="navLinks">Konto</a>
                <div class="dropdownContain">
                    <div class="dropOut">
                        <div class="triangle"></div>
                        <ul>
                            <li><a asp-area="" asp-controller="manage" asp-action="profile" class="dropOut-a">Vis profil</a></li>
                            <li><a asp-area="" asp-controller="manage" asp-action="edit" class="dropOut-a">Rediger profil</a></li>
                            <li><a asp-area="" asp-controller="manage" asp-action="influencer" class="dropOut-a">@isInfluencer</a></li>
                            <li><a asp-area="" asp-controller="manage" asp-action="notifications" class="dropOut-a">Indstillinger</a></li>
                            <li><a id="logOut" href="#" class="dropOut-a">Log af</a></li>
                        </ul>
                    </div>
                </div>
            </li>*@
    </ul>




    @*<ul class="nav navbar-nav navbar-right" id="dropdownMobile" style="display: none">

            @if (isInfluencer == "Influencer" && await UserManager.IsInRoleAsync(user, "Influencer"))
                {
                <li>
                    <a asp-controller="votes" asp-action="index" class="navLinks">Afstemninger</a>
                </li>
            }

            <li>
                <a asp-area="" asp-controller="manage" asp-action="feedback">
                    Min feedback
                    <span class="badge navbarBagde" style="font-family: Arial; background: #FFA500"></span>
                </a>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Konto <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a asp-area="" asp-controller="manage" asp-action="profile" style="padding: 0 0 0 25px; line-height: 50px">Vis profil</a></li>
                    <li><a asp-area="" asp-controller="manage" asp-action="edit" style="padding: 0 0 0 25px; line-height: 50px">Rediger profil</a></li>
                    <li><a asp-area="" asp-controller="manage" asp-action="influencer" style="padding: 0 0 0 25px; line-height: 50px">@isInfluencer</a></li>
                    <li><a asp-area="" asp-controller="manage" asp-action="notifications" style="padding: 0 0 0 25px; line-height: 50px">Indstillinger</a></li>
                    <li><a id="logOutMobile" href="#" style="padding: 0 0 0 25px; line-height: 50px">Log af</a></li>
                </ul>
            </li>
        </ul>*@

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a id="signup" class="login-links navLinks" data-toggle="modal" data-target="#opretModal">Tilmeld dig</a></li>
        <li><a style="padding-left: 0; padding-right: 0" class="hidden-xs">|</a></li>
        <li><a class="login-links navLinks" data-toggle="modal" data-target="#loginModal">Log ind</a></li>
    </ul>
}