@inject UserManager<ApplicationUser> UserManager
@inject RateBlog.Services.IFeedbackService FeedbackService
@inject RateBlog.Services.Interfaces.IInfluencerService InfluencerService
@{
    var user = await UserManager.GetUserAsync(User);
    var isInfluencer = await InfluencerService.IsUserInfluencerAsync(user.Id); 
}

<div class="navbar-addon">
    <div class="container">
        <div class="col-md-12 col-xs-12 noPadding">
            <div class="col-md-2 col-xs-2 noPadding addon-box">
                <div class="addon-img-container">
                    <img src="@Url.Action("ProfilePic", "Manage")" />
                </div>
            </div>
            <div class="col-md-5 col-xs-9 addon-box">
                <div class="addon-number" style="text-align: left">
                    <h3>@user.Name</h3>
                    @if (isInfluencer)
                    {
                        <p style="margin-top: 10px;">Influencer</p>
                    }
                    else
                    {
                        <p style="margin-top: 10px;">Følger</p>
                    }

                </div>
            </div>

            <div class="col-md-5 col-xs-12 addon-box">
                @if (!isInfluencer)
                {
                    <div class="addon-number" style="width: 50%; padding-right:50px;">
                        <h1>@FeedbackService.GetUserFeedbackCount(user.Id)</h1>
                        <p>Ratings</p>
                    </div>
                    <div class="addon-number" style="width: 50%">
                        <h1>@FeedbackService.GetUserFeedbackAnswersCount(user.Id)</h1>
                        <p>Svar</p>
                    </div>
                }
                else
                {
                    <div class="addon-number" style="width: 33.3%">
                        <h1>@FeedbackService.GetInfluencerFeedbackCount(user.Id)</h1>
                        <p>Ratings</p>
                    </div>
                    <div class="addon-number" style="width: 33.3%">
                        <h1>@FeedbackService.GetInfluencerFeedbackAnswersCount(user.Id)</h1>
                        <p>Svaret</p>
                    </div>
                    <div class="addon-number" style="width: 33.3%">
                        <h1>@FeedbackService.GetTotalScore(user.Id)</h1>
                        <p>Total Score</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>




