@model RateBlog.Models.RatingViewModels.RatingViewModel
@inject RateBlog.Repository.IRatingRepository RatingRepository
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Feedback til " + Model.Influenter.Alias;
}

<div class="navbar-allaround"></div>

@if (TempData["Error"] != null)
{
    <div id="rateInfluencerErr" class="alert fade in alert-danger alert-dismissable alert-mobile" style="margin-top: 11px; position: absolute; z-index: 5000; left: 20%; right: 20%">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["Error"]
    </div>

    <script>
        window.setTimeout(function () {
            $("#rateInfluencerErr").fadeOut(1000);
        }, 2000);
    </script>
}

<div class="navbar-addon">
    <div class="container">
        <div class="col-md-12 col-xs-12 noPadding">
            <div class="col-md-2 col-xs-2 noPadding addon-box">
                <div class="addon-img-container">
                    <img src="@Url.Action("UsersProfilePic", "Manage", new { id = UserManager.Users.SingleOrDefault(x => x.InfluenterId.Value == Model.Influenter.InfluenterId).Id })" />
                </div>
            </div>
            <div class="col-md-5 col-xs-9 addon-box">
                <div class="addon-number" style="text-align: left">
                    <p>Anmeldelse af</p>
                    <h3>@Model.Influenter.Alias</h3>
                </div>
                
            </div>
            <div class="col-md-5 col-xs-12 addon-box">
                <div class="addon-number">
                    <h1>@RatingRepository.GetInfluenterRatingNumber(Model.Influenter.InfluenterId)</h1>
                    <p>Anmeldelser</p>
                </div>
                <div class="addon-number">
                    <h1>@Math.Round(RatingRepository.GetAnswerPercentageForInfluencer(Model.Influenter.InfluenterId), 1)%</h1>
                    <p>Svar procent</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bottom-container">

    @*<h2 class="text-center" style="padding: 25px 0 25px 0; margin: 0">Dit feedback</h2>
    <h2 class="text-center" style="margin: 25px 0 25px 0">Giv dit feedback til @Model.Influenter.Alias</h2>*@

    <div class="container">
        <form asp-area="" asp-controller="Rating" asp-action="RateInfluencer">
            @Html.HiddenFor(x => x.Influenter.InfluenterId)
            @Html.HiddenFor(x => x.Influenter.Alias)

            <div class="col-md-12 col-sm-12 rating-box" id="kvalitetBox">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <h4>Kvalitet</h4>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 noPadding">
                    <fieldset class="rating center-block" id="kvalitetCheckBox">
                        <input type="radio" id="field1_star5" name="kvalitet" value="5" /><label class="full" for="field1_star5"></label>

                        <input type="radio" id="field1_star4" name="kvalitet" value="4" /><label class="full" for="field1_star4"></label>

                        <input type="radio" id="field1_star3" name="kvalitet" value="3" /><label class="full" for="field1_star3"></label>

                        <input type="radio" id="field1_star2" name="kvalitet" value="2" /><label class="full" for="field1_star2"></label>

                        <input type="radio" id="field1_star1" name="kvalitet" value="1" /><label class="full" for="field1_star1"></label>

                    </fieldset>

                    <i class="fa fa-check fa-3x pull-right" id="kvalitetCheck" aria-hidden="true" style="display: none"></i>

                </div>
                <div class="col-md-2 col-sm-2 hidden-xs">
                    <a style="padding-left: 5px"  class="pull-right" title="Kvalitet" data-content="Er influencerens indhold originalt og af høj kvalitet? " data-toggle="popover" data-trigger="hover" data-placement="left">
                        <i class="fa fa-question-circle fa-2x" aria-hidden="true" style="color: #08468d;"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 rating-box" id="troværdighedBox">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <h4>Troværdighed</h4>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 noPadding">
                    <fieldset class="rating center-block" id="troværdighedCheckBox">
                        <input type="radio" id="field2_star5" name="troværdighed" value="5" /><label class="full" for="field2_star5"></label>

                        <input type="radio" id="field2_star4" name="troværdighed" value="4" /><label class="full" for="field2_star4"></label>

                        <input type="radio" id="field2_star3" name="troværdighed" value="3" /><label class="full" for="field2_star3"></label>

                        <input type="radio" id="field2_star2" name="troværdighed" value="2" /><label class="full" for="field2_star2"></label>

                        <input type="radio" id="field2_star1" name="troværdighed" value="1" /><label class="full" for="field2_star1"></label>

                    </fieldset>

                    <i class="fa fa-check fa-3x pull-right" id="troværdighedCheck" aria-hidden="true" style="display: none"></i>

                </div>
                <div class="col-md-2 col-sm-2 hidden-xs">
                    <a style="padding-left: 5px"  class="pull-right" title="Troværdighed" data-content=" Hvor meget stoler du på hvad influenceren siger?" data-toggle="popover" data-trigger="hover" data-placement="left">
                        <i class="fa fa-question-circle fa-2x" aria-hidden="true" style="color: #08468d;"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 rating-box" id="opførselBox">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <h4>Opførsel</h4>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 noPadding">
                    <fieldset class="rating center-block" id="opførselCheckBox">
                        <input type="radio" id="field3_star5" name="opførsel" value="5" /><label class="full" for="field3_star5"></label>

                        <input type="radio" id="field3_star4" name="opførsel" value="4" /><label class="full" for="field3_star4"></label>

                        <input type="radio" id="field3_star3" name="opførsel" value="3" /><label class="full" for="field3_star3"></label>

                        <input type="radio" id="field3_star2" name="opførsel" value="2" /><label class="full" for="field3_star2"></label>

                        <input type="radio" id="field3_star1" name="opførsel" value="1" /><label class="full" for="field3_star1"></label>

                    </fieldset>

                    <i class="fa fa-check fa-3x pull-right" id="opførselCheck" aria-hidden="true" style="display: none"></i>

                </div>
                <div class="col-md-2 col-sm-2 hidden-xs">
                    <a style="padding-left: 5px"  class="pull-right" title="Opførsel" data-content="Hvordan er influencerens sprogbrug, opførsel og moral?" data-toggle="popover" data-trigger="hover" data-placement="left">
                        <i class="fa fa-question-circle fa-2x" aria-hidden="true" style="color: #08468d;"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 rating-box" id="interaktionBox">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <h4>Interaktion</h4>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 noPadding">
                    <fieldset class="rating center-block" id="interaktionCheckBox">
                        <input type="radio" id="field4_star5" name="interaktion" value="5" /><label class="full" for="field4_star5"></label>

                        <input type="radio" id="field4_star4" name="interaktion" value="4" /><label class="full" for="field4_star4"></label>

                        <input type="radio" id="field4_star3" name="interaktion" value="3" /><label class="full" for="field4_star3"></label>

                        <input type="radio" id="field4_star2" name="interaktion" value="2" /><label class="full" for="field4_star2"></label>

                        <input type="radio" id="field4_star1" name="interaktion" value="1" /><label class="full" for="field4_star1"></label>

                    </fieldset>

                    <i class="fa fa-check fa-3x pull-right" id="interaktionCheck" aria-hidden="true" style="display: none"></i>

                </div>
                <div class="col-md-2 col-sm-2 hidden-xs">
                    <a style="padding-left: 5px"  class="pull-right" title="Interaktion" data-content="Er influenceren engageret i sine følgere samt god til at lytte og samarbejde med dem?" data-toggle="popover" data-trigger="hover" data-placement="left">
                        <i class="fa fa-question-circle fa-2x" aria-hidden="true" style="color: #08468d;"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 rating-box" id="anbefaling">
                <div class="col-md-4 col-sm-4">
                    <h4>Anbefaling</h4>
                </div>
                <div class="col-md-6 col-sm-6 noPadding">
                    <div class="rating-radio">
                        <div class="radio-inline">
                            <input id="question1" name="anbefaling" type="radio" class="with-font" value="true" />
                            <label for="question1">Ja</label>
                        </div>
                        <div class="radio-inline">
                            <input id="question2" name="anbefaling" type="radio" class="with-font" value="false" />
                            <label for="question2">Nej</label>
                        </div>
                    </div>

                </div>
                <div class="col-md-2 col-sm-2 hidden-xs">
                    <a style="padding-left: 5px" class="pull-right" title="Anbefaling" data-content="Vil du anbefale influenceren til en ven eller et familiemedlem?" data-toggle="popover" data-trigger="hover" data-placement="left">
                        <i class="fa fa-question-circle fa-2x" aria-hidden="true" style="color: #08468d;"></i>
                    </a>
                </div>

            </div>

            <div class="col-md-12 col-sm-12 rating-box" style="border-bottom: none; height: 100%" id="feedbackText">
                <div class="col-md-4 col-sm-4">
                    <h4>Feedback</h4>
                </div>
                <div class="col-md-6 col-sm-6">
                    <textarea class="rating-input" asp-for="@Model.Review" rows="8" placeholder="Hvad kan du godt lide ved influenceren og dennes indhold, hvad mener du der kan gøres bedre og hvad baserer du din feedback på?"></textarea>
                </div>
 
            </div>

            <div class="col-md-offset-4 col-md-6 col-xs-12">
                <input type="submit" style="margin-bottom: 20px" class="edit-button-feedback" value="Send" />
            </div>

        </form>

    </div>
</div>