@model RateBlog.Models.AccountViewModels.ProfileViewModel
@inject RateBlog.Services.IFeedbackService FeedbackService
@inject RateBlog.Repository.IRepository<Influencer> InfluencerRepo
@{
    ViewData["Title"] = Model.ApplicationUser.Name + "'s profil";
}

<div style="padding-bottom: 100px;">

    <div class="navbar-allaround"></div>

    <div class="container">
        <div class="col-md-12 margin-top">
            <img class="profil-img center-block" src="@Url.Action("UsersProfilePic", "Manage", new { Id = Model.ApplicationUser.Id })" />
            <div class="text-center">
                <h2 class="responsive-visProfil-h2">@Model.ApplicationUser.Name</h2>
                <h3>Følger</h3>
                <hr />
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4 col-sm-4">

                @foreach (var v in FeedbackService.GetLast3Feedback(Model.ApplicationUser.Id))
                {
                    <div class="feedback-container">
                        <div class="col-md-3">
                            <a asp-controller="Influencer" asp-action="Profile" asp-route-id="@v.InfluenterId">
                                <img class="center-block" src="@Url.Action("UsersProfilePic", "Manage", new { id = v.InfluenterId })" />
                            </a>
                        </div>
                        <div class="col-md-9 noPadding">
                            <p class="text-center" style="padding-top: 2px">@InfluencerRepo.Get(v.InfluenterId).Alias</p>

                            <div class="show-rating-box" style="margin: 0; text-align: center; width: 100%">
                                <div class="show-rating">
                                    <div class="show-rating-front">
                                        @for (int i = 0; i < FeedbackService.GetSingleFeedbackScoreAverage(v.Id); i++)
                                        {
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        }
                                    </div>
                                    <div class="show-rating-back">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>

            <div class="col-md-4 col-sm-4 profile-text">
                <hr class="visible-xs" />
                @if (!string.IsNullOrEmpty(Model.ApplicationUser.ProfileText))
                {
                    <p style="white-space: pre-line">@Model.ApplicationUser.ProfileText </p>
                    <hr />
                }

                <p>
                    Køn:
                    <span style="float:right">
                        @Model.Gender
                    </span>
                </p>
                <p>
                    Aldersgruppe:
                    <span style="float:right;">
                        @Model.AgeGroup
                    </span>
                </p>

            </div>

            <div class="col-md-4 col-sm-4">
                <hr class="visible-xs" />
                <div class="center-block">
                    <div class="icon-box">
                        <span class="fa fa-video fa-star fa-star-video" style="width: 40px; font-size: 15px !important;"></span>
                        <span class="margin-left" style="font-size: 18px">@FeedbackService.GetUserFeedbackCount(Model.ApplicationUser.Id) Ratings</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>