@model RateBlog.Models.AccountViewModels.ProfileViewModel
@inject RateBlog.Services.IFeedbackService FeedbackService
@inject RateBlog.Repository.IRepository<Influencer> InfluencerRepo
@{
    ViewData["Title"] = Model.ApplicationUser.Name + "'s profil";
}

<div style="padding-bottom: 100px; min-height: 100vh; background: #fafafa">

    <div class="navbar-allaround"></div>

    <div class="container" style="padding-top: 40px;">

        <div class="col-md-offset-4 col-md-4 nopaddingmobile">
            <div class="profile-box">
                <img class="profil-img center-block" style="margin-bottom: 40px; margin-top: 25px" src="@Url.Action("UsersProfilePic", "Manage", new { id = Model.ApplicationUser.Id })" />
                <hr />
                <h3>@Model.ApplicationUser.Name</h3>
                <h5>@Model.Age år</h5>
                <h5>@Model.Gender</h5>
                @if (!string.IsNullOrEmpty(Model.ApplicationUser.ProfileText))
                {
                    <br />
                    <h3 style="font-family: 'Anton', sans-serif;">BIO</h3>
                    <p style="word-break: break-word">@Model.ApplicationUser.ProfileText</p>
                }               
            </div>

        </div>
    </div>
    
</div>