@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Nulstil kodeord";
}

<div class="navbar-allaround"></div>

<div class="container">
    <div class="col-md-offset-3 col-md-6">
        <h2>Nulstil dit kodeord</h2>
        <hr />
        <form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal">

            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="@Model.Code" type="hidden" />
            <p>Din email:</p>
            <input asp-for="@Model.Email" class="edit-input" />
            <span asp-validation-for="@Model.Email" class="text-danger" style="margin-left: 5px;"></span>

            <p>Nye kodeord:</p>
            <input asp-for="@Model.Password" class="edit-input" />
            <span asp-validation-for="@Model.Password" class="text-danger" style="margin-left: 5px;"></span>

            <p>Bekræft kodeord:</p>
            <input asp-for="@Model.ConfirmPassword" class="edit-input" />
            <span asp-validation-for="@Model.ConfirmPassword" class="text-danger" style="margin-left: 5px;"></span>

            <button type="submit" class="edit-button" style="margin-top: 20px; background-color: #ffa500">Skift kodeord</button>

        </form>

    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
