@*<div class="feed">
    <div class="feed-body">
        <div class="col-md-1 col-sm-1 noPadding">
            <img class="profileimg" src="~/images/CH.png" />
        </div>
        <div class="col-md-11 col-sm-11">
            <div class="feed-top">
                <a href="#" class="profile-link">CHRISTOFFER JESPERSEN</a>
                <span class="time">@FeedService.GetTimeString(v.TimeSincePublished)</span>

                @if (v.Type == "Blog")
                {
                    <span class="type"><i class="fa fa-globe" aria-hidden="true" style="color: #5E9DC8"></i> Blog</span>
                }
                else if (v.Type == "Youtube")
                {
                    <span class="type"><i class="fa fa-youtube-play" aria-hidden="true" style="color: #bb0000"></i> YouTube</span>
                }
                else if (v.Type == "Instagram")
                {
                    <span class="type"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</span>
                }

            </div>
            <h4 style="font-weight: bold;">@v.Title</h4>
            <p>@v.Description</p>

            @if (v.Type == "Blog")
            {
                <img class="blog-img" @v.Src />
                                <a target="_blank" href="@v.Link" class="go-link">Læs mere</a>
            }
            else if (v.Type == "Youtube")
            {
                <div class="videoWrapper">
                    <iframe width="560" height="349" src="@v.Src" allowfullscreen frameborder="0"></iframe>
                </div>
                                <a target="_blank" class="go-link" href="@v.Link">Se video</a>
            }
            else if (v.Type == "Instagram")
            {
                <img class="blog-img" src="@v.Src" />
                                <a target="_blank" class="go-link" href="@v.Link">Se profil</a>
            }

            <a target="_blank" class="go-link feedback-btn" href="@v.Link">Giv feedback</a>

        </div>
    </div>
</div>*@