@model RateBlog.Models.BlogViewModel.BlogViewModel

@{
    ViewData["Title"] = "Opret en artikel";


}


<div class="navbar-allaround">

</div>
<div class="container">
    <div >
        <h1 style="text-align:center;font-family:'Book Antiqua';font-size:60px">Skriv din egen artikel</h1>
        <br />
    </div>

    <form id="createBlog" method="post" asp-controller="Blog" asp-action="CreateArticle" enctype="multipart/form-data">

        <div>
            <input asp-for="@Model.Blog.ArticleHeader" class="blog-input-styling" placeholder="Titel" />  
            <br />
            <input type="text" class="blog-input-styling" asp-for="@Model.Blog.DateTime" placeholder="Dato" id="datepicker">
            <br />
            <input type="text" class="blog-input-styling" asp-for="@Model.Blog.Categories" placeholder="Katagorier" />
            <br />
            <input type="text" class="blog-input-styling" asp-for="@Model.Blog.Author" placeholder="Forfatter" />
        </div>
     
        <div style="margin-top:15px;">
            <input asp-for="@Model.Blog.BriefText" class="blog-input" placeholder="Index beskrivelse" style="direction: rtl; text-align:left   ;" />
        </div>
    </form>

</div>


    <div class="container">
      
        <textarea form="createBlog" asp-for="@Model.Blog.ArticleText" id="txtEditor" style="min-height:1000px;"></textarea>
    </div>

    <div class="container" style="text-align:center">

        <h3 style="padding-bottom:15px;">Indsæt index billede</h3>
        <input form="createBlog" style="background:orange;margin-left:437px;" type="file" value="Indsæt billed" class="blog-btn" asp-for="@Model.IndexPicture" />
        <h3 style="padding-bottom:15px;">Indsæt artikel billede</h3>
        <input form="createBlog" style="background:orange;margin-left:437px;"" type="file" value="Indsæt billed" class="blog-btn" asp-for="@Model.ArticlesPicture" />
        <h3>Offentliggør artikel</h3>
        <input form="createBlog" style="background:blue;" type="submit" class="blog-btn" value="Gem" />

    </div>

    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $("#txtEditor").jqte();
            });
        </script>


    }




