@model RateBlog.Models.BlogViewModel.BlogViewModel

@{
    ViewData["Title"] = "Blog Index";

}
<div class="navbar-allaround">

</div>
<div style="background:#f2f1ed;min-height:4000px;">

    <div class="container">
        <h1 class="blog-title">Blog</h1>
        
@foreach (var article in Model.BlogList)
{
    <div class="news-container">

            
        <div class="container">
            <div class="col-md-12 blog-index-pre">
                <div class="col-md-2 col-sm-2">
                    <div style="display:inline-block;vertical-align:top;">
                        <img class="blog-picture img-responsive img-thumbnail" src="@Url.Action("IndexProfilePic", "Blog", new { id = article.Id })" />
                    </div>
                </div>
                <div class="col-md-10 col-sm-10 blog-index-padding"> 
                    <h1 class="blog-index-articleheader">@article.ArticleHeader</h1>
                    <h4 class="blog-index-date">@article.DateTime af @article.Author | @article.Categories</h4>
                    <h4 class="blog-index-brieftext">@article.BriefText</h4>
                    <a asp-controller="Blog" asp-action="NewsPage" asp-route-id="@article.Id" class="blog-index-watchmore" >Læs mere </a>
                </div>

            </div>
        </div>
    </div>
}


    </div>
</div>
