@model RateBlog.Models.BlogViewModel.BlogViewModel
@{
    ViewData["Title"] = "Artikel navn";

}

<div class="navbar-allaround">

</div>



<div style="background:#f2f1ed;min-height:4000px;">
   
    <div class="container">

        <div id="top" style="background-color:gray">

            <div class="jumbotron" style="background-color:white">
                <div class="blog-page-img" style="display:inline-block;">
                    <img class="img-responsive img-thumbnail" style="align-content:center" src="@Url.Action("BlogProfilePic", "Blog", new { id = Model.Blog.Id} )" />
                </div>

                <div>
                    <h1>@Model.Blog.ArticleHeader</h1>
                </div>
                <div>
                    <h4 class="blog-author">@Model.Blog.DateTime af @Model.Blog.Author</h4>
                    <h4 class="blog-categories">@Model.Blog.Categories</h4>
                </div>

                <div>
                    @Html.Raw(Model.Blog.ArticleText)
                </div>

            </div>

        </div>


    </div>

</div>
