@model FeedbackResponseViewModel
@inject RateBlog.Services.IFeedbackService FeedbackService
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Feedback";
}

<div class="background-all">
    <div class="navbar-allaround"></div>

    <div class="container">
        <div class="col-md-12 noPadding" style="padding-top: 40px;">
            <div class="col-md-offset-2 col-md-8 nopaddingmobile">
                <div class="col-md-12 col-sm-12 col-xs-12 white-box read-feedback-container">
                    <h2>Din feedback fra @Model.Rating.ApplicationUser.Name</h2>
                    <hr />
                    <div class="col-md-6">
                        <p>Troværdighed</p>

                        <div class="show-rating">
                            <div class="show-rating-container center-block" style="width: 164px; float: none;">
                                <div class="show-rating-front">
                                    @for (int i = 0; i < Model.Rating.Troværdighed; i++)
                                    {
                                        <div class="show-rating-box">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    }
                                </div>
                                <div class="show-rating-back">
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">


                        <p>Opførsel</p>

                        <div class="show-rating">
                            <div class="show-rating-container center-block" style="width: 164px; float: none;">
                                <div class="show-rating-front">
                                    @for (int i = 0; i < Model.Rating.Opførsel; i++)
                                    {
                                        <div class="show-rating-box">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    }
                                </div>
                                <div class="show-rating-back">
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">

                        <p>Kvalitet</p>

                        <div class="show-rating">
                            <div class="show-rating-container center-block" style="width: 164px; float: none;">
                                <div class="show-rating-front">
                                    @for (int i = 0; i < Model.Rating.Kvalitet; i++)
                                    {
                                        <div class="show-rating-box">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    }
                                </div>
                                <div class="show-rating-back">
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p>Interaktion</p>

                        <div class="show-rating">
                            <div class="show-rating-container center-block" style="width: 164px; float: none;">
                                <div class="show-rating-front">
                                    @for (int i = 0; i < Model.Rating.Interaktion; i++)
                                    {
                                        <div class="show-rating-box">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    }
                                </div>
                                <div class="show-rating-back">
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 noPadding">
                        <hr style="margin-top: 40px" />

                        <p>@Model.Rating.ApplicationUser.Name har skrevet følgende om dig:</p>

                        <div class="col-md-6">
                            <p style="text-align: left; font-size: 15px"><b>@Model.Rating.ApplicationUser.Name synes godt om følgende:</b></p>
                            <p class="normal-text">@Model.Rating.FeedbackGood</p>
                        </div>
                        <div class="col-md-6">
                            <p style="text-align: left; font-size: 15px"><b>@Model.Rating.ApplicationUser.Name synes du kan forbedre følgende:</b></p>
                            <p class="normal-text">@Model.Rating.FeedbackBetter</p>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <hr />
                        <p>Hvad har du at sige om denne feedback?</p>
                        <form asp-area="" asp-controller="Manage" asp-action="AnswerFeedback">
                            @Html.HiddenFor(x => x.Rating.Id)
                            <div class="textarea-container nopaddingmobile">
                                <textarea asp-for="@Model.Rating.Answer" placeholder="Altid hold den gode tone"></textarea>
                            </div>
                            <div style="padding-left: 40px; padding-right: 40px;" class="nopaddingmobile">
                                <button type="submit" class="give-feedback-btn" id="sendBtn" style="margin-top: 25px; margin-bottom: 25px;">SEND SVAR</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var id = {};
        id = '@Model.Rating.Id';

        $.ajax({
            url: "/Manage/ReadFeedback",
            method: "POST",
            dataType: 'json',
            data: {
                id: id
            },
            success: function (result) {
                updateNotification(result);
            },
            error: function () {
                console.log("fail");
            }
        });
    </script>
}