@model EditProfileViewModel
@{
    ViewData["Title"] = "Rediger din profil";
}

<div class="background-all">

    <div class="navbar-allaround"></div>

    @if (TempData["Success"] != null)
    {
        <div id="editUserSuc" class="alert fade in alert-success alert-dismissable alert-mobile" style="margin-top: 11px; position: absolute; z-index: 5; left: 20%; right: 20%">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @TempData["Success"]
        </div>

        <script>
            window.setTimeout(function () {
                $("#editUserSuc").fadeOut(1000);
            }, 2000);
        </script>
    }
    @if (TempData["Error"] != null)
    {
        <div id="editUserErr" class="alert fade in alert-danger alert-dismissable alert-mobile" style="margin-top: 11px; position: absolute; z-index: 5; left: 20%; right: 20%">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @TempData["Error"]
        </div>

        <script>
            window.setTimeout(function () {
                $("#editUserErr").fadeOut(1000);
            }, 2000);
        </script>
    }

    <div class="container nopaddingmobile">
        <div class="edit-user-container">
            <div class="col-md-6">
                <div class="white-box">
                    <h2 style="text-align: center">Bruger oplysninger</h2>
                    <form enctype="multipart/form-data" asp-area="" asp-controller="Manage" asp-action="Edit">
                        <p style="margin-top: 5px">Navn</p>
                        <input type="text" asp-for="@Model.Name" />

                        <p>Email</p>
                        <input type="text" asp-for="@Model.Email" />

                        <p>Fødselsdato</p>
                        <input type="text" asp-for="@Model.Birthday" />

                        <p>Postnummer</p>
                        <input type="text" asp-for="@Model.Postnummer" />

                        <p>Profilbillede</p>
                        <input type="file" name="profilePic" />

                        <p>Køn</p>
                        <div class="control-group">
                            <label class="control control-radio">
                                Mand
                                <input type="radio" name="gender" asp-for="@Model.Gender" value="male" />
                                <div class="control_indicator"></div>
                            </label>
                            <label class="control control-radio">
                                Kvinde
                                <input type="radio" name="gender" asp-for="@Model.Gender" value="female" />
                                <div class="control_indicator"></div>
                            </label>
                        </div>

                        <button>Gem oplysninger</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6 hidden-sm hidden-xs">
                <div class="white-box">
                    <h2 style="text-align: center">Gensidig troværdighed</h2>

                    <p class="normal-text" style="line-height: 180%; padding: 0 10px 10px 10px;">Hos Bestfluence er dit navn, alder, køn og profilbillede offentligt tilgængelig for alle vore besøgende, således at dine bidrag kan bruges. Vi vil derfor opfordre dig til at angive korrekte oplysninger, således dine bidrag kan gøre en forskel for andre.</p>
                </div>
            </div>
        </div>
    </div>
</div>
