@model EditProfileViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}


<div class="navbar-allaround"></div>

<div class="container">
    <div class="editprofile-head">
        <h2>Rediger din profil</h2>

        @if (user.InfluenterId != null)
        {
            <button id="redigerInfluenterBtn" class="active">INFLUENTER</button>
        }
        else
        {
            <button id="redigerFanBtn" class="active">FAN</button>
            <button id="redigerInfluenterBtn">INFLUENTER</button>
        }

    </div>
    <hr />
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> @TempData["Success"]
        </div>
    }
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Fejl!</strong> @TempData["Error"]
        </div>
    }
    <div id="redigerFanContainer">
        <h4><b>Personlig profil</b></h4>
        <br />
        <form asp-area="" asp-controller="Manage" asp-action="EditProfile">
            <input asp-for="@Model.IsInfluenter" value="false" hidden="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger" style="margin-left: -40px;"></div>
            <p>Fulde navn:</p>
            <input asp-for="@Model.Name" class="edit-input" />
            <span asp-validation-for="@Model.Name" class="text-danger" style="margin-left: 5px;"></span>

            <p>Email:</p>
            <input asp-for="@Model.Email" class="edit-input" />
            <span asp-validation-for="@Model.Email" class="text-danger" style="margin-left: 5px;"></span>

            <p>Fødselsdag:</p>
            <input asp-for="@Model.Birth" class="edit-input" type="date" />
            <span asp-validation-for="@Model.Birth" class="text-danger" style="margin-left: 5px;"></span>

            <p>By:</p>
            <input asp-for="@Model.City" class="edit-input" />
            <span asp-validation-for="@Model.City" class="text-danger" style="margin-left: 5px;"></span>

            <p>Telefon nummer:</p>
            <input asp-for="@Model.PhoneNumber" class="edit-input" />
            <span asp-validation-for="@Model.PhoneNumber" class="text-danger" style="margin-left: 5px;"></span>

            <hr />
            <h4><b>Profil information</b></h4>
            <br />

            <p>Profiltekst:</p>
            <textarea asp-for="@Model.ProfileText" class="edit-input" rows="6" style="height: auto;"></textarea>
            <span asp-validation-for="@Model.ProfileText" class="text-danger" style="margin-left: 5px;"></span>
            <input type="submit" class="edit-button" value="Gem" />
        </form>


    </div>

    <div id="redigerInfluenterContainer">

        <h4><b>Personlig profil</b></h4>
        <br />
        <form asp-area="" asp-controller="Manage" asp-action="EditInfluenterProfile" >
            <input asp-for="@Model.IsInfluenter" value="true" hidden="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger" style="margin-left: -40px;"></div>
            <p>Fulde navn:</p>
            <input asp-for="@Model.Name" class="edit-input" />
            <span asp-validation-for="@Model.Name" class="text-danger" style="margin-left: 5px;"></span>

            <p>Email:</p>
            <input asp-for="@Model.Email" class="edit-input" />
            <span asp-validation-for="@Model.Email" class="text-danger" style="margin-left: 5px;"></span>

            <p>Fødselsdag:</p>
            <input asp-for="@Model.Birth" class="edit-input" type="date" />
            <span asp-validation-for="@Model.Birth" class="text-danger" style="margin-left: 5px;"></span>

            <p>By:</p>
            <input asp-for="@Model.City" class="edit-input" />
            <span asp-validation-for="@Model.City" class="text-danger" style="margin-left: 5px;"></span>

            <p>Telefon nummer:</p>
            <input asp-for="@Model.PhoneNumber" class="edit-input" />
            <span asp-validation-for="@Model.PhoneNumber" class="text-danger" style="margin-left: 5px;"></span>


            <!--Influenter Profil-->


            <hr>
            <h4><b>Influenter profil</b></h4>
            <br />

            <p>Alias/kaldenavn:</p>
            <input asp-for="@Model.Influenter.Alias" class="edit-input" />
            <span asp-validation-for="@Model.Influenter.Alias" class="text-danger" style="margin-left: 5px;"></span>

            <p>Dine sociale medier:</p>

            <div class="edit-social-box">
                <a class="fa fa-edit fa-facebook fa-facebook-edit"></a>
                <span><input id="editFacebook" asp-for="@Model.FacebookLink" type="text" placeholder="Facebook link" /><span class="margin-left" id="editFacebookText"></span></span>
            </div>

            <div class="edit-social-box">
                <a class="fa fa-edit fa-instagram fa-instagram-edit"></a>
                <span><input id="editInstagram" asp-for="@Model.InstagramLink" type="text" placeholder="Instagram navn" /><span class="margin-left" id="editInstagramText"></span></span>
            </div>

            <div class="edit-social-box">
                <a class="fa fa-edit fa-snapchat-ghost fa-snapchat-ghost-edit"></a>
                <span id="editSnapchat"><input asp-for="@Model.SnapchatLink" type="text" placeholder="Snapchat navn" /></span>
            </div>

            <div class="edit-social-box">
                <a class="fa fa-edit fa-youtube fa-youtube-edit"></a>
                <span id="editYoutube"><input asp-for="@Model.YoutubeLink" type="text" placeholder="Youtube link" /></span>
            </div>

            <div class="edit-social-box">
                <a class="fa fa-edit fa-linkedin fa-linkedin-edit"></a>
                <span id="editLinkedin"><input asp-for="@Model.LinkedinLink" type="text" placeholder="LinkedIn navn" /></span>
            </div>

            <div class="edit-social-box">
                <a class="fa fa-edit fa-globe fa-globe-edit"></a>
                <span id="editLinkedin"><input asp-for="@Model.WebsiteLink" type="text" placeholder="Hjemmeside link" /></span>
            </div>

            <br />
            <p>Profiltekst:</p>
            <textarea asp-for="@Model.ProfileText" class="edit-input" rows="6" style="height: auto;"></textarea>
            <span asp-validation-for="@Model.ProfileText" class="text-danger" style="margin-left: 5px;"></span>

            <input type="submit" class="edit-button" value="Gem" />
        </form>


    </div>

</div>

