@model EditProfileViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    ViewData["Title"] = "Rediger din profil";
}

 
<div class="navbar-allaround"></div>

@if (TempData["Success"] != null)
{
    <div id="editUserSuc" class="alert fade in alert-success alert-dismissable alert-mobile" style="margin-top: 11px; position: absolute; z-index: 5000; left: 20%; right: 20%">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["Success"]
    </div>

    <script>
        window.setTimeout(function () {
            $("#editUserSuc").fadeOut(1000);
        }, 2000);
    </script>
}
@if (TempData["Error"] != null)
{
    <div id="editUserErr" class="alert fade in alert-danger alert-dismissable alert-mobile" style="margin-top: 11px; position: absolute; z-index: 5000; left: 20%; right: 20%">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["Error"]
    </div>

    <script>
    window.setTimeout(function () {
        $("#editUserErr").fadeOut(1000);
    }, 2000);
    </script>
}

@Html.Partial("_NavbarAddonPartial")

<div style="background: #fff; min-height: 80vh; padding-bottom: 100px;">
    <div class="container">
        <div class="editprofile-head">
            <h2 sstyle="margin: 0">Rediger profil</h2>
            @if (user.InfluenterId != null)
            {
                <button id="redigerInfluenterBtn" class="active">INFLUENCER</button>
            }
            else
            {
                <button id="redigerFanBtn" class="active">FØLGER</button>
                <button id="redigerInfluenterBtn">INFLUENCER</button>
            }
        </div>

        <br class="visible-xs" />
        <br class="visible-xs" />
        <br class="visible-xs" />
        <br />


        <div id="redigerFanContainer">
            <form enctype="multipart/form-data" asp-area="" asp-controller="Manage" asp-action="Edit">
                <input asp-for="@Model.IsInfluenter" value="false" hidden="hidden" />
                <div asp-validation-summary="ModelOnly" class="text-danger" style="margin-left: -40px;"></div>
                <p>Fulde navn:</p>
                <input asp-for="@Model.Name" class="edit-input-influ" />
                <span asp-validation-for="@Model.Name" class="text-danger" style="margin-left: 5px;"></span>

                <p>Email:</p>
                <input asp-for="@Model.Email" class="edit-input-influ" />
                <span asp-validation-for="@Model.Email" class="text-danger" style="margin-left: 5px;"></span>

                <p>Årgang:</p>
                <input asp-for="@Model.Year" class="edit-input-influ" type="number" />
                <span asp-validation-for="@Model.Year" class="text-danger" style="margin-left: 5px;"></span>

                <p>Postnummer:</p>
                <input asp-for="@Model.Postnummer" class="edit-input-influ" />
                <span asp-validation-for="@Model.Postnummer" class="text-danger" style="margin-left: 5px;"></span>

                <p style="margin-top: 20px;">Køn</p>
                <label>
                    <input asp-for="@Model.Gender" class="w3-radio" type="radio" name="gender" value="male">
                    Mand
                </label>
                <br />

                <label>
                    <input asp-for="@Model.Gender" class="w3-radio" type="radio" name="gender" value="female">
                    Dame
                </label>

                <p>Profilbillede:</p>
                <input type="file" name="profilePic" class="input-files" />
                <br />

                <p>Profiltekst:</p>
                <textarea asp-for="@Model.ProfileText" class="edit-input-influ" rows="7" style="height: auto;" placeholder="Skriv om dig selv og dine interesser"></textarea>
                <span asp-validation-for="@Model.ProfileText" class="text-danger" style="margin-left: 5px;"></span>

                <input type="submit" class="edit-button-influ-create " value="Gem" />

            </form>
        </div>

        <div id="redigerInfluenterContainer">
            <form enctype="multipart/form-data" asp-area="" asp-controller="Manage" asp-action="EditInfluenterProfile">
                <input asp-for="@Model.IsInfluenter" value="true" hidden="hidden" />
                <p>Fulde navn:</p>
                <input asp-for="@Model.Name" class="edit-input-influ" />
                <span asp-validation-for="@Model.Name" class="text-danger" style="margin-left: 5px;"></span>

                <p>Email:</p>
                <input asp-for="@Model.Email" class="edit-input-influ" />
                <span asp-validation-for="@Model.Email" class="text-danger" style="margin-left: 5px;"></span>

                <p>Årgang:</p>
                <input asp-for="@Model.Year" class="edit-input-influ" type="number" />
                <span asp-validation-for="@Model.Year" class="text-danger" style="margin-left: 5px;"></span>

                <p>Postnummer:</p>
                <input asp-for="@Model.Postnummer" class="edit-input-influ" />
                <span asp-validation-for="@Model.Postnummer" class="text-danger" style="margin-left: 5px;"></span>

                <p>Telefonnummer:</p>
                <input asp-for="@Model.PhoneNumber" class="edit-input-influ" />
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger" style="margin-left: 5px;"></span>

                <p style="margin-top: 20px;">Køn</p>
                <label>
                    <input asp-for="@Model.Gender" class="w3-radio" type="radio" name="gender" value="male">
                    Mand
                </label>
                <br />

                <label>
                    <input asp-for="@Model.Gender" class="w3-radio" type="radio" name="gender" value="female">
                    Dame
                </label>

                <p>Profilbillede:</p>
                <input type="file" name="ProfilePic" asp-for="@Model.ProfilePic"/>
                <br />

                <!--Influenter Profil-->

                <br />
                <h4><b>Influencer oplysninger:</b></h4>
                <br />

                <p>Alias</p>
                <input asp-for="@Model.Influenter.Alias" class="edit-input-influ" />
                <span asp-validation-for="@Model.Influenter.Alias" class="text-danger" style="margin-left: 5px;"></span>

                <p>Vælg dine kategorier:</p>
                <div class="choose-category">

                    @for (int i = 0; i < Model.IKList.Count; i++)
                    {
                        <label>
                            @Html.CheckBoxFor(x => x.IKList[i].IsSelected)
                            <span>@Model.IKList[i].KategoriNavn</span>
                            @Html.HiddenFor(x => x.IKList[i].KategoriNavn)
                        </label>
                    }
                </div>

                <p>Dine sociale medier:</p>

                <div class="edit-social-box">
                    <a class="fa fa-edit fa-facebook fa-facebook-edit"></a>
                    <span><input id="editFacebook" asp-for="@Model.FacebookLink" type="text" placeholder="Facebook link" /><span class="margin-left inside-span" id="editFacebookText"></span></span>
                </div>

                <div class="edit-social-box">
                    <a class="fa fa-edit fa-instagram fa-instagram-edit"></a>
                    <span><input id="editInstagram" asp-for="@Model.InstagramLink" type="text" placeholder="Instagram navn" /><span class="margin-left" id="editInstagramText"></span></span>
                </div>

                <div class="edit-social-box">
                    <a class="fa fa-edit fa-youtube fa-youtube-edit"></a>
                    <span><input id="editYoutube" asp-for="@Model.YoutubeLink" type="text" placeholder="Youtube link" /><span class="margin-left" id="editYoutubeText"></span></span>
                </div>

                <div class="edit-social-box">
                    <a class="fa fa-edit fa-snapchat-ghost fa-snapchat-ghost-edit"></a>
                    <span><input id="editSnapchat" asp-for="@Model.SnapchatLink" type="text" placeholder="Snapchat navn" /><span class="margin-left" id="editSnapchatText"></span></span>
                </div>

                <div class="edit-social-box">
                    <a class="fa fa-edit fa-twitter fa-twitter-edit"></a>
                    <span><input id="editTwitter" asp-for="@Model.TwitterLink" type="text" placeholder="Twitter navn" /><span class="margin-left" id="editTwitterText"></span></span>
                </div>

                <div class="edit-social-box">
                    <a class="fa fa-edit fa-twitch fa-twitch-edit"></a>
                    <span><input id="editTwitch" asp-for="@Model.TwitchLink" type="text" placeholder="Twitch navn" /><span class="margin-left" id="editTwitchText"></span></span>
                </div>

                <div class="edit-social-box">
                    <a class="fa fa-edit fa-globe fa-globe-edit"></a>
                    <span><input id="editWebsite" asp-for="@Model.WebsiteLink" type="text" placeholder="Hjemmeside link" /><span class="margin-left" id="editWebsiteText"></span></span>
                </div>

                <br />
                <p>Profiltekst:</p>
                <textarea asp-for="@Model.ProfileText" class="edit-input-influ" rows="6" style="height: auto;" placeholder="Skriv om dig selv og dine interesser"></textarea>
                <span asp-validation-for="@Model.ProfileText" class="text-danger" style="margin-left: 5px;" ></span>              

                <input type="submit" class="edit-button-influ-create" value="Gem" />
            </form>
            <h5>* Der kan gå op til 24 timer før din influencer profil bliver godkendt og bliver offentlig </h5>


        </div>

    </div>

</div>