@model FeedbackViewModel
@inject Bestfluence.Services.Interfaces.IFeedbackService FeedbackService
@inject UserManager<ApplicationUser> UserManager
@inject Bestfluence.Repository.IRepository<Feedback> FeedbackRepo
@inject Bestfluence.Repository.IInfluencerRepository InfluencerRepo
@{
    ViewData["Title"] = "Feedback";
    var totalScore = 0.0;
    var numberOfFeedback = 0;

    if (Model.Influencer != null)
    {
        totalScore = FeedbackService.GetTotalScore(Model.Influencer.Id);
        numberOfFeedback = Model.Influencer.Ratings.Count;
    }
}

<div class="background-all">

    <div class="navbar-allaround"></div>

    @if (TempData["Success"] != null)
    {
        <div id="anmeldelserSuc" class="alert fade in alert-success alert-dismissable alert-mobile" style="margin-top: 10px;  position: absolute; z-index: 5000; left: 20%; right: 20%">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @TempData["Success"]
        </div>
        <script>
            window.setTimeout(function () {
                $("#anmeldelserSuc").fadeOut(1000);
            }, 2000);
        </script>
    }

    @if (TempData["Error"] != null)
    {
        <div id="anmeldelserErr" class="alert fade in alert-danger alert-dismissable alert-mobile" style="margin-top: 10px;  position: absolute; z-index: 5000; left: 20%; right: 20%">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @TempData["Error"]
        </div>

        <script>
            window.setTimeout(function () {
                $("#anmeldelserErr").fadeOut(1000);
            }, 2000);
        </script>
    }

    <div class="container nopaddingmobile">

        <div class="feedback-container">
            <div class="col-md-12 nopaddingmobile">
                <div class="col-md-8">

                    <h2>Min feedback</h2>

                    @if (Model.Influencer != null)
                    {

                        @foreach (var v in Model.Influencer.Ratings.OrderByDescending(x => x.FeedbackDateTime))
                        {
                            <a asp-controller="Manage" asp-action="Answer" asp-route-id="@v.Id" style="color: #000; text-decoration: none;">
                                <div class="white-box hover col-md-12 col-sm-12">
                                    <div class="col-md-2 col-sm-2">
                                        <img src="@Url.Action("UsersProfilePic", "Manage", new { id = v.ApplicationUserId })" />
                                    </div>

                                    <div class="col-md-6 col-sm-6">
                                        <p style="margin-bottom: 3px">Du har fået feedback af @v.ApplicationUser.Name</p>
                                        <p style="color: #a8a8a8; margin-bottom: 0;">
                                            @String.Format("{0:dd/MM/yyyy}", v.FeedbackDateTime)
                                            <br class="hidden-xs hidden-sm" />

                                            @if (!v.IsRead)
                                            {
                                                <span class="label" style="font-family: Arial; background: #FFA500">Ny feedback</span>
                                            }
                                            else if (v.IsRead && string.IsNullOrEmpty(v.Answer))
                                            {
                                                <span class="label" style="font-family: Arial; background: #808080">Læst</span>
                                            }
                                            else if (v.IsRead && !string.IsNullOrEmpty(v.Answer))
                                            {
                                                <span class="label" style="font-family: Arial; background: #479b0a">Svaret</span>
                                            }

                                        </p>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="show-rating feedback-margin">
                                            <div class="show-rating-container center-block" style="width: 164px">
                                                <div class="show-rating-front">
                                                    @foreach (var p in FeedbackService.GetStars(FeedbackService.GetSingleScore(v.Id)))
                                                    {
                                                        if (p)
                                                        {
                                                            <div class="show-rating-box">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="show-rating-box">
                                                                <i class="fa fa-star-half" aria-hidden="true"></i>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                                <div class="show-rating-back">
                                                    <div class="show-rating-box">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="show-rating-box">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="show-rating-box">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="show-rating-box">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="show-rating-box">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </a>
                        }
                        if (Model.Influencer.Ratings.Count == 0)
                        {
                            <p>Du har ikke modtaget feedback</p>
                        }
                    }
                    else
                    {
                        var list = FeedbackRepo.GetAll().Where(x => x.ApplicationUserId == Model.ApplicationUser.Id).OrderByDescending(p => p.FeedbackDateTime);
                        if (list.Count() != 0)
                        {
                            @foreach (var v in list)
                            {
                                <a class="feedback-link" asp-controller="Manage" asp-action="Read" asp-route-id="@v.Id" style="color: #000; text-decoration: none;">
                                    <div class="white-box hover col-md-12 col-sm-12">
                                        <div class="col-md-2 col-sm-2">
                                            <img src="@Url.Action("UsersProfilePic", "Manage", new { id = v.InfluenterId })" />
                                        </div>

                                        <div class="col-md-6 col-sm-6">
                                            <p style="margin-bottom: 3px">Du har givet feedback til @InfluencerRepo.Get(v.InfluenterId).Alias</p>
                                            <p style="color: #a8a8a8; margin-bottom: 0;">
                                                @String.Format("{0:dd/MM/yyyy}", v.FeedbackDateTime)
                                                <br class="hidden-xs hidden-sm" />
                                                @if (!v.IsAnswerRead && !string.IsNullOrEmpty(v.Answer))
                                                {
                                                    <span class="label" style="font-family: Arial; background: #FFA500">Nyt svar</span>
                                                }
                                                else if (!string.IsNullOrEmpty(v.Answer))
                                                {
                                                    <span class="label" style="font-family: Arial; background: #479b0a">Læst</span>
                                                }
                                                else if (string.IsNullOrEmpty(v.Answer))
                                                {
                                                    <span class="label" style="font-family: Arial; background: #808080">Intet svar</span>
                                                }
                                            </p>

                                        </div>

                                        <div class="col-md-4">
                                            <div class="show-rating feedback-margin">
                                                <div class="show-rating-container center-block" style="width: 164px">
                                                    <div class="show-rating-front">
                                                        @foreach (var p in FeedbackService.GetStars(FeedbackService.GetSingleScore(v.Id)))
                                                        {
                                                            if (p)
                                                            {
                                                                <div class="show-rating-box">
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="show-rating-box">
                                                                    <i class="fa fa-star-half" aria-hidden="true"></i>
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="show-rating-back">
                                                        <div class="show-rating-box">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                        </div>
                                                        <div class="show-rating-box">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                        </div>
                                                        <div class="show-rating-box">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                        </div>
                                                        <div class="show-rating-box">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                        </div>
                                                        <div class="show-rating-box">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                        else
                        {
                            <p>Du har ikke givet noget feedback</p>
                        }
                    }


                </div>

                <div class="col-md-4 hidden-xs hidden-sm" style="padding-top: 73px">
                    <div class="white-box">

                        @if (Model.Influencer != null)
                        {
                            <h2 style="text-align: center;"><b>BESTSCORE</b></h2>
                            <div class="show-rating-medium" style="margin-top: 20px;">
                                <div class="show-rating-container-medium center-block">
                                    <div class="show-rating-front-medium">
                                        @foreach (var v in FeedbackService.GetStars(totalScore))
                                        {
                                            if (v)
                                            {
                                                <div class="show-rating-box-medium">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="show-rating-box">
                                                    <i class="fa fa-star-half" aria-hidden="true"></i>
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div class="show-rating-back-medium">
                                        <div class="show-rating-box-medium">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="show-rating-box-medium">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="show-rating-box-medium">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="show-rating-box-medium">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="show-rating-box-medium">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 style="text-align: center">@totalScore.ToString("0.00") ud af @numberOfFeedback feedbacks</h4>
                        }
                        else
                        {
                            <div style="padding: 5px">
                                <h2 style="text-align: center; margin-bottom: 20px; margin-top: 10px; font-size: 25px">Feedback</h2>
                                <p>Efter 24 timer har du muligheden for, at give feedback til den samme influencer igen. Dette gør, at du altid kan sige din mening!</p>
                            </div>
                            
                        }

                    </div>
                    @if (Model.Influencer == null)
                    {
                        <div class="white-box" style="padding: 20px">
                            <h2 style="text-align: center; margin-bottom: 20px; margin-top: 10px; font-size: 25px">Opret influencere</h2>
                            <p>Kan du ikke finde den influencer du ønsker at give feedback til? Du har mulighed for at oprette influenceren, og derefter give feedback!</p>
                            <a style="width: 100%; margin-top: 20px" class="btn-create" asp-action="Create" asp-controller="Influencer">Opret influencer</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>