@model IndexViewModel
@inject UserManager<ApplicationUser> UserManager
@inject RateBlog.Repository.IPlatformRepository PlatformRepository
@inject RateBlog.Repository.IKategoriRepository CategoryRepository
@inject RateBlog.Repository.IRatingRepository RatingRepository
@{
    ViewData["Title"] = "Vis profil";
    var user = await UserManager.GetUserAsync(User);

    string last = "";

    try
    {
        if (CategoryRepository.GetInfluentersCategories(user.InfluenterId.Value) != null)
        {
            last = CategoryRepository.GetInfluentersCategories(user.InfluenterId.Value).Last();
        }
    }
    catch (InvalidOperationException)
    {

    };
}

<div style="padding-bottom: 100px;">



    <div class="navbar-allaround"></div>

    <div class="container">
        <div class="col-md-12 margin-top">
            <img class="profil-img center-block" src="@Url.Action("ProfilePic", "Manage")" />
            <div class="text-center">
                <h2 class="responsive-visProfil-h2">@user.Name</h2>
                @if (user.InfluenterId != null && CategoryRepository.GetInfluentersCategories(user.InfluenterId.Value) != null)
                {
                    <h3 class="responsive-visProfil-h3">

                        @foreach (var v in CategoryRepository.GetInfluentersCategories(user.InfluenterId.Value))
                        {
                            if (v.Equals(last))
                            {
                                @v
                            }
                            else
                            {
                                @v <span> | </span>
                            }
                        }
                    </h3>
                }
                else if (user.InfluenterId != null)
                {
                    <h3>Ukendte kategorier</h3>
                }
                else
                {
                    <h3>Anmelder</h3>

                }
                <hr />
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4 col-sm-4">
                @if (user.InfluenterId.HasValue)
                {
                    @if (RatingRepository.HasRatings(user.InfluenterId.Value))
                    {
                        <h3 class="text-center">Fan rating:</h3>

                        <div class="outer">
                            <div class="middle">
                                <div class="inner">
                                    <div class="star-rating-show">
                                        <div class="back-stars" title="@Math.Round(RatingRepository.GetRatingAverage(user.InfluenterId.Value), 2)%">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <div class="front-stars" style="width: @RatingRepository.GetRatingAverage(user.InfluenterId.Value)%">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3 class="text-center">Ekspert rating:</h3>

                        <div class="outer">
                            <div class="middle">
                                <div class="inner">
                                    <div class="star-rating-show">
                                        <div class="back-stars" title="@Math.Round(RatingRepository.GetRatingAverage(user.InfluenterId.Value), 2)%">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <div class="front-stars" style="width: @RatingRepository.GetRatingAverage(user.InfluenterId.Value)%">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="text-center">Antal ratings: @RatingRepository.CountRatings(user.InfluenterId.Value)</p>
                    }
                    else
                    {
                        <h4>Du har ingen anmeldelser endnu</h4>
                    }
                }
                else
                {
                    @if (RatingRepository.GetLast3RatingsByFan(user.Id).Count != 0)
                    {
                        @foreach (var v in RatingRepository.GetLast3RatingsByFan(user.Id))
                        {
                            <div class="last3rating">
                                <h3>Sidste 3 anmeldelser</h3>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 last3ratingFan">
                                <div class="col-md-3 col-sm-12 col-xs-12">
                                    <img src="@Url.Action("UsersProfilePic", "Manage", new { id = UserManager.Users.SingleOrDefault(x => x.InfluenterId.Value == v.InfluenterId).Id })" />
                                </div>
                                <div class="col-md-9 col-sm-12 col-xs-12" style="padding-top:7px;">
                                    <div class="col-md-12 col-sm-12 col-xs-12 noPadding">
                                        <h5 style="display: inline">Anmeldt: </h5>
                                        <p style="display: inline;"><i>@UserManager.Users.SingleOrDefault(x => x.InfluenterId == v.InfluenterId).Name</i></p>
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12 noPadding">
                                        <h5 style="display: inline">Score:</h5>

                                        <div class="star-rating-show-Last3" style="display: inline;">
                                            <div class="back-stars" title="@Math.Round(RatingRepository.GetRatingAverage(v.InfluenterId), 2)%">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <div class="front-stars" style="width: @RatingRepository.GetRatingAverage(v.InfluenterId)%">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="last3rating">
                            <h4 style="text-align: center;">Du har ikke anmeldt nogle endnu</h4>
                            <div class="outer">
                                <div class="middle">
                                    <div class="inner">
                                        <form method="get" asp-area="" asp-controller="Influencer" asp-action="Index">
                                            <span>
                                                <input class="search-button" type="submit" value="Søg" />
                                            </span>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <hr class="visible-xs" />
            <div class="col-md-4 col-sm-4 profile-text">
                @if (string.IsNullOrEmpty(user.ProfileText))
                {
                    <h4>Du har ikke skrevet nogen profil tekst</h4>

                }
                <p> @user.ProfileText </p>
            </div>
            <hr class="visible-xs" />
            <div class="col-md-4 col-sm-4">
                @if (user.InfluenterId != null)
                {
                    @if (PlatformRepository.GetAllInfluenterPlatformForInfluenter(user.InfluenterId.Value) != null)
                    {

                        @foreach (var v in PlatformRepository.GetAllInfluenterPlatformForInfluenter(user.InfluenterId.Value))
                        {
                            <div class="social-box">
                                @if (PlatformRepository.Get(v.PlatformId).PlatformNavn == "Facebook")
                                {
                                    <a href="http://www.facebook.com/@v.Link" target="_blank" class="fa fa-profile fa-facebook fa-facebook-profile"></a>
                                    <span>@PlatformRepository.Get(v.PlatformId).PlatformNavn</span>
                                }
                                else if (PlatformRepository.Get(v.PlatformId).PlatformNavn == "YouTube")
                                {
                                    <a href="http://www.youtube.com/user/@v.Link" target="_blank" class="fa fa-profile fa-youtube fa-youtube-profile"></a>
                                    <span>@PlatformRepository.Get(v.PlatformId).PlatformNavn</span>
                                }
                                else if (PlatformRepository.Get(v.PlatformId).PlatformNavn == "SnapChat")
                                {
                                    <a href="http://www.snapchat.com/add/@v.Link" target="_blank" class="fa fa-profile fa-snapchat-ghost fa-snapchat-ghost-profile"></a>
                                    <span>@PlatformRepository.Get(v.PlatformId).PlatformNavn</span>
                                }
                                else if (PlatformRepository.Get(v.PlatformId).PlatformNavn == "Instagram")
                                {
                                    <a href="http://www.instagram.com/@v.Link" target="_blank" class="fa fa-profile fa-instagram fa-instagram-profile"></a>
                                    <span>@PlatformRepository.Get(v.PlatformId).PlatformNavn</span>
                                }
                                else if (PlatformRepository.Get(v.PlatformId).PlatformNavn == "Twitter")
                                {
                                    <a href="http://www.twitter.com/@v.Link" target="_blank" class="fa fa-profile fa-twitter fa-twitter-profile"></a>
                                    <span>@PlatformRepository.Get(v.PlatformId).PlatformNavn</span>
                                }
                                else if (PlatformRepository.Get(v.PlatformId).PlatformNavn == "Twitch")
                                {
                                    <a href="http://www.twitch.tv/@v.Link" target="_blank" class="fa fa-profile fa-twitch fa-twitch-profile"></a>
                                    <span>@PlatformRepository.Get(v.PlatformId).PlatformNavn</span>
                                }
                                else if (PlatformRepository.Get(v.PlatformId).PlatformNavn == "Website")
                                {
                                    <a href="http://@v.Link" target="_blank" class="fa fa-profile fa-globe fa-globe-profile"></a>
                                    <span>Personlig hjemmeside</span>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <h4>Du har ikke tilknyttet nogle sociale medier endnu.</h4>
                    }
                }
            </div>
        </div>
    </div>
</div>