@model InfluencerViewModel
@inject Bestfluence.Repository.IRepository<Category> CategoryRepo
@inject Bestfluence.Repository.IRepository<Platform> PlatformRepo
@{
    ViewData["Title"] = "Influencer";
}

<div class="background-all">
    <div class="navbar-allaround"></div>

    @if (TempData["Success"] != null)
    {
        <div id="influEditSuc" class="alert fade in alert-success alert-dismissable alert-mobile" style="margin-top: 11px; position: absolute; z-index: 5; left: 20%; right: 20%">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @TempData["Success"]
        </div>

        <script>
            window.setTimeout(function () {
                $("#influEditSuc").fadeOut(1000);
            }, 4000);
        </script>
    }
    @if (TempData["Error"] != null)
    {
        <div id="influEditErr" class="alert fade in alert-danger alert-dismissable alert-mobile" style="margin-top: 11px; position: absolute; z-index: 5; left: 20%; right: 20%">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @TempData["Error"]
        </div>

        <script>
            window.setTimeout(function () {
                $("#influEditErr").fadeOut(1000);
            }, 4000);
        </script>
    }

    <div class="container nopaddingmobile">
        <div class="edit-user-container">
            <div class="col-md-6">
                <div class="white-box">
                    <h2 style="text-align:center">Influencer oplysninger</h2>

                    <form asp-controller="Manage" asp-action="Influencer" method="post">

                        <p style="margin-top: 5px">Alias</p>
                        <input type="text" asp-for="@Model.Alias" />

                        <p>Bestfluence URL</p>
                        <input type="text" placeholder="www.bestfluence.dk/din-profil-url-her" asp-for="@Model.Url" />

                        <p>Dine kategorier</p>

                        <div class="choose-category" style="width: 100%">

                            @foreach (var cat in CategoryRepo.GetAll())
                            {
                                var isSelected = ""; 
                                if (Model.InfluencerCategories != null)
                                {
                                    isSelected = (Model.InfluencerCategories.Any(x => x.CategoryId == cat.Id)) ? "checked" : "" ?? "";
                                }

                                <div class="tooltips">
                                    <div class="cat-check @cat.Name">
                                        <input @isSelected type="checkbox" name="selectedCategories" id="@cat.Id" value="@cat.Id" /> <label for="@cat.Id"></label>
                                    </div>
                                    <span style="bottom: 115%; left: 25px" class="tooltiptext">@cat.Name</span>
                                </div>
                            }
                        </div>

                        <p>Dine sociale medier</p>

                        <input class="icon-input" placeholder="&#xf16d; &nbsp; Instagram navn" type="text" asp-for="@Model.InstagramLink" />
                        <input class="icon-input" placeholder="&#xf2ac; &nbsp; Snapchat navn" type="text" asp-for="@Model.SnapchatLink"  />
                        <input class="icon-input" placeholder="&#xf099; &nbsp; Twitter navn" type="text" asp-for="@Model.TwitterLink"  />
                        <hr style="margin-top: 5px" />
                        <input class="icon-input" placeholder="&#xf1e8; &nbsp; Twitch link" type="text" asp-for="@Model.TwitchLink"  />
                        <input class="icon-input" placeholder="&#xf09a; &nbsp;&nbsp; Facebook link" type="text" asp-for="@Model.FacebookLink"  />
                        <input class="icon-input" placeholder="&#xf0ac; &nbsp; Hjemmeside/blog link" type="text" asp-for="@Model.WebsiteLink"  />
                        <input class="icon-input" placeholder="&#xf167; &nbsp; Youtube link" type="text" asp-for="@Model.YoutubeLink"  />
                        <input class="icon-input" placeholder="&#xf167; &nbsp; Youtube 2nd link" type="text" asp-for="@Model.SecondYoutubeLink"  />

                        <p>Din profiltekst</p>
                        <textarea rows="10" placeholder="Skriv lidt om dig selv.." asp-for="@Model.ProfileText"></textarea>

                        <button type="submit">Gem oplysninger</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6 hidden-sm hidden-xs">
                <div class="white-box">
                    <h2 style="text-align: center">Kvalitetsindhold</h2>
                    <p class="normal-text" style="line-height: 180%; padding: 0 10px 10px 10px;">Vi ser dig som influencer, hvis du har mindst én profil på sociale medier og/eller en blog, hvor du regelmæssigt ligger indhold op med henblik på at inspirere, underholde, berige eller informere andre. Når du har oprettet dig, kigger vi din profil igennem, inden den bliver offentlig, for at sikre troværdigheden.</p>
                </div>
            </div>

        </div>
    </div>
</div>

