@model MinAnmeldelseViewModel
@inject RateBlog.Repository.IRatingRepository RatingRepository
@inject UserManager<ApplicationUser> UserManager
@{ 
    ViewData["Title"] = "Min anmeldelse"; 
}

<div class="navbar-allaround"></div>

@Html.Partial("_NavbarAddonPartial")

<div class="bottom-container" style="background: #fff">
    <div style="background: #fff !important">
        <div class="navbar-addon noborderbottomMobile" style="padding-bottom: 20px; background:#fff">
            <div class="container">
                <div class="col-md-12 col-xs-12 noPadding">
                    <div class="col-md-2 col-xs-2 noPadding addon-box">
                        <div class="addon-img-container">
                            <img src="@Url.Action("UsersProfilePic", "Manage", new { id = UserManager.Users.SingleOrDefault(x => x.InfluenterId == Model.Rating.InfluenterId).Id })" />
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-9 addon-box">
                        <div class="addon-number" style="text-align: left">
                            <p>Du har anmeldt</p>
                            <h3>@UserManager.Users.SingleOrDefault(x => x.InfluenterId == Model.Rating.InfluenterId).Name</h3>
                        </div>


                    </div>
                    <div class="col-md-5 col-xs-12 addon-box">
                        <div class="addon-number">
                            <div class="se-anmeldelse-center se-anmeldelse-padding">
                                <h2 class="text-center">Samlet score</h2>
                                <br />
                                <div class="show-rating-box-se">
                                    <div class="show-rating-se">
                                        <div class="show-rating-front-se">
                                            @for (int i = 0; i < RatingRepository.GetSingleRatingAverage(Model.Rating.RatingId); i++)
                                            {
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            }
                                        </div>
                                        <div class="show-rating-back-se">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
                <div class="col-md-12">
                    <div class="col-md-6 se-anmeldelse-padding">
                        <h4><i>Du har skrevet følgende om @UserManager.Users.SingleOrDefault(x => x.InfluenterId == Model.Rating.InfluenterId).Name:</i></h4>
                        <br />
                        <p style="line-height: 180%">@Model.Rating.Feedback</p>
                    </div>
                    <div class="col-md-6 se-anmeldelse-padding">
                        @if (!string.IsNullOrEmpty(Model.Rating.Answer))
                        {
                            <h4><i>@UserManager.Users.SingleOrDefault(x => x.InfluenterId == Model.Rating.InfluenterId).Name har svaret på din anmeldelse:</i></h4>
                            <br />
                            <p style="line-height: 180%">@Model.Rating.Answer</p>
                        }
                        else
                        {
                            <h4><i>@UserManager.Users.SingleOrDefault(x => x.InfluenterId == Model.Rating.InfluenterId).Name har ikke svaret på din anmeldelse</i></h4>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>