@model IndexViewModel
@inject UserManager<ApplicationUser> UserManager
@inject RateBlog.Services.IFeedbackService FeedbackService
@inject RateBlog.Services.Interfaces.IPlatformCategoryService PlatformCategoryService
@inject RateBlog.Repository.IRepository<Platform> PlatformRepo
@{
    ViewData["Title"] = "Vis profil";
    var user = await UserManager.GetUserAsync(User);

    string last = "";

    try
    {
        if (PlatformCategoryService.GetInfluencerCategoryNames(user.InfluenterId.Value) != null)
        {
            last = PlatformCategoryService.GetInfluencerCategoryNames(user.InfluenterId.Value).Last();
        }
    }
    catch (InvalidOperationException)
    {

    };
}

<div style="padding-bottom: 100px;">

    <div class="navbar-allaround"></div>

    <div class="container">
        <div class="col-md-12 margin-top">
            <img class="profil-img center-block" src="@Url.Action("ProfilePic", "Manage")" />
            <div class="text-center">
                <h2 class="responsive-visProfil-h2">@user.Name</h2>
                @if (user.InfluenterId != null && PlatformCategoryService.GetInfluencerCategoryNames(user.InfluenterId.Value) != null)
                {
                    <h3 class="responsive-visProfil-h3">

                        @foreach (var v in PlatformCategoryService.GetInfluencerCategoryNames(user.InfluenterId.Value))
                        {
                            if (v.Equals(last))
                            {
                                @v
                            }
                            else
                            {
                                @v <span> | </span>
                            }
                        }
                    </h3>
                }
                else if (user.InfluenterId != null)
                {
                    <h3>Ukendte kategorier</h3>
                }
                else
                {
                    <h3>Følger</h3>
                }
                <hr />
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4 col-sm-4">
                @if (user.InfluenterId.HasValue)
                {
                    @if (FeedbackService.HasFeedback(user.InfluenterId.Value))
                    {

                        <h3 class="text-center" style="margin-top: 0">Fan rating:</h3>

                        <div class="show-rating-box-show">
                            <div class="show-rating-show">
                                <div class="show-rating-front-show">
                                    @for (int i = 0; i < FeedbackService.GetAverageFeedbackScore(user.InfluenterId.Value); i++)
                                    {
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    }
                                </div>
                                <div class="show-rating-back-show">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                            <h3 class="text-center" style="margin-top: 30px;">Ekspert rating:</h3>

                            <div class="show-rating-box-show">
                                <div class="show-rating-show">
                                    <div class="show-rating-front-show">
                                        @for (int i = 0; i < FeedbackService.GetAverageExpertFeedbackScore(user.InfluenterId.Value); i++)
                                        {
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        }
                                    </div>
                                    <div class="show-rating-back-show">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center">Antal ratings: @FeedbackService.GetInfluencerFeedbackCount(user.InfluenterId.Value)</p>
                    }
                    else
                    {
                        <h4>Du har ingen ratings endnu</h4>
                    }
                }
                else
                {
                    @if (FeedbackService.GetLast3Feedback(user.Id).ToList().Count != 0)
                    {
                        <div class="last3rating">
                            <h3>Sidste 3 ratings</h3>
                        </div>

                        @foreach (var v in FeedbackService.GetLast3Feedback(user.Id))
                        {
                            <div class="col-md-12 col-sm-12 col-xs-12 last3ratingFan">
                                <div class="col-md-3 col-sm-12 col-xs-12">
                                    <img src="@Url.Action("UsersProfilePic", "Manage", new { id = UserManager.Users.SingleOrDefault(x => x.InfluenterId.Value == v.InfluenterId).Id })" />
                                </div>
                                <div class="col-md-9 col-sm-12 col-xs-12" style="padding-top:7px;">
                                    <div class="col-md-12 col-sm-12 col-xs-12 noPadding">
                                        <h5 style="display: inline">Feedback til: </h5>
                                        <p style="display: inline;"><i>@UserManager.Users.SingleOrDefault(x => x.InfluenterId == v.InfluenterId).Name</i></p>
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12 noPadding">
                                        <h5 style="display: inline">Rating:</h5>

                                        <div class="show-rating-box-3">
                                            <div class="show-rating-3">
                                                <div class="show-rating-front-3">
                                                    @for (int i = 0; i < FeedbackService.GetSingleFeedbackScoreAverage(v.Id); i++)
                                                    {
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    }
                                                </div>
                                                <div class="show-rating-back-3">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="last3rating">
                            <h4 style="text-align: center;">Du har ikke givet feedback endnu</h4>
                            <div class="outer">
                                <div class="middle">
                                    <div class="inner">
                                        <form method="get" asp-area="" asp-controller="Influencer" asp-action="Index">
                                            <span>
                                                <input class="search-button-profil" type="submit" value="Søg" />
                                            </span>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                }
            </div>

            <div class="col-xs-12 visible-xs">
                <hr />
            </div>

            <div class="col-md-4 col-sm-4 profile-text">
                @if (string.IsNullOrEmpty(user.ProfileText))
                {
                    <h4>Du har ikke skrevet nogen profiltekst</h4>

                }
                <p> @user.ProfileText </p>
            </div>
            <hr class="visible-xs" />
            <div class="col-md-4 col-sm-4">
                @if (user.InfluenterId != null)
                {
                    @if (PlatformCategoryService.GetAllInfluencerPlatformForInfluencer(user.InfluenterId.Value) != null)
                    {

                        @foreach (var v in PlatformCategoryService.GetAllInfluencerPlatformForInfluencer(user.InfluenterId.Value))
                        {
                            <div class="social-box">
                                @if (PlatformRepo.Get(v.PlatformId).Name == "Facebook")
                                {
                                    <a href="http://www.facebook.com/@v.Link" target="_blank" class="fa fa-profile fa-facebook fa-facebook-profile"></a>
                                    <span>@PlatformRepo.Get(v.PlatformId).Name</span>
                                }
                                else if (PlatformRepo.Get(v.PlatformId).Name == "YouTube")
                                {
                                    <a href="http://www.youtube.com/user/@v.Link" target="_blank" class="fa fa-profile fa-youtube fa-youtube-profile"></a>
                                    <span>@PlatformRepo.Get(v.PlatformId).Name</span>
                                }
                                else if (PlatformRepo.Get(v.PlatformId).Name == "SnapChat")
                                {
                                    <a href="http://www.snapchat.com/add/@v.Link" target="_blank" class="fa fa-profile fa-snapchat-ghost fa-snapchat-ghost-profile"></a>
                                    <span>@PlatformRepo.Get(v.PlatformId).Name</span>
                                }
                                else if (PlatformRepo.Get(v.PlatformId).Name == "Instagram")
                                {
                                    <a href="http://www.instagram.com/@v.Link" target="_blank" class="fa fa-profile fa-instagram fa-instagram-profile"></a>
                                    <span>@PlatformRepo.Get(v.PlatformId).Name</span>
                                }
                                else if (PlatformRepo.Get(v.PlatformId).Name == "Twitter")
                                {
                                    <a href="http://www.twitter.com/@v.Link" target="_blank" class="fa fa-profile fa-twitter fa-twitter-profile"></a>
                                    <span>@PlatformRepo.Get(v.PlatformId).Name</span>
                                }
                                else if (PlatformRepo.Get(v.PlatformId).Name == "Twitch")
                                {
                                    <a href="http://www.twitch.tv/@v.Link" target="_blank" class="fa fa-profile fa-twitch fa-twitch-profile"></a>
                                    <span>@PlatformRepo.Get(v.PlatformId).Name</span>
                                }
                                else if (PlatformRepo.Get(v.PlatformId).Name == "Website")
                                {
                                    <a href="http://@v.Link" target="_blank" class="fa fa-profile fa-globe fa-globe-profile"></a>
                                    <span>Hjemmeside</span>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <h4>Du har ikke tilknyttet nogle sociale medier endnu.</h4>
                    }
                }
            </div>
        </div>
    </div>
</div>