@model ReadViewModel
@inject Bestfluence.Services.Interfaces.IFeedbackService FeedbackService
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Min feedback";
}

<div class="background-all">
    <div class="navbar-allaround"></div>

    <div class="container">
        <div class="col-md-12 noPadding" style="padding-top: 40px;">
            <div class="col-md-offset-2 col-md-8 nopaddingmobile">
                <div class="col-md-12 col-sm-12 col-xs-12 white-box read-feedback-container">
                    <h2>Din feedback til @Model.Rating.Influenter.Alias</h2>
                    <hr />
                    <div class="col-md-6">
                        <p>Troværdighed</p>

                        <div class="show-rating">
                            <div class="show-rating-container center-block" style="width: 164px; float: none;">
                                <div class="show-rating-front">
                                    @for (int i = 0; i < Model.Rating.Troværdighed; i++)
                                    {
                                        <div class="show-rating-box">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    }
                                </div>
                                <div class="show-rating-back">
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">


                        <p>Opførsel</p>

                        <div class="show-rating">
                            <div class="show-rating-container center-block" style="width: 164px; float: none;">
                                <div class="show-rating-front">
                                    @for (int i = 0; i < Model.Rating.Opførsel; i++)
                                    {
                                        <div class="show-rating-box">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    }
                                </div>
                                <div class="show-rating-back">
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">

                        <p>Kvalitet</p>

                        <div class="show-rating">
                            <div class="show-rating-container center-block" style="width: 164px; float: none;">
                                <div class="show-rating-front">
                                    @for (int i = 0; i < Model.Rating.Kvalitet; i++)
                                    {
                                        <div class="show-rating-box">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    }
                                </div>
                                <div class="show-rating-back">
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p>Interaktion</p>

                        <div class="show-rating">
                            <div class="show-rating-container center-block" style="width: 164px; float: none;">
                                <div class="show-rating-front">
                                    @for (int i = 0; i < Model.Rating.Interaktion; i++)
                                    {
                                        <div class="show-rating-box">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    }
                                </div>
                                <div class="show-rating-back">
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="show-rating-box">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 noPadding">
                        <hr style="margin-top: 40px" />

                        <p>Du har skrevet følgende om @Model.Rating.Influenter.Alias</p>

                        <div class="col-md-6">
                            <p style="text-align: left; font-size: 15px"><b>Hvad gør @Model.Rating.Influenter.Alias godt?</b></p>
                            <p class="normal-text">@Model.Rating.FeedbackGood</p>
                        </div>
                        <div class="col-md-6">
                            <p style="text-align: left; font-size: 15px"><b>Hvad kan @Model.Rating.Influenter.Alias gøre bedre?</b></p>
                            <p class="normal-text">@Model.Rating.FeedbackBetter</p>
                        </div>
                    </div>

                    @if (Model.Rating.Answer != null)
                    {
                        <div class="col-md-12 noPadding">
                            <hr />
                            <p>@Model.Rating.Influenter.Alias har svaret på din feedback</p>
                            <p class="normal-text" style="text-align: center !important">@Model.Rating.Answer</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var id = {};
        id = '@Model.Rating.Id';

        $.ajax({
            url: "/Manage/ReadFeedback",
            method: "POST",
            dataType: 'json',
            data: {
                id: id
            },
            success: function (result) {
                updateNotification(result);
            },
            error: function () {
                console.log("fail");
            }
        });
    </script>
}