@model RateBlog.Models.InfluenterViewModels.CreateViewModel
@{
    ViewData["Title"] = "Opret ny influencer";
}

<div style="min-height: 100vh; background-color: #fafafa">
    <div class="navbar-allaround"></div>


    @if (TempData["Error"] != null)
    {
        <div id="CreateErr" class="alert fade in alert-danger alert-dismissable alert-mobile" style="margin-top: 10px;  position: absolute; z-index: 5; left: 20%; right: 20%">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @TempData["Error"]
        </div>

        <script>
            window.setTimeout(function () {
                $("#CreateErr").fadeOut(1000);
            }, 2000);
        </script>
    }

    <div class="container influencer-create">
        <div class="col-md-offset-3 col-md-6 nopaddingmobile">
            <div class="profile-box">
                <h2>Opret en influencer</h2>
                <hr />  
                <form asp-controller="Influencer" asp-action="Create" method="post" enctype="multipart/form-data">
                    <h4><b>Alias på influenceren</b>:</h4>
                    <span asp-validation-for="@Model.Influenter.Alias" class="text-danger"></span>
                    <input autocomplete="off" class="influencer-create-input" asp-for="@Model.Influenter.Alias" style="font-size: 14px" placeholder="F.eks. Homer Simpsons" />

                    <br /><br />

                    <h4><b>Billede af influenceren</b>:</h4>
                    <input type="file" name="ProfilePic" asp-for="@Model.ProfilePic" />
                    <span asp-validation-for="@Model.ProfilePic" class="text-danger"></span>
                    <br />  
                    <hr />

                    <h4><b>Vælg mindst en kategori, som passer til influenceren</b>:</h4>
                    <br />


                    <div style="display: block; width: 100%">

                        @for (int i = 0; i < Model.IKList.Count; i++)
                        {
                            <div class="tooltips">
                                <div class="cat-check @Model.IKList[i].KategoriNavn">
                                    <input asp-for="@Model.IKList[i].IsSelected" type="checkbox" id="@Model.IKList[i].KategoriNavn" /> <label for="@Model.IKList[i].KategoriNavn"></label>
                                </div>
                                <span style="bottom: 115%; left: 25px" class="tooltiptext">@Model.IKList[i].KategoriNavn</span>
                            </div>
                            @Html.HiddenFor(x => x.IKList[i].KategoriNavn)
                        }

                        <br />
                    </div>
                    <hr />
                    <h4><b>Referer til mindst et socialt medie:</b></h4>
                    <br />     

                    <h5><b>Instagram navn</b>:</h5>
                    <span>
                        <input autocomplete="off" class="create-profile-input" id="editInstagram" asp-for="@Model.InstagramLink" style="font-size: 14px; margin-bottom: 5px" type="text" placeholder="F.eks. homersimpsons" />
                        <span style="margin-left: 4px;" class="inside-span" id="editInstagramText"></span>
                    </span>
                    <br /><br />

                    <h5><b>Snapchat navn</b>:</h5>
                    <span>
                        <input autocomplete="off" class="create-profile-input" id="editSnapchat" asp-for="@Model.SnapchatLink" style="font-size: 14px; margin-bottom: 5px" type="text" placeholder="F.eks. HomerSimpsons" />
                        <span style="margin-left: 4px;" class="inside-span" id="editSnapchatText"></span>
                    </span>
                    <br /><br />

                    <h5><b>Twitter navn</b>:</h5>
                    <span>
                        <input autocomplete="off" class="create-profile-input" id="editTwitter" asp-for="@Model.TwitterLink" style="font-size: 14px; margin-bottom: 5px" type="text" placeholder="F.eks. HomerSimpsons" />
                        <span style="margin-left: 4px;" class="inside-span" id="editTwitterText"></span>
                    </span>
                    <br /><br />

                    <h5><b>Facebook link</b>:</h5>
                    <span>
                        <input autocomplete="off" class="create-profile-input" id="editFacebook" asp-for="@Model.FacebookLink" style="font-size: 14px; margin-bottom: 5px" type="text" placeholder="F.eks. https://www.facebook.com/homer.simpsons" />
                        <span style="margin-left: 4px;" class="inside-span" id="editFacebookText"><b></b></span>
                    </span>
                    <br /><br />

                    <h5><b>Youtube link</b>:</h5>
                    <span>
                        <input autocomplete="off" class="create-profile-input" id="editYoutube" asp-for="@Model.YoutubeLink" style="font-size: 14px; margin-bottom: 5px" type="text" placeholder="F.eks. https://www.youtube.com/user/homersimpsons" />
                        <span style="margin-left: 4px;" class="inside-span" id="editYoutubeText"><b></b></span>
                    </span>
                    <br /><br />

                    <h5><b>Twitch link</b>:</h5>
                    <span>
                        <input autocomplete="off" class="create-profile-input" id="editTwitch" asp-for="@Model.TwitchLink" style="font-size: 14px; margin-bottom: 5px" type="text" placeholder="F.eks. https://www.twitch.tv/homersimpsons" />
                        <span style="margin-left: 4px;" class="inside-span" id="editTwitchText"><b></b></span>
                    </span>
                    <br /><br />

                    <h5><b>Blog/hjemmeside link</b>:</h5>
                    <span>
                        <input autocomplete="off" class="create-profile-input" id="editWebsite" asp-for="@Model.WebsiteLink" style="font-size: 14px; margin-bottom: 5px" type="text" placeholder="F.eks. www.homersimpsons.com" />
                        <span style="margin-left: 4px;" class="inside-span" id="editWebsiteText"></span>
                    </span>
                    <br />

                    <h4><b>Profiltekst til influenceren</b></h4>
                    <textarea asp-for="@Model.ProfileText" placeholder="F.eks. Homer Simpsons er en mand, som altid roder sig ud i problemer. Han laver underholdning på højt plan og er super sjov at følge."></textarea>
                    <br />
                    <br />

                    <input type="submit" class="edit-button-influ-create" style="width: 100%" value="Opret influencer" />
                </form>
            </div>
        </div>
    </div>
</div>





@*<div class="container" style="padding-bottom: 100px;">
        <h2 style="margin: 0; padding: 25px 0 25px 0; border-bottom: 1px solid #ddd">Oprettelse af ny influencer</h2>

        <br />
        <br />

        <form asp-controller="Influencer" asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="col-md-6 noPadding">
                <input class="edit-input" asp-for="@Model.Influenter.Alias" style="font-size: 14px" placeholder="Alias på influencer" />
                <span asp-validation-for="@Model.Influenter.Alias" class="text-danger" style="margin-left: 5px;"></span>
                <br />
                <p>Billede af influencer (Valgfri):</p>
                <input type="file" name="ProfilePic" asp-for="@Model.ProfilePic" />
                <br />
                <br />

                <p> Influencerens kategorier (Valgfri):</p>
                <div class="choose-category" style="width: 100%">

                    @for (int i = 0; i < Model.IKList.Count; i++)
                    {
                        <label>
                            @Html.CheckBoxFor(x => x.IKList[i].IsSelected)
                            <span>@Model.IKList[i].KategoriNavn</span>
                            @Html.HiddenFor(x => x.IKList[i].KategoriNavn)
                        </label>
                    }
                </div>

            </div>

            <div class="col-md-offset-1 col-md-5 hidden-sm hidden-xs">
                <div class="feedback-rating-all-box">
                    <div class="feedback-rating-all-box-item" style="padding: 20px;">
                        <h3 class="text-center">Kvalitetsindhold</h3>
                        <p>Vi godkender din influencer, hvis personen har mindst én profil på sociale medier og/eller en blog, hvor han/hun regelmæssigt ligger indhold op med henblik på at inspirere, underholde, berige eller informere andre. Når influenceren er oprettet, kigger vi profilen igennem inden den bliver offentlig, for at sikre en høj troværdighed. Du kan i mellemtiden give influenceren feedback.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 noPadding">



                <br />
                <p> Influencerens sociale medier (Valgfri):</p>

                <div class="edit-social-box">
                    <a class="fa fa-edit fa-facebook fa-facebook-edit"></a>
                    <span><input id="editFacebook" asp-for="@Model.FacebookLink" style="font-size: 14px" type="text" placeholder="Facebook link på influencer" /><span class="margin-left inside-span" id="editFacebookText"></span></span>
                </div>

                <div class="edit-social-box">
                    <a class="fa fa-edit fa-instagram fa-instagram-edit"></a>
                    <span><input id="editInstagram" asp-for="@Model.InstagramLink" style="font-size: 14px" type="text" placeholder="Instagram navn på influencer" /><span class="margin-left" id="editInstagramText"></span></span>
                </div>

                <div class="edit-social-box">
                    <a class="fa fa-edit fa-youtube fa-youtube-edit"></a>
                    <span><input id="editYoutube" asp-for="@Model.YoutubeLink" style="font-size: 14px" type="text" placeholder="Youtube link på influencer" /><span class="margin-left" id="editYoutubeText"></span></span>
                </div>

                <div class="edit-social-box">
                    <a class="fa fa-edit fa-snapchat-ghost fa-snapchat-ghost-edit"></a>
                    <span><input id="editSnapchat" asp-for="@Model.SnapchatLink" style="font-size: 14px" type="text" placeholder="Snapchat navn på influencer" /><span class="margin-left" id="editSnapchatText"></span></span>
                </div>

                <div class="edit-social-box">
                    <a class="fa fa-edit fa-twitter fa-twitter-edit"></a>
                    <span><input id="editTwitter" asp-for="@Model.TwitterLink" style="font-size: 14px" type="text" placeholder="Twitter navn på influencer" /><span class="margin-left" id="editTwitterText"></span></span>
                </div>

                <div class="edit-social-box">
                    <a class="fa fa-edit fa-twitch fa-twitch-edit"></a>
                    <span><input id="editTwitch" asp-for="@Model.TwitchLink" style="font-size: 14px" type="text" placeholder="Twitch navn på influencer" /><span class="margin-left" id="editTwitchText"></span></span>
                </div>

                <div class="edit-social-box">
                    <a class="fa fa-edit fa-globe fa-globe-edit"></a>
                    <span><input id="editWebsite" asp-for="@Model.WebsiteLink" style="font-size: 14px" type="text" placeholder="Hjemmeside link på influencer" /><span class="margin-left" id="editWebsiteText"></span></span>
                </div>
                <br />
                <br />

                <textarea asp-for="@Model.ProfileText" class="edit-input-influ" rows="10" style="height: auto;" placeholder="Skriv en profil tekst til influenceren"></textarea>
                <input type="submit" class="edit-button-influ-create" value="Opret influencer" />
            </div>
        </form>

    </div>*@



