@model RateBlog.Models.InfluenterViewModels.CreateViewModel
@inject RateBlog.Repository.IRepository<Category> CategoryRepo
@{
    ViewData["Title"] = "Opret ny influencer";
}

<div class="background-all">
    <div class="navbar-allaround"></div>


    @if (TempData["Error"] != null)
    {
        <div id="CreateErr" class="alert fade in alert-danger alert-dismissable alert-mobile" style="margin-top: 10px;  position: absolute; z-index: 5; left: 20%; right: 20%">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @TempData["Error"]
        </div>

        <script>
            window.setTimeout(function () {
                $("#CreateErr").fadeOut(1000);
            }, 2000);
        </script>
    }

    <div class="container">
        <div class="edit-user-container" style="padding-top: 40px;">
            <div class="col-md-offset-3 col-md-6 noPadding">
                <div class="white-box">
                    <h2 style="margin-bottom: 15px; text-align: center">Opret en influencer</h2>
                    <p style="text-align: center; margin-top: 15px;">... som du derefter kan give feedback til!</p>
                    <hr />

                    <form asp-controller="Influencer" asp-action="Create" method="post">
                        <p>Alias</p>
                        <input type="text" asp-for="@Model.Influenter.Alias" placeholder="Hvad hedder influenceren på de sociale medier?" />

                        <p>Hvilke kategorier hører influenceren under?</p>

                        <div class="choose-category" style="width: 100%">
                            @foreach (var cat in CategoryRepo.GetAll())
                            {
                                <div class="tooltips">
                                    <div class="cat-check @cat.Name">
                                        <input value="@cat.Id" name="categoriList" type="checkbox" id="@cat.Name" /> <label for="@cat.Name" style="border: none"></label>
                                    </div>
                                    <span style="bottom: 115%; left: 25px" class="tooltiptext">@cat.Name</span>
                                </div>
                            }
                        </div>

                        <p>Hvilke sociale medier bruger influenceren?</p>
                        <input class="icon-input" placeholder="&#xf16d; &nbsp; Instagram navn" type="text" asp-for="@Model.InstagramLink" />
                        <input class="icon-input" placeholder="&#xf2ac; &nbsp; Snapchat navn" type="text" asp-for="@Model.SnapchatLink" />
                        <input class="icon-input" placeholder="&#xf099; &nbsp; Twitter navn" type="text" asp-for="@Model.TwitterLink" />
                        <hr style="margin-top: 5px" />
                        <input class="icon-input" placeholder="&#xf1e8; &nbsp; Twitch link" type="text" asp-for="@Model.TwitchLink" />
                        <input class="icon-input" placeholder="&#xf09a; &nbsp;&nbsp; Facebook link" type="text" asp-for="@Model.FacebookLink" />
                        <input class="icon-input" placeholder="&#xf0ac; &nbsp; Hjemmeside/blog link" type="text" asp-for="@Model.WebsiteLink" />
                        <input class="icon-input" placeholder="&#xf167; &nbsp; Youtube link" type="text" asp-for="@Model.YoutubeLink" />

                        <p>Fortæl lidt om influenceren</p>
                        <textarea rows="10" placeholder="Hvilket indhold laver personen? " asp-for="@Model.ProfileText"></textarea>

                        <button type="submit">Gem oplysninger</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>