@model RateBlog.Models.InfluenterViewModels.GiveViewModel
@inject RateBlog.Services.IFeedbackService FeedbackService
@{
    ViewData["Title"] = "Feedback til " + Model.Influencer.Alias;
}
<div class="background-all" style="min-height: 100.1vh">
    <div class="navbar-allaround"></div>

    @if (TempData["Error"] != null)
    {
        <div id="rateInfluencerErr" class="alert fade in alert-danger alert-dismissable alert-mobile" style="margin-top: 11px; position: absolute; z-index: 5; left: 20%; right: 20%">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @TempData["Error"]
        </div>

        <script>
            window.setTimeout(function () {
                $("#rateInfluencerErr").fadeOut(1000);
            }, 5000);
        </script>
    }



    <div class="container" style="padding-top: 50px; padding-bottom: 45vh;" id="fbContainer">


        <h1 class="feedback-title">Feedback til @Model.Influencer.Alias</h1>

        <div class="col-md-12 influencer-give noPadding">
            <form asp-controller="Influencer" asp-action="Give" method="post">

                @Html.HiddenFor(x => x.Influencer.Id)
                @Html.HiddenFor(x => x.Follower.Id)
                @Html.HiddenFor(x => x.Influencer.Alias)
                <div class="col-md-offset-2 col-md-8 noPadding">
                    <div class="white-box influencer-give-social give-feedback-box" style="margin-bottom: 0 !important;">
                        <h3>Hvilke sociale medier baserer du din feedback på?</h3>

                        <div style="text-align: center; width: 100%;" id="basedOnIcons">
                            <div class="influencer-give-social Facebook">
                                <input id="facebook" type="checkbox" asp-for="@Model.BasedOnFacebook" />
                                <label for="facebook"></label>
                            </div>
                            <div class="influencer-give-social Youtube">
                                <input id="youtube" type="checkbox" asp-for="@Model.BasedOnYoutube" />
                                <label for="youtube"></label>
                            </div>
                            <div class="influencer-give-social Instagram">
                                <input id="instagram" type="checkbox" asp-for="@Model.BasedOnInstagram" />
                                <label for="instagram"></label>
                            </div>
                            <div class="influencer-give-social Snapchat">
                                <input id="snapchat" type="checkbox" asp-for="@Model.BasedOnSnapchat" />
                                <label for="snapchat"></label>
                            </div>
                            <div class="influencer-give-social Twitter">
                                <input id="twitter" type="checkbox" asp-for="@Model.BasedOnTwitter" />
                                <label for="twitter"></label>
                            </div>
                            <div class="influencer-give-social Twitch">
                                <input id="twitch" type="checkbox" asp-for="@Model.BasedOnTwitch" />
                                <label for="twitch"></label>
                            </div>

                            <div class="influencer-give-social Website">
                                <input id="website" type="checkbox" asp-for="@Model.BasedOnWebsite" />
                                <label for="website"></label>
                            </div>
                        </div>

                        <a id="basedOnBtn" class="done-button adisabled center-block">Videre</a>
                    </div>


                    <div class="white-box give-feedback-box" id="troværdighed" style="display: none">
                        <h3>Troværdighed</h3>
                        <h4>Er influenceren pålidelig og stoler du på det vedkommende siger?</h4>
                        <div class="center-block">
                            <fieldset class="rating" id="troværdighedBtn">
                                <input type="radio" id="field1_star1" name="troværdighed" value="1" asp-for="@Model.Troværdighed" /><label class="full" for="field1_star1"></label>
                                <input type="radio" id="field1_star2" name="troværdighed" value="2" asp-for="@Model.Troværdighed" /><label class="full" for="field1_star2"></label>
                                <input type="radio" id="field1_star3" name="troværdighed" value="3" asp-for="@Model.Troværdighed" /><label class="full" for="field1_star3"></label>
                                <input type="radio" id="field1_star4" name="troværdighed" value="4" asp-for="@Model.Troværdighed" /><label class="full" for="field1_star4"></label>
                                <input type="radio" id="field1_star5" name="troværdighed" value="5" asp-for="@Model.Troværdighed" /><label class="full" for="field1_star5"></label>
                            </fieldset>
                        </div>

                    </div>

                    <div class="white-box give-feedback-box" id="opførsel" style="display: none;">
                        <h3>Opførsel</h3>
                        <h4>Er influenceren en god rollemodel gennem sprogbrug, adfærd og moral?</h4>
                        <div class="center-block">
                            <fieldset class="rating" id="opførselBtn">
                                <input type="radio" id="field2_star1" name="opførsel" value="1" asp-for="@Model.Opførsel" /><label class="full" for="field2_star1"></label>
                                <input type="radio" id="field2_star2" name="opførsel" value="2" asp-for="@Model.Opførsel" /><label class="full" for="field2_star2"></label>
                                <input type="radio" id="field2_star3" name="opførsel" value="3" asp-for="@Model.Opførsel" /><label class="full" for="field2_star3"></label>
                                <input type="radio" id="field2_star4" name="opførsel" value="4" asp-for="@Model.Opførsel" /><label class="full" for="field2_star4"></label>
                                <input type="radio" id="field2_star5" name="opførsel" value="5" asp-for="@Model.Opførsel" /><label class="full" for="field2_star5"></label>
                            </fieldset>
                        </div>
                    </div>

                    <div class="white-box give-feedback-box" id="kvalitet" style="display: none;">
                        <h3>Kvalitet</h3>
                        <h4>Er influencerens indhold originalt og gennemarbejdet?</h4>
                        <div class="center-block">
                            <fieldset class="rating" id="kvalitetBtn">
                                <input type="radio" id="field3_star1" name="kvalitet" value="1" asp-for="@Model.Kvalitet" /><label class="full" for="field3_star1"></label>
                                <input type="radio" id="field3_star2" name="kvalitet" value="2" asp-for="@Model.Kvalitet" /><label class="full" for="field3_star2"></label>
                                <input type="radio" id="field3_star3" name="kvalitet" value="3" asp-for="@Model.Kvalitet" /><label class="full" for="field3_star3"></label>
                                <input type="radio" id="field3_star4" name="kvalitet" value="4" asp-for="@Model.Kvalitet" /><label class="full" for="field3_star4"></label>
                                <input type="radio" id="field3_star5" name="kvalitet" value="5" asp-for="@Model.Kvalitet" /><label class="full" for="field3_star5"></label>
                            </fieldset>
                        </div>
                    </div>

                    <div class="white-box give-feedback-box" id="interaktion" style="display: none;">
                        <h3>Interaktion</h3>
                        <h4>Er influenceren god til at lytte til sine følgere?</h4>
                        <div class="center-block">
                            <fieldset class="rating" id="interaktionBtn">
                                <input type="radio" id="field4_star1" name="interaktion" value="1" asp-for="@Model.Interaktion" /><label class="full" for="field4_star1"></label>
                                <input type="radio" id="field4_star2" name="interaktion" value="2" asp-for="@Model.Interaktion" /><label class="full" for="field4_star2"></label>
                                <input type="radio" id="field4_star3" name="interaktion" value="3" asp-for="@Model.Interaktion" /><label class="full" for="field4_star3"></label>
                                <input type="radio" id="field4_star4" name="interaktion" value="4" asp-for="@Model.Interaktion" /><label class="full" for="field4_star4"></label>
                                <input type="radio" id="field4_star5" name="interaktion" value="5" asp-for="@Model.Interaktion" /><label class="full" for="field4_star5"></label>
                            </fieldset>
                        </div>
                    </div>

                    <div class="white-box give-feedback-box" id="feedbackGodt" style="display: none; margin-bottom: 100px !important">
                        <h3>Hvad gør @Model.Influencer.Alias godt?</h3>
                        <h4 style="margin-bottom: 30px;">
                            Vær specifik og kom med eksempler
                        </h4>
                        <div class="textarea-container nopaddingmobile">
                            <textarea asp-for="@Model.FeedbackGood" id="feedbackGodtText" placeholder="F.eks. du sætter fokus på relevante emner, fortæller din ærlige mening og laver godt indhold"></textarea>

                        </div>
                        <a id="feedbackGodtBtn" class="done-button center-block" style="opacity: 1">Videre</a>
                    </div>

                    <div class="white-box give-feedback-box" id="feedbackBedre" style="display: none;">
                        <h3>Hvad kan @Model.Influencer.Alias gøre bedre?</h3>
                        <h4 style="margin-bottom: 30px;">Kom med eksempler og referer til adfærd, som det er muligt at ændre</h4>
                        <div class="textarea-container nopaddingmobile">
                            <textarea asp-for="@Model.FeedbackBetter" id="feedbackGodtText" placeholder="F.eks. jeg synes dit sprog er blevet hårdt igennem dine seneste videoer"></textarea>
                        </div>
                        <a id="feedbackBedreBtn" class="done-button center-block" style="opacity: 1">Videre</a>
                    </div>

                    <div class="white-box give-feedback-box" id="anbefaling" style="display: none;">
                        <h3>Hvor stor er sandsynligheden for, at du vil anbefale @Model.Influencer.Alias til en ven?</h3>
                        <h5 style="float: left">Ikke sansynligt</h5>
                        <h5 class="hidden-xs" style="float: right">Meget sansynligt</h5>
                        <div style="display: inline-block; margin-top: 10px; width: 100%" id="anbefalingBtn">

                            <div class="anbefaling">
                                <input type="radio" name="anbefaling" id="anbefaling1" value="1" asp-for="@Model.Anbefaling" />
                                <label for="anbefaling1" number="1"></label>
                            </div>
                            <div class="anbefaling">
                                <input type="radio" name="anbefaling" id="anbefaling2" value="2" asp-for="@Model.Anbefaling" />
                                <label for="anbefaling2" number="2"></label>
                            </div>
                            <div class="anbefaling">
                                <input type="radio" name="anbefaling" id="anbefaling3" value="3" asp-for="@Model.Anbefaling" />
                                <label for="anbefaling3" number="3"></label>
                            </div>
                            <div class="anbefaling">
                                <input type="radio" name="anbefaling" id="anbefaling4" value="4" asp-for="@Model.Anbefaling" />
                                <label for="anbefaling4" number="4"></label>
                            </div>
                            <div class="anbefaling">
                                <input type="radio" name="anbefaling" id="anbefaling5" value="5" asp-for="@Model.Anbefaling" />
                                <label for="anbefaling5" number="5"></label>
                            </div>
                            <div class="anbefaling">
                                <input type="radio" name="anbefaling" id="anbefaling6" value="6" asp-for="@Model.Anbefaling" />
                                <label for="anbefaling6" number="6"></label>
                            </div>
                            <div class="anbefaling">
                                <input type="radio" name="anbefaling" id="anbefaling7" value="7" asp-for="@Model.Anbefaling" />
                                <label for="anbefaling7" number="7"></label>
                            </div>
                            <div class="anbefaling">
                                <input type="radio" name="anbefaling" id="anbefaling8" value="8" asp-for="@Model.Anbefaling" />
                                <label for="anbefaling8" number="8"></label>
                            </div>
                            <div class="anbefaling">
                                <input type="radio" name="anbefaling" id="anbefaling9" value="9" asp-for="@Model.Anbefaling" />
                                <label for="anbefaling9" number="9"></label>
                            </div>
                            <div class="anbefaling">
                                <input type="radio" name="anbefaling" id="anbefaling10" value="10" asp-for="@Model.Anbefaling" />
                                <label for="anbefaling10" number="10"></label>
                            </div>
                            <h5 class="visible-xs" style="float: right">Meget sansynligt</h5>
                        </div>

                    </div>

                    <button type="submit" class="give-feedback-btn" disabled id="sendBtn" style="display: none; margin-bottom: 50px;">SEND SVAR</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        function scrollToBottom(id, number) {
            var element = $(id); 

            var el = $(id);
            var elOffset = el.offset().top;
            var elHeight = el.height();
            var windowHeight = $(window).height();
            var offset;

            if (elHeight < windowHeight) {
                offset = elOffset - ((windowHeight / 2) - (elHeight / 2));
            }
            else {
                offset = elOffset;
            }

            $('html body').animate({
                scrollTop: offset + number
            }, 600);

        }

        $("#basedOnIcons").one("click", function () {
            $("#basedOnBtn").css("opacity", 1);
            $("#basedOnBtn").removeClass("adisabled");
        });

        $("#basedOnBtn").one("click", function () {

            $("#basedOnBtn").css("opacity", 0)
            $("#troværdighed").slideDown(400);
            scrollToBottom("#troværdighed", 100);
        });

        $("#troværdighedBtn").one("click", function () {
            $("#opførsel").slideDown(400);
            scrollToBottom("#opførsel", 100);
        });

        $("#opførselBtn").one("click", function () {
            $("#kvalitet").slideDown(400);
            scrollToBottom("#kvalitet", 100);
        });

        $("#kvalitetBtn").one("click", function () {
            $("#interaktion").slideDown(400);
            scrollToBottom("#interaktion", 100);
        });

        $("#interaktionBtn").one("click", function () {
            $("#feedbackGodt").slideDown(400);

            if ($(window).width() < 767) {
                scrollToBottom("#feedbackGodt", 200);
            }
            else {
                scrollToBottom("#feedbackGodt", 100);
            }
        });

        $("#feedbackGodtBtn").one("click", function () {
            $("#feedbackGodtBtn").css("opacity", 0);
            $("#feedbackBedre").slideDown(400);

            if ($(window).width() < 767) {
                scrollToBottom("#feedbackBedre", 200);
            }
            else {
                scrollToBottom("#feedbackBedre", 100);
            }

            
        });

        $("#feedbackBedreBtn").one("click", function () {
            $("#anbefaling").css("margin-bottom", "100px")
            $("#feedbackBedreBtn").css("opacity", 0);
            $("#anbefaling").slideDown(400);

            if ($(window).width() < 767) {
                scrollToBottom("#anbefaling", 200);
            }
            else {
                scrollToBottom("#anbefaling", 100);
            }

           
        });

        $("#anbefalingBtn").one("click", function () {
            $("#sendBtn").fadeIn(400); 
            $("#sendBtn").removeAttr("disabled", false);
        });
    </script>
}

