@model RateBlog.Models.InfluenterViewModels.GiveViewModel
@inject RateBlog.Services.IFeedbackService FeedbackService
@inject RateBlog.Repository.IRepository<Influencer> InfluencerRepo
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Feedback til " + Model.Influencer.Alias;
}

<div style="min-height: 100.1vh; padding-bottom: 40vh; background: #fafafa;">

    <div class="navbar-allaround"></div>

    @if (TempData["Error"] != null)
    {
        <div id="rateInfluencerErr" class="alert fade in alert-danger alert-dismissable alert-mobile" style="margin-top: 11px; position: absolute; z-index: 5; left: 20%; right: 20%">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @TempData["Error"]
        </div>

        <script>
            window.setTimeout(function () {
                $("#rateInfluencerErr").fadeOut(1000);
            }, 2000);
        </script>
    }

    <div class="navbar-addon" style="background: #fff">
        <div class="container">
            <div class="col-md-12 col-xs-12 noPadding">
                <div class="col-md-2 col-xs-2 noPadding addon-box">
                    <div class="addon-img-container">
                        <img src="@Url.Action("UsersProfilePic", "Manage", new { id = Model.Influencer.Id })" />
                    </div>
                </div>
                <div class="col-md-5 col-xs-9 addon-box">
                    <div class="addon-number" style="text-align: left">
                        <p>Feedback til</p>
                        <h3>@InfluencerRepo.Get(Model.Influencer.Id).Alias</h3>
                    </div>

                </div>
                <div class="col-md-5 col-xs-12 addon-box">
                    <div class="addon-number">
                        <h1>@FeedbackService.GetInfluencerFeedbackCount(Model.Influencer.Id)</h1>
                        <p>Ratings</p>
                    </div>
                    <div class="addon-number">
                        <h1>@Math.Round(FeedbackService.GetInfluencerAnswerPercentage(Model.Influencer.Id), 1)%</h1>
                        <p>Svarprocent</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="padding-top: 40px;" id="fbContainer">
        <div class="col-md-12 influencer-give noPadding">
            <form asp-controller="Influencer" asp-action="Give" method="post">

                @Html.HiddenFor(x => x.Influencer.Id)
                @Html.HiddenFor(x => x.Follower.Id)
                @Html.HiddenFor(x => x.Influencer.Alias)
                <div class="col-md-offset-2 col-md-8">
                    <div class="profile-box influencer-give-social give-feedback-box" style="margin-bottom: 0 !important;">
                        <h3>Hvilke sociale medier baserer du din feedback på?</h3>

                        <div style="text-align: center; width: 100%;" id="basedOnIcons">
                            <div class="influencer-give-social Facebook">
                                <input id="facebook" type="checkbox" asp-for="@Model.BasedOnFacebook" />
                                <label for="facebook"></label>
                            </div>
                            <div class="influencer-give-social Youtube">
                                <input id="youtube" type="checkbox" asp-for="@Model.BasedOnYoutube" />
                                <label for="youtube"></label>
                            </div>
                            <div class="influencer-give-social Instagram">
                                <input id="instagram" type="checkbox" asp-for="@Model.BasedOnInstagram" />
                                <label for="instagram"></label>
                            </div>
                            <div class="influencer-give-social Snapchat">
                                <input id="snapchat" type="checkbox" asp-for="@Model.BasedOnSnapchat" />
                                <label for="snapchat"></label>
                            </div>
                            <div class="influencer-give-social Twitter">
                                <input id="twitter" type="checkbox" asp-for="@Model.BasedOnTwitter" />
                                <label for="twitter"></label>
                            </div>
                            <div class="influencer-give-social Twitch">
                                <input id="twitch" type="checkbox" asp-for="@Model.BasedOnTwitch" />
                                <label for="twitch"></label>
                            </div>

                            <div class="influencer-give-social Website">
                                <input id="website" type="checkbox" asp-for="@Model.BasedOnWebsite" />
                                <label for="website"></label>
                            </div>
                        </div>


                        <a id="basedOnBtn" class="done-button adisabled center-block">Videre</a>
                    </div>


                    <div class="profile-box give-feedback-box" id="troværdighed" style="display: none">
                        <h3>Troværdighed</h3>
                        <h4>Er influenceren pålidelig og stoler du på det vedkommende siger?</h4>
                        <div class="center-block">
                            <fieldset class="rating" id="troværdighedBtn">
                                <input type="radio" id="field1_star1" name="troværdighed" value="1" asp-for="@Model.Troværdighed" /><label class="full" for="field1_star1"></label>
                                <input type="radio" id="field1_star2" name="troværdighed" value="2" asp-for="@Model.Troværdighed" /><label class="full" for="field1_star2"></label>
                                <input type="radio" id="field1_star3" name="troværdighed" value="3" asp-for="@Model.Troværdighed" /><label class="full" for="field1_star3"></label>
                                <input type="radio" id="field1_star4" name="troværdighed" value="4" asp-for="@Model.Troværdighed" /><label class="full" for="field1_star4"></label>
                                <input type="radio" id="field1_star5" name="troværdighed" value="5" asp-for="@Model.Troværdighed" /><label class="full" for="field1_star5"></label>
                            </fieldset>
                        </div>

                    </div>

                    <div class="profile-box give-feedback-box" id="opførsel" style="display: none;">
                        <h3>Opførsel</h3>
                        <h4>Er influenceren en god rollemodel gennem sprogbrug, adfærd og moral?</h4>
                        <div class="center-block">
                            <fieldset class="rating" id="opførselBtn">
                                <input type="radio" id="field2_star1" name="opførsel" value="1" asp-for="@Model.Opførsel" /><label class="full" for="field2_star1"></label>
                                <input type="radio" id="field2_star2" name="opførsel" value="2" asp-for="@Model.Opførsel" /><label class="full" for="field2_star2"></label>
                                <input type="radio" id="field2_star3" name="opførsel" value="3" asp-for="@Model.Opførsel" /><label class="full" for="field2_star3"></label>
                                <input type="radio" id="field2_star4" name="opførsel" value="4" asp-for="@Model.Opførsel" /><label class="full" for="field2_star4"></label>
                                <input type="radio" id="field2_star5" name="opførsel" value="5" asp-for="@Model.Opførsel" /><label class="full" for="field2_star5"></label>
                            </fieldset>
                        </div>
                    </div>

                    <div class="profile-box give-feedback-box" id="kvalitet" style="display: none;">
                        <h3>Kvalitet</h3>
                        <h4>Er influencerens indhold originalt og gennemarbejdet?</h4>
                        <div class="center-block">
                            <fieldset class="rating" id="kvalitetBtn">
                                <input type="radio" id="field3_star1" name="kvalitet" value="1" asp-for="@Model.Kvalitet" /><label class="full" for="field3_star1"></label>
                                <input type="radio" id="field3_star2" name="kvalitet" value="2" asp-for="@Model.Kvalitet" /><label class="full" for="field3_star2"></label>
                                <input type="radio" id="field3_star3" name="kvalitet" value="3" asp-for="@Model.Kvalitet" /><label class="full" for="field3_star3"></label>
                                <input type="radio" id="field3_star4" name="kvalitet" value="4" asp-for="@Model.Kvalitet" /><label class="full" for="field3_star4"></label>
                                <input type="radio" id="field3_star5" name="kvalitet" value="5" asp-for="@Model.Kvalitet" /><label class="full" for="field3_star5"></label>
                            </fieldset>
                        </div>
                    </div>

                    <div class="profile-box give-feedback-box" id="interaktion" style="display: none;">
                        <h3>Interaktion</h3>
                        <h4>Er influenceren god til at lytte til sine følgere?</h4>
                        <div class="center-block">
                            <fieldset class="rating" id="interaktionBtn">
                                <input type="radio" id="field4_star1" name="interaktion" value="1" asp-for="@Model.Interaktion" /><label class="full" for="field4_star1"></label>
                                <input type="radio" id="field4_star2" name="interaktion" value="2" asp-for="@Model.Interaktion" /><label class="full" for="field4_star2"></label>
                                <input type="radio" id="field4_star3" name="interaktion" value="3" asp-for="@Model.Interaktion" /><label class="full" for="field4_star3"></label>
                                <input type="radio" id="field4_star4" name="interaktion" value="4" asp-for="@Model.Interaktion" /><label class="full" for="field4_star4"></label>
                                <input type="radio" id="field4_star5" name="interaktion" value="5" asp-for="@Model.Interaktion" /><label class="full" for="field4_star5"></label>
                            </fieldset>
                        </div>
                    </div>

                    <div class="profile-box give-feedback-box" id="feedbackGodt" style="display: none; margin-bottom: 100px !important">
                        <h3>Hvad gør @Model.Influencer.Alias godt?</h3>
                        <h4 style="margin-bottom: 30px;">
                            Vær gerne specifik og kom med eksempler
                        </h4>
                        <div class="textarea-container nopaddingmobile">
                            <textarea asp-for="@Model.FeedbackGood" id="feedbackGodtText"></textarea>

                        </div>
                        <a id="feedbackGodtBtn" class="done-button adisabled center-block">Videre</a>
                    </div>

                    <div class="profile-box give-feedback-box" id="feedbackBedre" style="display: none;">
                        <h3>Hvad kan @Model.Influencer.Alias gøre bedre?</h3>
                        <h4 style="margin-bottom: 30px;">Vær specifik og referer til adfærd, som det er muligt at ændre</h4>
                        <div class="textarea-container nopaddingmobile">
                            <textarea asp-for="@Model.FeedbackBetter" id="feedbackGodtText"></textarea>
                        </div>
                        <a id="feedbackBedreBtn" class="done-button adisabled center-block">Videre</a>
                    </div>

                    <div class="profile-box give-feedback-box" id="anbefaling" style="display: none;">
                        <h3 style="margin-bottom: 50px;">Hvor stor er sandsynligheden for, at du vil anbefale @Model.Influencer.Alias til en ven?</h3>
                        <h5 style="float: left">Ikke sansynligt</h5>
                        <h5 class="hidden-xs" style="float: right">Meget sansynligt</h5>
                        <div style="display: inline-block; margin-top: 10px; width: 100%" id="anbefalingBtn">

                            <div class="anbefaling">
                                <input type="radio" name="anbefaling" id="anbefaling1" value="1" asp-for="@Model.Anbefaling" />
                                <label for="anbefaling1" number="1"></label>
                            </div>
                            <div class="anbefaling">
                                <input type="radio" name="anbefaling" id="anbefaling2" value="2" asp-for="@Model.Anbefaling" />
                                <label for="anbefaling2" number="2"></label>
                            </div>
                            <div class="anbefaling">
                                <input type="radio" name="anbefaling" id="anbefaling3" value="3" asp-for="@Model.Anbefaling" />
                                <label for="anbefaling3" number="3"></label>
                            </div>
                            <div class="anbefaling">
                                <input type="radio" name="anbefaling" id="anbefaling4" value="4" asp-for="@Model.Anbefaling" />
                                <label for="anbefaling4" number="4"></label>
                            </div>
                            <div class="anbefaling">
                                <input type="radio" name="anbefaling" id="anbefaling5" value="5" asp-for="@Model.Anbefaling" />
                                <label for="anbefaling5" number="5"></label>
                            </div>
                            <div class="anbefaling">
                                <input type="radio" name="anbefaling" id="anbefaling6" value="6" asp-for="@Model.Anbefaling" />
                                <label for="anbefaling6" number="6"></label>
                            </div>
                            <div class="anbefaling">
                                <input type="radio" name="anbefaling" id="anbefaling7" value="7" asp-for="@Model.Anbefaling" />
                                <label for="anbefaling7" number="7"></label>
                            </div>
                            <div class="anbefaling">
                                <input type="radio" name="anbefaling" id="anbefaling8" value="8" asp-for="@Model.Anbefaling" />
                                <label for="anbefaling8" number="8"></label>
                            </div>
                            <div class="anbefaling">
                                <input type="radio" name="anbefaling" id="anbefaling9" value="9" asp-for="@Model.Anbefaling" />
                                <label for="anbefaling9" number="9"></label>
                            </div>
                            <div class="anbefaling">
                                <input type="radio" name="anbefaling" id="anbefaling10" value="10" asp-for="@Model.Anbefaling" />
                                <label for="anbefaling10" number="10"></label>
                            </div>
                            <h5 class="visible-xs" style="float: right">Meget sansynligt</h5>
                        </div>         
                        
                    </div>

                    <button type="submit" class="edit-button-feedback" disabled id="sendBtn" style="display: none; margin-bottom: 50px;">SEND SVAR</button>
                </div>  
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        function scrollToBottom(id) {
            var el = $(id);
            var elOffset = el.offset().top;
            var elHeight = el.height();
            var windowHeight = window.innerHeight;
            var offset;

            if (elHeight < windowHeight) {
                offset = elOffset - ((windowHeight / 2) - (elHeight / 2));
            }
            else {
                offset = elOffset;
            }
            var speed = 600;
            $('html, body').animate({ scrollTop: offset + 100 }, speed);
        }

        $("#basedOnIcons").one("click", function () {
            $("#basedOnBtn").css("opacity", 1);
            $("#basedOnBtn").removeClass("adisabled");
        });

        $("#basedOnBtn").one("click", function () {

            $("#basedOnBtn").css("opacity", 0)
            $("#troværdighed").slideDown(400);
            scrollToBottom("#troværdighed");
        });

        $("#troværdighedBtn").one("click", function () {
            $("#opførsel").slideDown(400);
            scrollToBottom("#opførsel");
        });

        $("#opførselBtn").one("click", function () {
            $("#kvalitet").slideDown(400);
            scrollToBottom("#kvalitet");
        });

        var kvalitetInput = $("#kvalitet input");

        $("#kvalitetBtn").one("click", function () {
            $("#interaktion").slideDown(400);
            scrollToBottom("#interaktion");
        });

        $("#interaktionBtn").one("click", function () {
            $("#feedbackGodt").slideDown(400);
            scrollToBottom("#feedbackGodt");
        });

        $("#feedbackGodtText").one("keyup", function () {
            $("#feedbackGodtBtn").css("opacity", 1);
            $("#feedbackGodtBtn").removeClass("adisabled");
        });

        $("#feedbackGodtBtn").one("click", function () {
            $("#feedbackGodtBtn").css("opacity", 0);
            $("#feedbackBedre").slideDown(400);
            scrollToBottom("#feedbackBedre");
        });

        $("#feedbackBedre").one("keyup", function () {
            $("#feedbackBedreBtn").css("opacity", 1);
            $("#feedbackBedreBtn").removeClass("adisabled");
        });

        $("#feedbackBedreBtn").one("click", function () {
            $("#feedbackBedreBtn").css("opacity", 0);
            $("#anbefaling").slideDown(400);
            scrollToBottom("#anbefaling");
        });

        $("#anbefalingBtn").one("click", function () {
            $("#sendBtn").fadeIn(400); 
            $("#sendBtn").removeAttr("disabled", false);
        });
    </script>
}

