@model Bestfluence.Models.InfluenterViewModels.IndexViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Find influencere – Kategorier & sociale medier";
}
@section metatags{
    <meta name="description" content="Gå på opdagelse i Bestfluence’s store database af feedback og find influencere som passer til dine foretrukne kategorier & sociale medier.">
}

<div class="background-all">

    <div class="container" style="padding-top: 30px; padding-left: 0; padding-right: 0;">
        <div class="col-md-12">
            <div class="col-md-3 hidden-sm hidden-xs">

                <span class="hidden-xs">
                    <select id="sortBy" class="dropdown-sort">
                        <option value="" disabled selected hidden>Sorter rating</option>
                        <option value="1">Højeste</option>
                        <option value="2">Laveste</option>
                        <option value="3">Fleste</option>
                        <option value="4">Færreste</option>
                    </select>
                </span>

                <div class="sort-box">
                    <div class="col-md-12 noPadding">
                        <h4><b>Kategorier</b></h4>
                        @foreach (var categories in Model.CategoryIds)
                        {
                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="@categories.Value" style="background: #fff">@categories.Key</label><br />
                        }
                    </div>
                    <div class="col-md-12 noPadding">
                        <hr />
                    </div>
                    <div class="col-md-12 noPadding">
                        <h4><b>Sociale medier</b></h4>
                        @foreach (var platform in Model.PlatformIds)
                        {
                            <label class="checkbox-inline"><input type="checkbox" name="platforme" value="@platform.Value" style="background: #fff" />@platform.Key</label><br />
                        }
                    </div>
                    <div class="col-md-12 noPadding">
                        <button id="sortBtn">Filtrer</button>
                    </div>


                </div>

            </div>

            <div class="col-md-9 col-sm-12 col-xs-12 nopaddingmobile">
                <form method="get" asp-area="" asp-controller="influencer" asp-action="index" style="margin-bottom: 30px;" id="SearchButton-Click-ID">
                    <div class="input-group">
                        <input autocomplete="off" type="text" name="search" id="search" value="@Model.SearchString" style="border: 1px solid #ddd; height: 40px" class="form-control search-input-influencer" list="searchSug" placeholder="Søg på influencere" />
                        <datalist id="searchSug"></datalist>
                        <div class="input-group-btn">
                            <button class="btn search-button-influencer" type="submit" style="height: 40px; font-size: 16px"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </form>

                @if (!SignInManager.IsSignedIn(User))
                {
                    <div class="col-md-12 search-result" style="padding-top: 15px; padding-bottom: 15px; height: 150px">
                        <div class="outer">
                            <div class="middle">
                                <div class="inner">
                                    <h4 style="margin-top: 0; margin-bottom: 15px">Bruger du sociale medier?</h4>
                                    <a href="#" data-toggle="modal" data-target="#opretModal" class="btn-create center-block">Opret en profil</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="col-md-12">
                    <div class="loading-box-top" id="sortLoadingBox">
                        <div class="text-center">
                            <i style="color: #089de3" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>

                <div id="listOfInfluencers">

                </div>

                @*<div class="col-md-12 search-result" style="padding-top: 15px; padding-bottom: 15px; height: 150px; display: none" id="createInfluencer">
                    <div class="outer">
                        <div class="middle">
                            <div class="inner">
                                <h4 style="margin-top: 0; margin-bottom: 15px">Mangler vi din influencer?</h4>
                                <a asp-controller="influencer" asp-action="create" class="btn-create center-block">Opret din influencer</a>
                            </div>
                        </div>
                    </div>
                </div>*@

                <div class="col-md-12 text-center" id="loadingBox" style="height: 50px">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var pageSize = 20;
        var pageIndex = 0;
        var searchString = '@Model.SearchString';
        var ajaxDone = 0;

        function FetchData() {
            var categoriArray = [];
            var platformArray = [];
            var sortBy = $("#sortBy").val();

            $("input:checkbox[name=platforme]:checked").each(function () {
                platformArray.push($(this).val());
            })

            $("input:checkbox[name=kategorier]:checked").each(function () {
                categoriArray.push($(this).val());
            })

            var jsonPlatformArray = {};
            var jsonKategoriArray = {};

            for (i in categoriArray) {
                jsonKategoriArray[i] = categoriArray[i];
            }

            for (i in platformArray) {
                jsonPlatformArray[i] = platformArray[i];
            }


            $.ajax({
                url: "/Influencer/GetNextFromList",
                method: "GET",
                dataType: 'json',
                beforeSend: function () {
                    ajaxDone++;
                },
                data: {
                    pageIndex: pageIndex,
                    pageSize: pageSize,
                    search: searchString,
                    platforme: jsonPlatformArray,
                    kategorier: jsonKategoriArray,
                    sortBy: sortBy
                },
                success: function (result) {

                    if (result.length < 20) {
                        $("#loadingBox").css("opacity", "0");
                        $("#createInfluencer").css("display", "block")
                    }

                    $.each(result, function (i, item) {
                        var newItem = $(LoadHtml(item)).hide();
                        $("#listOfInfluencers").append(newItem);
                        newItem.fadeIn("slow");
                    })

                },
                error: function () {
                    console.log("fail fetched");
                },
                complete: function () {
                    ajaxDone--;
                    pageIndex++;

                }
            });
        }

        function SortData() {
            pageIndex = 0;
            var categoriArray = [];
            var platformArray = [];
            var sortBy = $("#sortBy").val();

            $("input:checkbox[name=platforme]:checked").each(function () {
                platformArray.push($(this).val());
            });

            $("input:checkbox[name=kategorier]:checked").each(function () {
                categoriArray.push($(this).val());
            });

            var jsonPlatformArray = {};
            var jsonKategoriArray = {};

            for (i in categoriArray) {
                jsonKategoriArray[i] = categoriArray[i];
            }

            for (i in platformArray) {
                jsonPlatformArray[i] = platformArray[i];
            }

            $.ajax({
                url: "/Influencer/Sorter",
                method: "GET",
                dataType: 'json',
                beforeSend: function () {
                    $("#sortLoadingBox").css("display", "block");
                    $("#listOfInfluencers").addClass("blur-effect");
                },
                data: {
                    pageIndex: pageIndex,
                    pageSize: pageSize,
                    search: searchString,
                    platforme: jsonPlatformArray,
                    kategorier: jsonKategoriArray,
                    sortBy: sortBy
                },
                success: function (result) {

                    if (result.length < 20) {
                        $("#loadingBox").css("opacity", "0");
                        $("#createInfluencer").css("display", "block")
                    }

                    $("#listOfInfluencers").html(" ");
                    $.each(result, function (i, item) {
                        var newItem = $(LoadHtml(item)).hide();
                        $("#listOfInfluencers").append(newItem);
                        newItem.fadeIn("slow");
                    })

                },
                error: function () {
                    console.log("fail sorter");
                },
                complete: function () {
                    pageIndex = 0;
                    pageIndex++;
                    console.log("PageIndex: " + pageIndex)
                }
            });
        }

        function LoadHtml(item) {

            var categories = "";
            var platforms = "";

            if (item.categories.length == 0) {
                categories = "Ingen kategorier"
            }
            else {
                categories = item.categories.join(" | ")
            }


            if (item.platforms.length === 0) {
                platforms = "Ingen sociale medier"
            }
            else {
                for (var i = 0; i < item.platforms.length; i++) {
                    var split = item.platforms[i].split("^");

                    switch (split[0]) {
                        case "Instagram":
                            platforms += "<a href='http://www.instagram.com/" + split[1] + "' target='_blank' class='fa fa-search-o fa-instagram fa-instagram-search'></a>";
                            break;
                        case "Facebook":
                            platforms += "<a href='" + split[1] + "' target='_blank' class='fa fa-search-o fa-facebook fa-facebook-search'></a>";
                            break;
                        case "YouTube":
                            platforms += "<a href='" + split[1] + "' target='_blank' class='fa fa-search-o fa-youtube-play fa-youtube-search'></a>";
                            break;
                        case "SecondYouTube":
                            platforms += "<a href='" + split[1] + "' target='_blank' class='fa fa-search-o fa-youtube-play fa-youtube-search'></a>";
                            break;
                        case "SnapChat":
                            platforms += "<a href='http://www.snapchat.com/add/" + split[1] + "' target='_blank' class='fa fa-search-o fa-snapchat-ghost fa-snapchat-ghost-search'></a>";
                            break;
                        case "Twitter":
                            platforms += "<a href='http://www.twitter.com/" + split[1] + "' target='_blank' class='fa fa-search-o fa-twitter fa-twitter-search'></a>";
                            break;
                        case "Twitch":
                            platforms += "<a href='" + split[1] + "' target='_blank' class='fa fa-search-o fa-twitch fa-twitch-search'></a>";
                            break;
                        case "Website":
                            platforms += "<a href='http://" + split[1] + "' target='_blank' class='fa fa-search-o fa-globe fa-globe-search'></a>";
                            break;
                    }

                }
            }

            var total = 0;
            for (var i = 0; i < item.feedbackScore.length; i++) {
                total += item.feedbackScore[i];
            }

            var avg = total / item.feedbackScore.length;

            avg = avg || 0;

            var stars = "";
            var value = avg;
            var round = Math.round(value * 2) / 2;
            var floor = Math.floor(round);
            var hasDeciaml = (round % 1) != 0;

            for (var i = 0; i <= floor; i++) {
                if (hasDeciaml) {
                    if (i === floor) {
                        stars += '<div class="show-rating-box-small"><i class="fa fa-star-half" aria-hidden="true"></i></div>'
                    }
                    else {
                        stars += '<div class="show-rating-box-small"><i class="fa fa-star" aria-hidden="true"></i></div>'
                    }
                } else {
                    if (floor <= i) {
                        break;
                    }
                    stars += '<div class="show-rating-box-small"><i class="fa fa-star" aria-hidden="true"></i></div>'
                }
            }

            

            var hrefUrl = "/influencer/profile/" + item.id;

            if (item.url) {
                hrefUrl = "/" + item.url;
            }

            var vote = "";
            if (item.influencerVote) {
                vote = '<div class="vote-span-container"><a class="vote-span" href="' + hrefUrl + '">AFSTEMING IGANG</a></div>';
            }

            return '<div class="influencer-result-box">' +
                '<div class="col-lg-2 col-md-2 col-sm-2">' +
                '<img src="/Manage/UsersProfilePic/' + item.id + '" />' +
                '</div>' +
                '<div class="col-lg-7 col-md-7 col-sm-7">' +
                '<a class="profile-link" href="' + hrefUrl + '">' + item.alias + '</a>' +
                '<span class="categories">' + categories + '</span>' +
                '<div class="hidden-xs" style="float: left">' +
                '<a class="follow-btn rss-feed"><i class="fa fa-rss" aria-hidden="true"></i> Følg</a><a class="follow-btn star"><i class="fa fa-star" aria-hidden="true"></i> Giv feedback</a><a class="follow-btn heart"><i class="fa fa-heart" style="font-size: 12px" aria-hidden="true"></i> Læs feedback</a>' +
                '</div>' +
                '</div>' +
                '<div class="col-lg-3 col-md-3 col-sm-3 noPadding">' +
                '<div class="show-rating-small">' +
                '<div class="show-rating-container-small center-block">' +
                '<div class="show-rating-front-small">' +
                stars +
                '</div>' +
                '<div class="show-rating-back-small">' +
                '<div class="show-rating-box-small"><i class="fa fa-star" aria-hidden="true"></i></div><div class="show-rating-box-small"><i class="fa fa-star" aria-hidden="true"></i></div><div class="show-rating-box-small"><i class="fa fa-star" aria-hidden="true"></i></div><div class="show-rating-box-small"><i class="fa fa-star" aria-hidden="true"></i></div><div class="show-rating-box-small"><i class="fa fa-star" aria-hidden="true"></i></div>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '<span class="score">' + avg.toFixed(2) + ' af ' + item.feedbackCount + ' ratings</span>' +
                vote +
                '<div class="visible-xs" style="float: left; width: 100%;">' +
                '<a class="follow-btn rss-feed"><i class="fa fa-rss" aria-hidden="true"></i> Følg influencer</a>' +
                '<a class="follow-btn star"><i class="fa fa-star" aria-hidden="true"></i> Giv feedback</a>' +
                '<a class="follow-btn heart"><i class="fa fa-heart" style="font-size: 12px" aria-hidden="true"></i> Læs feedback</a>' +
                '</div>' +
                '</div></div>'


            //return '<div class="col-md-12 search-result noPaddingLeft">' +
            //    '<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 search-result-box">' +
            //    ' <a href="' + hrefUrl + '">' +
            //    ' <img class="influ-img" src="/Manage/UsersProfilePic/' + item.id + '" />' +
            //    '</a>' +
            //    '</div>' +

            //    '<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 noPadding search-body">' +
            //    '<div class="outer"><div class="middle"><div class="inner inner-influencer" style="text-align: left;">' +
            //    '<h4><a href="' + hrefUrl + '">' + item.alias +  vote +' </a></h4>' +
            //    '<p style="margin-top: 12px">' + categories + '</p>' +
            //    '<div class="center-social">' +
            //    platforms +
            //    '</div>' +
            //    '</div></div></div>' +
            //    '</div>' +

            //    '<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 noPadding influencer-index">' +
            //    '<div class="show-rating" style="margin-top: 15px;">' +
            //    '<div class="show-rating-container center-block">' +

            //    '<div class="show-rating-front">' +
            //    stars +
            //    '</div>' +

            //    '<div class="show-rating-back">' +
            //    '<div class="show-rating-box"><i class="fa fa-star" aria-hidden="true"></i></div>' +
            //    '<div class="show-rating-box"><i class="fa fa-star" aria-hidden="true"></i></div>' +
            //    '<div class="show-rating-box"><i class="fa fa-star" aria-hidden="true"></i></div>' +
            //    '<div class="show-rating-box"><i class="fa fa-star" aria-hidden="true"></i></div>' +
            //    '<div class="show-rating-box"><i class="fa fa-star" aria-hidden="true"></i></div>' +

            //    '</div>' +
            //    '</div>' +
            //    '</div>' +
            //    '<p class="show-score">' + avg.toFixed(2) + ' af ' + item.feedbackCount + ' ratings</p>' +

            //    '</div>' +
            //    '<a href="/influencer/feedback/give/' + item.id + '" class="feedback-influencer-btn" style="background: #089de3"><i class="fa fa-star icon-hover-star" aria-hidden="true"></i>&nbsp;&nbsp;Giv feedback</a>' +
            //    '<a href="/influencer/feedback/read/' + item.id + '" class="feedback-influencer-btn feedback-margin-bot"><i class="fa fa-heart icon-hover-heart" aria-hidden="true"></i>&nbsp;&nbsp;Se feedback</a><br />' +

            //    '</div>' +
            //    '</div>'

        }

        $(document).ready(function () {
            FetchData();
        });

        $(window).scroll(function () {
            if (ajaxDone === 0) {

                if (window.innerWidth < 767) {
                    if ($(window).scrollTop() + $(window).height() + 1000 > $(document).height()) {
                        FetchData();
                    }
                } else {
                    if ($(window).scrollTop() + $(window).height() + 500 > $(document).height()) {
                        FetchData();
                    }
                }
            }
        });

        $(document).ready(function () {

            $("#sortBtn").click(function () {
                SortData();
            });

            $('#sortBy').on('change', function () {
                SortData();
            });
        });

        $(document).ajaxStop(function(){
            $("#sortLoadingBox").css("display", "none");
            $("#listOfInfluencers").removeClass("blur-effect");
        });

    </script>
}