@model Bestfluence.Models.InfluenterViewModels.ShowViewModel
@inject Bestfluence.Services.Interfaces.IFeedbackService FeedbackService
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = Model.Influenter.Alias + " - Profil & sociale medier";
    var isUserCreated = (Model.ApplicationUser.NormalizedEmail.StartsWith("USERINFLUENCER")) ? true : false;
    var totalScore = FeedbackService.GetTotalScore(Model.Influenter.Id);
    var index = 0;
    var colors = new string[] { "#ffa500", "#53b80a", "#ea4335", "#089de3", "#FDD01C" };
}
@section metatags{
    <meta name="description" content="Lær noget nyt om og gå på opdagelse i @Model.Influenter.Alias's profil & sociale medier.">
}




<div class="background-all" >

    <div class="navbar-allaround"></div>

    @if (TempData["Success"] != null)
    {
        <div id="showSuc" class="alert fade in alert-success alert-dismissable alert-mobile" style="margin-top: 10px;  position: absolute; z-index: 5; left: 20%; right: 20%">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @TempData["Success"]
        </div>

        <script>
            window.setTimeout(function () {
                $("#showSuc").fadeOut(1000);
            }, 5000);
        </script>
    }

    <div class="container" style="padding-top: 40px;">
        <div class="col-md-12 noPadding">
            <div class="col-md-4 nopaddingmobile">
                <div class="white-box">

                    <img class="profile-img-big center-block" src="@Url.Action("UsersProfilePic", "Manage", new { Id = Model.Influenter.Id})" />
                    <hr />
                    <h3 style=" font-family: 'Oxygen', sans-serif; ">
                        @Model.Influenter.Alias
                        @if (!isUserCreated)
                        {
                            <i class="fa fa-check-circle" aria-hidden="true" style="color: #089de3;" title="Verificeret"></i>
                        }
                    </h3>
                    @if (!isUserCreated)
                    {
                        <h5>@Model.Age år</h5>
                        <h5>@Model.Gender</h5>

                    }
                    <br />
                    <h3 style="font-family: 'Anton', sans-serif;">BIO</h3>
                    <p style="word-break: break-word">@Model.Influenter.ProfileText</p>

                    <br />
                    <a asp-controller="influencer" asp-action="give" asp-route-id="@Model.Influenter.Id" class="feedback-influencer-btn width100" style="background-color: #089de3;"><i class="fa fa-star icon-hover-star" aria-hidden="true"></i>&nbsp;&nbsp;Giv feedback</a>
                    <a asp-controller="influencer" asp-action="read" asp-route-id="@Model.Influenter.Id" class="feedback-influencer-btn width100" style="background-color: #53b80a;"><i class="fa fa-heart icon-hover-heart" aria-hidden="true"></i>&nbsp;&nbsp;Se feedback</a>

                </div>
            </div>
            <div class="col-md-8 nopaddingmobile">

                <div class="white-box">
                    <h3 class="text-center" style="margin-bottom: 20px; margin-top: 10px;"><b>BESTSCORE</b></h3>
                    <div class="show-rating-medium" style="margin-top: 20px;">
                        <div class="show-rating-container-medium center-block">
                            <div class="show-rating-front-medium">
                                @foreach (var v in FeedbackService.GetStars(totalScore))
                                {
                                    if (v)
                                    {
                                        <div class="show-rating-box-medium">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="show-rating-box">
                                            <i class="fa fa-star-half" aria-hidden="true"></i>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="show-rating-back-medium">
                                <div class="show-rating-box-medium">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="show-rating-box-medium">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="show-rating-box-medium">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="show-rating-box-medium">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="show-rating-box-medium">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center" style="margin-top: 20px; margin-bottom: 10px; font-size: 16px">@totalScore.ToString("0.00") af @Model.Influenter.Ratings.Count ratings</p>
                </div>

                <!--Vote-->

                @if (Model.Afstemning != null)
                {
                    <input type="hidden" id="voteId" value="@Model.Afstemning.Id" />

                    if (SignInManager.IsSignedIn(User))
                    {
                        if (Model.HasVoted.Value)
                        {
                            <div class="white-box vote-box">
                                <h3 class="text-center" style="margin-top: 10px ;margin-bottom: 20px"><b>AFSTEMNING</b></h3>
                                <h4 style="word-break: break-word">@Model.Afstemning.Title</h4>

                                <div class="vote-box-body" id="voteBox">
                                    @foreach (var v in Model.Afstemning.VoteQuestions)
                                    {
                                        <div class="vote-progress-container">
                                            <span>@v.Question</span>
                                            <div class="vote-progress">
                                                <div class="vote-progress-bar">

                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="white-box vote-box">
                                <h3 class="text-center" style="margin-top: 10px ;margin-bottom: 20px"><b>AFSTEMNING</b></h3>
                                <h4 style="word-break: break-word">@Model.Afstemning.Title</h4>

                                <div class="vote-box-body" id="voteBox">
                                    @foreach (var v in Model.Afstemning.VoteQuestions)
                                    {
                                        <input type="radio" value="@v.Id" id="@v.Id" name="voteAnswers" class="AnswerQuestionnaire-Click-Class" />
                                        <label for="@v.Id" style="border-left: 3px solid @colors[index]">
                                            @v.Question
                                        </label>
                                        index++;
                                    }
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        ViewData["ReturnUrl"] = Context.Request.Path;
                        <div style="position: relative">
                            <div style="position: absolute; z-index: 100; top:50%; left: 50%; transform: translate(-50%, -50%)">
                                <h4 style="">Du skal have en profil for at svare</h4>
                                <button class="vote-opret-btn" data-toggle="modal" data-target="#opretModal">OPRET PROFIL</button>
                            </div>
                           

                            <div class="white-box vote-box blur-effect">
                                <h3 class="text-center" style="margin-top: 10px ;margin-bottom: 20px"><b>AFSTEMNING</b></h3>
                                <h4 style="word-break: break-word">@Model.Afstemning.Title</h4>


                                <div class="vote-box-body" id="voteBox">
                                    @foreach (var v in Model.Afstemning.VoteQuestions)
                                    {
                                        <input type="radio" value="@v.Id" id="@v.Id" name="voteAnswers" />
                                        <label for="@v.Id" style="border-left: 3px solid @colors[index]">
                                            @v.Question
                                        </label>
                                        index++;
                                    }
                                </div>
                            </div>
                        </div>

                    }
                }

                <div class="white-box">
                    <h3 class="text-center" style="margin-bottom: 20px; margin-top: 10px;"><b>KATEGORIER</b></h3>
                    <div class="center-icons">
                        @foreach (var v in Model.Influenter.InfluenterKategori)
                        {
                            var srcName = v.Category.Name.ToLower() + ".png";
                            <div class="tooltips">
                                <img src="~/images/Kategori/@srcName" />
                                <span class="tooltiptext">@v.Category.Name</span>
                            </div>
                        }
                    </div>
                </div>

                <div class="white-box">
                    <h3 class="text-center" style="margin-bottom: 20px; margin-top: 10px;"><b>SOCIALE MEDIER</b></h3>
                    <div class="social-box" style="text-align: center">

                        @foreach (var v in Model.Influenter.InfluenterPlatform)
                        {
                            @if (v.Platform.Name == "Facebook")
                            {
                                <a href="@v.Link" target="_blank" class="fa fa-profile fa-facebook fa-facebook-profile"></a>
                            }
                            else if (v.Platform.Name == "YouTube")
                            {
                                <a href="@v.Link" target="_blank" class="fa fa-profile fa-youtube-play fa-youtube-profile"></a>
                            }
                            else if (v.Platform.Name == "SecondYouTube")
                            {
                                <a href="@v.Link" target="_blank" class="fa fa-profile fa-youtube-play fa-youtube-profile"></a>
                            }
                            else if (v.Platform.Name == "SnapChat")
                            {
                                <a href="http://www.snapchat.com/add/@v.Link" target="_blank" class="fa fa-profile fa-snapchat-ghost fa-snapchat-ghost-profile"></a>
                            }
                            else if (v.Platform.Name == "Instagram")
                            {
                                <a href="http://www.instagram.com/@v.Link" target="_blank" class="fa fa-profile fa-instagram fa-instagram-profile"></a>
                            }
                            else if (v.Platform.Name == "Twitter")
                            {
                                <a href="http://www.twitter.com/@v.Link" target="_blank" class="fa fa-profile fa-twitter fa-twitter-profile"></a>
                            }
                            else if (v.Platform.Name == "Twitch")
                            {
                                <a href="@v.Link" target="_blank" class="fa fa-profile fa-twitch fa-twitch-profile"></a>
                            }
                            else if (v.Platform.Name == "Website")
                            {
                                <a href="http://@v.Link" target="_blank" class="fa fa-profile fa-globe fa-globe-profile"></a>
                            }
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var colors = ["#ffa500", "#53b80a", "#ea4335", "#089de3", "#FDD01C"];
        var hasVoted = '@Model.HasVoted';

        $(document).ready(function () {
            getData();

            $(".vote-box-body label").each(function () {
                console.log($(this).height())
                if ($(this).height() > 40) {
                    $(this).css("line-height", "unset");
                }

            });

        });

        $("input[name=voteAnswers]").click(function () {
            $.ajax({
                url: "/Influencer/Vote",
                method: "POST",
                dataType: 'json',
                data: {
                    id: $("#applicationUserId").val(),
                    questionId: $("input[name=voteAnswers]:checked").val(),
                    voteId: $("#voteId").val()
                },
                success: function (result) {
                    if (result) {
                        hasVoted = 'True';
                        getData();
                    }
                },
                error: function (response) {
                    console.log(response);
                },
            });
        });

        function getData() {
            if (hasVoted === 'True') {
                $.ajax({
                    url: "/Influencer/GetVoteResult",
                    method: "GET",
                    dataType: 'json',
                    data: {
                        voteId: $("#voteId").val()
                    },
                    success: function (result) {
                        var voteBox = $("#voteBox");
                        var totalSum = result.totalSum;
                        voteBox.html("");

                        for (var i = 0; i < result.data.length; i++) {
                            voteBox.append('<div class="vote-progress-container"><span>' + result.data[i].title + '</span><div class="vote-progress"><div class="vote-progress-bar" id="voteBar' + i + '" style="width: 0%; background: ' + colors[i] + '"></div></div></div>');
                        }

                        for (var i = 0; i < result.data.length; i++) {
                            (function (i) {
                                setTimeout(function () {
                                    var width = (result.data[i].count / totalSum) * 100 + "%";
                                    $("#voteBar" + i).css("width", width);
                                }, 500)
                            })(i);
                        }
                    },
                    error: function () {
                        console.log("fail vote");
                    },
                });
            }
        }



    </script>
}