@model RateBlog.Models.InfluenterViewModels.ShowViewModel
@inject RateBlog.Services.IFeedbackService FeedbackService
@inject RateBlog.Services.Interfaces.IPlatformCategoryService PlatformCategoryService
@inject RateBlog.Repository.IRepository<Platform> PlatformRepo
@{
    ViewData["Title"] = Model.Influenter.Alias + "'s profil";
}

<div style="padding-bottom: 100px;">
    <div class="navbar-allaround"></div>
    <div class="container">
        @if (TempData["Success"] != null)
        {
            <div id="showSuc" class="alert fade in alert-success alert-dismissable alert-mobile" style="margin-top: 10px;  position: absolute; z-index: 5000; left: 20%; right: 20%">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @TempData["Success"]
            </div>

            <script>
                window.setTimeout(function () {
                    $("#showSuc").fadeOut(1000);
                }, 5000);
            </script>
        }

        <div class="col-md-12">
            <img class="profil-img margin-top center-block" src="@Url.Action("UsersProfilePic", "Manage", new { id = Model.ApplicationUser.Id })" />
            <div class="text-center">
                <h2>@Model.ApplicationUser.Name</h2>
                <h3>
                    @if (PlatformCategoryService.GetInfluencerCategoryNames(Model.ApplicationUser.Id) != null)
                    {
                        @foreach (var v in PlatformCategoryService.GetInfluencerCategoryNames(Model.ApplicationUser.Id))
                        {
                            if (v.Equals(PlatformCategoryService.GetInfluencerCategoryNames(Model.ApplicationUser.Id).Last()))
                            {
                                @v
                            }
                            else
                            {
                                @v <span> | </span>
                            }
                        }
                    }
                    else
                    {
                        <span>Ukendte kategorier</span>
                    }
                </h3>

                <hr />
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                @if (FeedbackService.HasFeedback(Model.Influenter.Id))
                {
                    <h3 class="text-center" style="margin-top: 0">Følger rating:</h3>

                    <div class="show-rating-box-show">
                        <div class="show-rating-show">
                            <div class="show-rating-front-show">
                                @for (int i = 0; i < FeedbackService.GetAverageFeedbackScore(Model.Influenter.Id); i++)
                                {
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                }
                            </div>
                            <div class="show-rating-back-show">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <p class="text-center" style="margin-top: 20px; margin-bottom: 20px; font-size: 18px">@FeedbackService.GetTotalScore(Model.Influenter.Id).ToString("0.0") af @FeedbackService.GetInfluencerFeedbackCount(Model.Influenter.Id) ratings</p>

                    <a asp-controller="Influencer" asp-action="Give" asp-route-id="@Model.Influenter.Id" class="feedback-influencer-btn width100" style="background-color: #089de3;"><i class="fa fa-star icon-hover-star" aria-hidden="true"></i>&nbsp;&nbsp;Giv feedback</a>
                    <a asp-controller="Influencer" asp-action="Read" asp-route-id="@Model.Influenter.Id" class="feedback-influencer-btn width100" style="background-color: #53b80a;"><i class="fa fa-heart icon-hover-heart" aria-hidden="true"></i>&nbsp;&nbsp;Se feedback</a>

                }                
                else
                {
                    <h4 class="text-center">Bliv den første til at give denne influencer feedback</h4>
                    <a asp-controller="Influencer" asp-action="Give" asp-route-id="@Model.Influenter.Id" class="feedback-influencer-btn width100" style="background-color: #089de3;"><i class="fa fa-star icon-hover-star" aria-hidden="true"></i>&nbsp;&nbsp;Giv feedback</a>
                }
            </div>

            <hr class="hidden-md hidden-lg" />

            <div class="col-md-4 profile-text">
                @if (string.IsNullOrEmpty(Model.ApplicationUser.ProfileText))
                {
                    <h4>Denne influencer har ikke skrevet nogen profiltekst</h4>
                }
                else
                {
                    <p>@Model.ApplicationUser.ProfileText</p>
                }
            </div>

            <hr class="hidden-md hidden-lg" />

            <div class="col-md-4">
                @if (PlatformCategoryService.GetAllInfluencerPlatformForInfluencer(Model.ApplicationUser.Id) != null)
                {

                    @foreach (var v in PlatformCategoryService.GetAllInfluencerPlatformForInfluencer(Model.ApplicationUser.Id))
                    {
                        <div class="social-box">
                            @if (PlatformRepo.Get(v.PlatformId).Name == "Facebook")
                            {
                                <a href="http://www.facebook.com/@v.Link" target="_blank" class="fa fa-profile fa-facebook fa-facebook-profile"></a>
                                <span>@PlatformRepo.Get(v.PlatformId).Name</span>
                            }
                            else if (PlatformRepo.Get(v.PlatformId).Name == "YouTube")
                            {
                                <a href="http://www.youtube.com/user/@v.Link" target="_blank" class="fa fa-profile fa-youtube fa-youtube-profile"></a>
                                <span>@PlatformRepo.Get(v.PlatformId).Name</span>
                            }
                            else if (PlatformRepo.Get(v.PlatformId).Name == "SnapChat")
                            {
                                <a href="http://www.snapchat.com/add/@v.Link" target="_blank" class="fa fa-profile fa-snapchat-ghost fa-snapchat-ghost-profile"></a>
                                <span>@PlatformRepo.Get(v.PlatformId).Name</span>
                            }
                            else if (PlatformRepo.Get(v.PlatformId).Name == "Instagram")
                            {
                                <a href="http://www.instagram.com/@v.Link" target="_blank" class="fa fa-profile fa-instagram fa-instagram-profile"></a>
                                <span>@PlatformRepo.Get(v.PlatformId).Name</span>
                            }
                            else if (PlatformRepo.Get(v.PlatformId).Name == "Twitter")
                            {
                                <a href="http://www.twitter.com/@v.Link" target="_blank" class="fa fa-profile fa-twitter fa-twitter-profile"></a>
                                <span>@PlatformRepo.Get(v.PlatformId).Name</span>
                            }
                            else if (PlatformRepo.Get(v.PlatformId).Name == "Twitch")
                            {
                                <a href="http://www.twitch.tv/@v.Link" target="_blank" class="fa fa-profile fa-twitch fa-twitch-profile"></a>
                                <span>@PlatformRepo.Get(v.PlatformId).Name</span>
                            }
                            else if (PlatformRepo.Get(v.PlatformId).Name == "Website")
                            {
                                <a href="http://@v.Link" target="_blank" class="fa fa-profile fa-globe fa-globe-profile"></a>
                                <span>Hjemmeside</span>
                            }
                        </div>
                    }
                }
                else
                {
                    <h4>Denne influencer har ikke tilknyttet nogle sociale medier</h4>
                }

            </div>
        </div>
    </div>
</div>