@model RateBlog.Models.InfluenterViewModels.ShowViewModel
@inject RateBlog.Services.IFeedbackService FeedbackService
@{
    ViewData["Title"] = Model.Influenter.Alias + "'s profil";
    var isUserCreated = (Model.ApplicationUser.NormalizedEmail.StartsWith("USERINFLUENCER")) ? true : false;
}

<div style="padding-bottom: 100px; min-height: 100vh; background-color: #fafafa">
    <div class="navbar-allaround"></div>

    @if (TempData["Success"] != null)
    {
        <div id="showSuc" class="alert fade in alert-success alert-dismissable alert-mobile" style="margin-top: 10px;  position: absolute; z-index: 5; left: 20%; right: 20%">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @TempData["Success"]
        </div>

        <script>
            window.setTimeout(function () {
                $("#showSuc").fadeOut(1000);
            }, 5000);
        </script>
    }

    <div class="container" style="padding-top: 40px;">
        <div class="col-md-12 noPadding">
            <div class="col-md-4 noPaddingLeft nopaddingmobile">
                <div class="profile-box">

                    <img class="profil-img center-block" style="margin-bottom: 40px; margin-top: 25px" src="@Url.Action("UsersProfilePic", "Manage", new { Id = Model.ApplicationUser.Id})" />
                    <hr />
                    <h3>
                        @Model.Influenter.Alias
                        @if (!isUserCreated)
                        {
                            <i class="fa fa-check-circle" aria-hidden="true" style="color: #089de3;" title="Verificeret"></i>
                        }
                    </h3>
                    @if (!isUserCreated)
                    {
                        <h5>@Model.Age år</h5>
                        <h5>@Model.Gender</h5>

                    }
                    <br />
                    <h3 style="font-family: 'Anton', sans-serif;">BIO</h3>
                    <p style="word-break: break-word">@Model.Influenter.ProfileText</p>

                    <br />
                    <a asp-controller="Influencer" asp-action="Give" asp-route-id="@Model.Influenter.Id" class="feedback-influencer-btn width100" style="background-color: #089de3;"><i class="fa fa-star icon-hover-star" aria-hidden="true"></i>&nbsp;&nbsp;Giv feedback</a>
                    <a asp-controller="Influencer" asp-action="Read" asp-route-id="@Model.Influenter.Id" class="feedback-influencer-btn width100" style="background-color: #53b80a;"><i class="fa fa-heart icon-hover-heart" aria-hidden="true"></i>&nbsp;&nbsp;Se feedback</a>

                </div>
            </div>
            <div class="col-md-8 noPaddingRight nopaddingmobile">
                <div class="profile-box">
                    <h3 class="text-center" style="margin-bottom: 20px;"><b>SAMLET SCORE</b></h3>
                    <div class="show-rating-box-show">
                        <div class="show-rating-show">
                            <div class="show-rating-front-show">
                                @for (int i = 0; i < FeedbackService.GetAverageFeedbackScore(Model.Influenter.Id); i++)
                                {
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                }
                            </div>
                            <div class="show-rating-back-show">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <p class="text-center" style="margin-top: 20px; margin-bottom: 20px">@FeedbackService.GetTotalScore(Model.Influenter.Id).ToString("0.0") af @FeedbackService.GetInfluencerFeedbackCount(Model.Influenter.Id) ratings</p>
                </div>

                <div class="profile-box">
                    <h3 class="text-center" style="margin-bottom: 20px;"><b>KATEGORIER</b></h3>
                    <div class="profile-center-img">
                        @foreach (var v in Model.Influenter.InfluenterKategori)
                        {
                            var srcName = v.Category.Name.ToLower() + ".png";
                            <div class="tooltips">
                                <img src="~/images/Kategori/@srcName" />
                                <span class="tooltiptext">@v.Category.Name</span>
                            </div>
                        }
                    </div>
                </div>

                <div class="profile-box" style="padding-top: 20px; padding-bottom: 20px">
                    <h3 class="text-center" style="margin-bottom: 20px;"><b>SOCIALE MEDIER</b></h3>
                    <div class="social-box" style="text-align: center">

                        @foreach (var v in Model.Influenter.InfluenterPlatform)
                        {
                            @if (v.Platform.Name == "Facebook")
                            {
                                <a href="@v.Link" target="_blank" class="fa fa-profile fa-facebook fa-facebook-profile"></a>
                            }
                            else if (v.Platform.Name == "YouTube")
                            {
                                <a href="@v.Link" target="_blank" class="fa fa-profile fa-youtube fa-youtube-profile"></a>
                            }
                            else if (v.Platform.Name == "SecondYouTube")
                            {
                                <a href="@v.Link" target="_blank" class="fa fa-profile fa-youtube fa-youtube-profile"></a>
                            }
                            else if (v.Platform.Name == "SnapChat")
                            {
                                <a href="http://www.snapchat.com/add/@v.Link" target="_blank" class="fa fa-profile fa-snapchat-ghost fa-snapchat-ghost-profile"></a>
                            }
                            else if (v.Platform.Name == "Instagram")
                            {
                                <a href="http://www.instagram.com/@v.Link" target="_blank" class="fa fa-profile fa-instagram fa-instagram-profile"></a>
                            }
                            else if (v.Platform.Name == "Twitter")
                            {
                                <a href="http://www.twitter.com/@v.Link" target="_blank" class="fa fa-profile fa-twitter fa-twitter-profile"></a>
                            }
                            else if (v.Platform.Name == "Twitch")
                            {
                                <a href="@v.Link" target="_blank" class="fa fa-profile fa-twitch fa-twitch-profile"></a>
                            }
                            else if (v.Platform.Name == "Website")
                            {
                                <a href="http://@v.Link" target="_blank" class="fa fa-profile fa-globe fa-globe-profile"></a>
                            }
                        }
                    </div>
                </div>

            </div>

        </div>
    </div>



</div>