@model Bestfluence.Models.InfluenterViewModels.ReadViewModel
@inject Bestfluence.Services.Interfaces.IFeedbackService FeedbackService
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Anmeldelser af "+ Model.Influenter.Alias +" - Læs følgernes feedback";
    var isUserCreated = (Model.ApplicationUser.NormalizedEmail.StartsWith("USERINFLUENCER")) ? true : false;
    var totalScore = FeedbackService.GetTotalScore(Model.Influenter.Id);
}
@section metatags{
    <meta name="description" content="Læs følgernes feedback og anmeldelser af @Model.Influenter.Alias og få et overblik over indholdet.">
}
 
<!--Report modal-->

<div id="reportModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="max-width: 350px">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px 15px; background: #fafafa; border-top-left-radius: 6px; border-top-right-radius: 6px">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Rapportér feedback</h4>
            </div>  
            <div class="modal-body" style="padding: 15px">
                <label>
                    <input type="checkbox" name="reason"  id="LanguageUse" value="Upassende sprogbrug"> Upassende sprogbrug
                </label>
                <br />
                <label>
                    <input type="checkbox" name="reason" id="Spam" value="Spam"> Spam
                </label>
                <br />
                <label>
                    <input type="checkbox" name="reason"  id="Discrimination" value="Diskriminerende"> Diskriminerende
                </label>
                <br />
                <label>
                    <input type="checkbox" name="reason"  id="Other" value="Andet"> Andet
                </label>
                <br />

                <input type="hidden" id="userToReport" value="@UserManager.GetUserId(User)" /> 

                <textarea rows="4" cols="29" style="padding:10px; width: 100%; margin-top: 5px; margin-bottom: 5px" placeholder="Beskrivelse" id="description" name="Description"></textarea>

                <button id="reportBtn" style="width: 100%; background: #089de3; border: none; padding: 5px; color: #fff">Send</button>

                <p style="margin-top: 25px; display: none" id="resultText">Du har sendt din rapportering</p>
            </div>
        </div>

    </div>
</div>

<div class="background-all">

    <div class="navbar-allaround"></div>

    @if (TempData["Success"] != null)
    {
        <div id="showSuc" class="alert fade in alert-success alert-dismissable alert-mobile" style="margin-top: 10px;  position: absolute; z-index: 5; left: 20%; right: 20%">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @TempData["Success"]
        </div>

        <script>
            window.setTimeout(function () {
                $("#showSuc").fadeOut(1000);
            }, 5000);
        </script>
    }

    <div class="container"  style="padding-top: 40px;" >
        <div class="col-md-12 noPadding">
            <div class="col-md-4 nopaddingmobile">
                <div class="white-box">
                    @if (string.IsNullOrEmpty(Model.Influenter.Url))
                    {
                        <a asp-controller="influencer" asp-action="profile" asp-route-id="@Model.Influenter.Id">
                            <img class="profile-img-big center-block" style="margin-bottom: 40px; margin-top: 25px" src="@Url.Action("UsersProfilePic", "Manage", new { Id = Model.ApplicationUser.Id})" />
                        </a>
                    }
                    else
                    {
                        <a href="/@Model.Influenter.Url">
                            <img class="profile-img-big center-block" style="margin-bottom: 40px; margin-top: 25px" src="@Url.Action("UsersProfilePic", "Manage", new { Id = Model.ApplicationUser.Id})" />
                        </a>
                    }

                    <hr />
                    <h3 style=" font-family: 'Oxygen', sans-serif; ">
                        @Model.Influenter.Alias
                        @if (!isUserCreated)
                        {
                            <i class="fa fa-check-circle" aria-hidden="true" style="color: #089de3;" title="Verificeret"></i>
                        }
                    </h3>
                    @if (!isUserCreated)
                    {
                        <h5>@Model.Age år</h5>
                        <h5>@Model.Gender</h5>
                    }

                    <br />
                    <h3 style="font-family: 'Anton', sans-serif;">BIO</h3>
                    <p style="word-break: break-word">@Model.Influenter.ProfileText</p>
                    <br />

                    @if (Model.Follows)
                    {
                        <a class="follow-button" id="@Model.Influenter.Id" style="width: 50%;"><i class="fa fa-times" style="font-size: 15px;" aria-hidden="true"></i><span>FJERN</span></a><a asp-controller="influencer" asp-action="give" asp-route-id="@Model.Influenter.Id" class="give-button" style="width: 50%; border-bottom-right-radius: 3px; border-top-right-radius: 3px; border-right: 1px solid #999;"><i class="fa fa-star star-border" aria-hidden="true"></i>GIV</a>
                    }
                    else
                    {
                        <a class="follow-button" id="@Model.Influenter.Id" style="width: 50%;"><i class="fa fa-rss" aria-hidden="true"></i><span>FØLG</span></a><a asp-controller="influencer" asp-action="give" asp-route-id="@Model.Influenter.Id" class="give-button" style="width: 50%; border-bottom-right-radius: 3px; border-top-right-radius: 3px; border-right: 1px solid #999;"><i class="fa fa-star star-border" aria-hidden="true"></i>GIV</a>
                    }

                </div>
            </div>
            <div class="col-md-8 nopaddingmobile">
                <div class="white-box">
                    <h3 class="text-center" style="margin-bottom: 20px; margin-top: 10px"><b>BESTSCORE</b></h3>
                    <div class="show-rating-medium" style="margin-top: 20px;">
                        <div class="show-rating-container-medium center-block">
                            <div class="show-rating-front-medium">
                                @foreach (var v in FeedbackService.GetStars(totalScore))
                                {
                                    if (v)
                                    {
                                        <div class="show-rating-box-medium">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="show-rating-box">
                                            <i class="fa fa-star-half" aria-hidden="true"></i>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="show-rating-back-medium">
                                <div class="show-rating-box-medium">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="show-rating-box-medium">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="show-rating-box-medium">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="show-rating-box-medium">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="show-rating-box-medium">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center" style="margin-top: 20px; margin-bottom: 10px; font-size: 16px">@totalScore.ToString("0.00") af @Model.Influenter.Ratings.Count ratings</p>
                </div>

                @foreach (var v in Model.Influenter.Ratings.OrderByDescending(x => x.FeedbackDateTime))
                {
                    <div class="col-md-12 col-sm-12 col-xs-12 noPadding white-box">
                        <div class="profile-follower-ratings">
                            <div class="col-md-2 noPadding">
                                <a asp-controller="account" asp-action="profile" asp-route-id="@v.ApplicationUserId">
                                    <img src="@Url.Action("UsersProfilePic", "Manage", new { id = v.ApplicationUserId })" />
                                </a>
                            </div>
                            <div class="col-md-10">
                                <div class="visible-xs text-center">
                                    <h4>@v.ApplicationUser.Name</h4>
                                    <p style="color: #a4a4a4; font-size: 14px; margin-bottom: 0">@String.Format("{0:dd/MM/yyyy}", v.FeedbackDateTime)</p>
                                    <br />
                                </div>
                                <div class="show-rating float-center">
                                    <div class="show-rating-container center-block" style="width: 164px">
                                        <div class="show-rating-front">
                                            @foreach (var p in FeedbackService.GetStars(FeedbackService.GetSingleScore(v.Id)))
                                            {
                                                if (p)
                                                {
                                                    <div class="show-rating-box">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="show-rating-box">
                                                        <i class="fa fa-star-half" aria-hidden="true"></i>
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <div class="show-rating-back">
                                            <div class="show-rating-box">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                            <div class="show-rating-box">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                            <div class="show-rating-box">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                            <div class="show-rating-box">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                            <div class="show-rating-box">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="hidden-xs">
                                    <h4>@v.ApplicationUser.Name</h4>
                                    <p style="color: #a4a4a4; font-size: 14px; margin-bottom: 0">@String.Format("{0:dd/MM/yyyy}", v.FeedbackDateTime)</p>
                                </div>
                                <br />
                            </div>

                            <div class="col-md-offset-2 col-md-10">
                                @if (!string.IsNullOrEmpty(v.FeedbackGood))
                                {
                                    <p><b>@v.ApplicationUser.Name synes godt om følgende:</b></p>
                                    <p style="white-space: pre-line">@v.FeedbackGood</p>
                                }

                                @if(!string.IsNullOrEmpty(v.FeedbackBetter) && !string.IsNullOrEmpty(v.FeedbackGood)) { <br /> }

                                @if (!string.IsNullOrEmpty(v.FeedbackBetter))
                                {
                                    <p><b>@v.ApplicationUser.Name synes følgende kan forbedres:</b></p>
                                    <p style="white-space: pre-line">@v.FeedbackBetter</p>
                                }
                            </div>

                            @if (v.Answer != null)
                            {
                                <div class="col-md-12 noPadding">
                                    <hr />

                                    <div class="col-md-2 noPadding">

                                        @if (string.IsNullOrEmpty(Model.Influenter.Url))
                                        {
                                            <a asp-controller="influencer" asp-action="profile" asp-route-id="@v.InfluenterId">
                                                <img src="@Url.Action("UsersProfilePic", "Manage", new { id = v.InfluenterId })" />
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="/@Model.Influenter.Url">
                                                <img src="@Url.Action("UsersProfilePic", "Manage", new { Id = Model.ApplicationUser.Id})" />
                                            </a>
                                        }

                                    </div>

                                    <div class="col-md-10 noPaddingRight">
                                        <div class="hidden-xs">
                                            <h4>@Model.Influenter.Alias</h4>
                                            <p style="color: #a4a4a4; font-size: 14px; margin-bottom: 0">@String.Format("{0:dd/MM/yyyy}", v.AnswerDateTime)</p>
                                        </div>
                                        <div class="visible-xs text-center">
                                            <h4>@Model.Influenter.Alias</h4>
                                            <p style="color: #a4a4a4; font-size: 14px; margin-bottom: 0">@String.Format("{0:dd/MM/yyyy}", v.AnswerDateTime)</p>
                                        </div>
                                        <br />
                                        <p><b>@Model.Influenter.Alias har svaret på feedbacken:</b></p>
                                        <p style="white-space: pre-line">@v.Answer</p>
                                    </div>
                                </div>
                            }

                            @if (SignInManager.IsSignedIn(User))
                            {
                                <button class="report-feedback-btn" value="@v.Id" data-toggle="modal" data-target="#reportModal"><i class="fa fa-exclamation" aria-hidden="true"></i></button>
                            }
                            else
                            {
                                <button class="report-feedback-btn" value="@v.Id" data-toggle="modal" data-target="#opretModal"><i class="fa fa-exclamation" aria-hidden="true"></i></button>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        $(document).ready(function () {

            var feedbackId = ""; 

            $(".report-feedback-btn").click(function () {
                feedbackId = $(this).val();
            });

            $("#reportBtn").click(function () {
                var reason = "";
                var description = $("#description").val();
                var userId = $("#userToReport").val();

                $("input[name=reason]:checked").each(function () {
                    reason += $(this).val() + ", ";
                });

                $.ajax({
                    type: "POST",
                    url: "/Influencer/ReportFeedback",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    data: {
                        feedbackId: feedbackId,
                        userId: userId,
                        reason: reason,
                        description: description
                    },
                    success: function (result) {
                        if (result === 'Success') {
                            $("#resultText").show();
                            setTimeout(function () {
                                $("#reportModal").modal('hide');
                                $("#resultText").hide();
                            }, 1500);
                        }
                        else if (result === 'Error') {
                            $("#resultText").text("Du skal udfylde en af felterne");
                            $("#resultText").show();
                            setTimeout(function () {
                                $("#resultText").text("Du har sendt din rapportering");
                                $("#resultText").hide();


                            }, 1500);
                        }

                        $("#description").val('');

                        $("input[name=reason]:checked").each(function () {
                            $(this).attr('checked', false);
                        });

                    },
                    error: function (xhr, textStatus, errorThrown) {
                        // TODO: Show error
                    }
                });
            });            
        });

        $(document).ready(function () {
            $(document).delegate(".follow-button", "click", function () {
                var element = $(this);
                var id = $(this).attr('id') // or this.id
                console.log(id);

                $.ajax({
                    url: "/Influencer/Follow",
                    method: "POST",
                    dataType: 'json',
                    data: {
                        influencerId: id
                    },
                    success: function (result) {
                        console.log(result);
                        if (result === "Follow") {
                            element.find('span').text("FJERN");
                            element.find('i').removeClass("fa-rss");
                            element.find('i').addClass("fa-times");
                            element.find('i').css("fontSize", "15px");
                        }
                        else if (result === "Unfollow") {
                            element.find('span').text("FØLG ");
                            element.find('i').addClass("fa-rss");
                            element.find('i').removeClass("fa-times");
                            element.find('i').css("fontSize", "14px");
                        }
                        else if (result == "NeedAuthorize") {
                            $('#opretModal').modal('show');
                        }
                    },
                    error: function () {
                        console.log("fail follow");
                    }
                });

            });
        })

    </script>
}