@model RateBlog.Models.InfluenterViewModels.ReadViewModel
@inject RateBlog.Services.IFeedbackService FeedbackService
@{
    ViewData["Title"] = Model.Influenter.Alias + "'s ratings";
    var isUserCreated = (Model.ApplicationUser.NormalizedEmail.StartsWith("USERINFLUENCER")) ? true : false;
    var totalScore = FeedbackService.GetTotalScore(Model.Influenter.Id);
}

<div class="navbar-allaround"></div>

<div class="background-all" style="padding-top: 40px;">

    <div class="container" >
        <div class="col-md-12 noPadding">
            <div class="col-md-4 nopaddingmobile">
                <div class="white-box">
                    <a asp-controller="Influencer" asp-action="Profile" asp-route-id="@Model.Influenter.Id">
                        <img class="profile-img-big center-block" style="margin-bottom: 40px; margin-top: 25px" src="@Url.Action("UsersProfilePic", "Manage", new { Id = Model.ApplicationUser.Id})" />
                    </a>
                    <hr />
                    <h3>
                        @Model.Influenter.Alias
                        @if (!isUserCreated)
                        {
                            <i class="fa fa-check-circle" aria-hidden="true" style="color: #089de3;" title="Verificeret"></i>
                        }
                    </h3>
                    @if (!isUserCreated)
                    {
                        <h5>@Model.Age år</h5>
                        <h5>@Model.Gender</h5>
                    }
                    <br />
                    <h3 style="font-family: 'Anton', sans-serif;">BIO</h3>
                    <p style="word-break: break-word">@Model.Influenter.ProfileText</p>
                    <br />
                    <a asp-controller="Influencer" asp-action="Give" asp-route-id="@Model.Influenter.Id" class="feedback-influencer-btn width100" style="background-color: #089de3;"><i class="fa fa-star icon-hover-star" aria-hidden="true"></i>&nbsp;&nbsp;Giv feedback</a>
                </div>
            </div>
            <div class="col-md-8 nopaddingmobile">
                <div class="white-box">
                    <h3 class="text-center" style="margin-bottom: 20px;"><b>SAMLET SCORE</b></h3>
                    <div class="show-rating-medium" style="margin-top: 20px;">
                        <div class="show-rating-container-medium center-block">
                            <div class="show-rating-front-medium">
                                @foreach (var v in FeedbackService.GetStars(totalScore))
                                {
                                    if (v)
                                    {
                                        <div class="show-rating-box-medium">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="show-rating-box">
                                            <i class="fa fa-star-half" aria-hidden="true"></i>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="show-rating-back-medium">
                                <div class="show-rating-box-medium">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="show-rating-box-medium">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="show-rating-box-medium">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="show-rating-box-medium">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="show-rating-box-medium">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center" style="margin-top: 20px; margin-bottom: 20px; font-size: 16px">@totalScore.ToString("0.00") af @Model.Influenter.Ratings.Count ratings</p>
                </div>

                @foreach (var v in Model.Influenter.Ratings.OrderByDescending(x => x.FeedbackDateTime))
                {
                    <div class="col-md-12 noPadding white-box">
                        <div class="profile-follower-ratings">
                            <div class="col-md-2 noPadding">
                                <a asp-controller="Account" asp-action="Profile" asp-route-id="@v.ApplicationUserId">
                                    <img src="@Url.Action("UsersProfilePic", "Manage", new { id = v.ApplicationUserId })" />
                                </a>
                            </div>
                            <div class="col-md-10 noPaddingRight">
                                <div class="visible-xs text-center">
                                    <h4>@v.ApplicationUser.Name</h4>
                                    <p style="color: #a4a4a4; font-size: 14px; margin-bottom: 0">@String.Format("{0:dd/MM/yyyy}", v.FeedbackDateTime)</p>
                                    <br />
                                </div>
                                <div class="show-rating float-center">
                                    <div class="show-rating-container center-block" style="width: 164px">
                                        <div class="show-rating-front">
                                            @foreach (var p in FeedbackService.GetStars(FeedbackService.GetSingleScore(v.Id)))
                                            {
                                                if (p)
                                                {
                                                    <div class="show-rating-box">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="show-rating-box">
                                                        <i class="fa fa-star-half" aria-hidden="true"></i>
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <div class="show-rating-back">
                                            <div class="show-rating-box">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                            <div class="show-rating-box">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                            <div class="show-rating-box">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                            <div class="show-rating-box">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                            <div class="show-rating-box">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="hidden-xs">
                                    <h4>@v.ApplicationUser.Name</h4>
                                    <p style="color: #a4a4a4; font-size: 14px; margin-bottom: 0">@String.Format("{0:dd/MM/yyyy}", v.FeedbackDateTime)</p>
                                </div>

                                <br />
                            </div>

                            <div class="col-md-offset-2 col-md-10 noPaddingLeft">
                                <p><b>@v.ApplicationUser.Name synes godt om følgende:</b></p>
                                <p style="white-space: pre-line">@v.FeedbackGood</p>
                                <br />
                                <p><b>@v.ApplicationUser.Name synes følgende kan forbedres:</b></p>
                                <p style="white-space: pre-line">@v.FeedbackBetter</p>
                            </div>

                            @if (v.Answer != null)
                            {
                                <div class="col-md-12 noPadding">
                                    <hr />

                                    <div class="col-md-2 noPadding">
                                        <a asp-controller="Influencer" asp-action="Profile" asp-route-id="@v.InfluenterId">
                                            <img src="@Url.Action("UsersProfilePic", "Manage", new { id = v.InfluenterId })" />
                                        </a>
                                    </div>

                                    <div class="col-md-10">
                                        <div class="hidden-xs">
                                            <h4>@Model.Influenter.Alias</h4>
                                            <p style="color: #a4a4a4; font-size: 14px; margin-bottom: 0">@String.Format("{0:dd/MM/yyyy}", v.AnswerDateTime)</p>
                                        </div>
                                        <div class="visible-xs text-center">
                                            <h4>@Model.Influenter.Alias</h4>
                                            <p style="color: #a4a4a4; font-size: 14px; margin-bottom: 0">@String.Format("{0:dd/MM/yyyy}", v.AnswerDateTime)</p>
                                        </div>
                                        <br />
                                        <p><b>@Model.Influenter.Alias har svaret på feedbacken:</b></p>
                                        <p style="white-space: pre-line">@v.Answer</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
