@model RateBlog.Models.InfluenterViewModels.ReadViewModel
@inject RateBlog.Services.IFeedbackService FeedbackService
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = Model.Influenter.Alias + "'s ratings";
}

<div class="navbar-allaround"></div>

<div class="navbar-addon">
    <div class="container">
        <div class="col-md-12 col-xs-12 noPadding">
            <div class="col-md-2 col-xs-2 noPadding addon-box">
                <div class="addon-img-container">
                    <img src="@Url.Action("UsersProfilePic", "Manage", new { id = UserManager.Users.SingleOrDefault(x => x.InfluenterId.Value == Model.Influenter.Id).Id })" />
                </div>
            </div>
            <div class="col-md-5 col-xs-9 addon-box">
                <div class="addon-number" style="text-align: left">
                    <p>Feedback for</p>
                    <h3>@Model.Influenter.Alias</h3>
                </div>

            </div>
            <div class="col-md-5 col-xs-12 addon-box">
                <div class="addon-number">
                    <h1>@FeedbackService.GetInfluencerFeedbackCount(Model.Influenter.Id)</h1>
                    <p>Ratings</p>
                </div>
                <div class="addon-number">
                    <h1>@Math.Round(FeedbackService.GetInfluencerAnswerPercentage(Model.Influenter.Id), 1)%</h1>
                    <p>Svarprocent</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" container">
    <div class="col-md-12 col-xs-12 noPadding" style="margin-bottom: 20px;">
        <div class="col-md-7 col-sm-6 readrating hidden-xs noPadding">
            <h2 class="anmeldelser-h2">Følger feedback</h2>
        </div>

        <div class="col-xs-12 readrating visible-xs noPadding">
            <h2 class="anmeldelser-h2">Følger feedback</h2>         
            <div class="feedback-rating-all-box" style="margin-bottom: 0">
                <div class="feedback-rating-all-box-item">
                    <h2 class="text-center" style="margin-top: 0; margin-bottom: 20px">Følger rating</h2>
                    <div class="show-rating-box-show">
                        <div class="show-rating-show">
                            <div class="show-rating-front-show">
                                @for (int i = 0; i < FeedbackService.GetAverageFeedbackScore(Model.Influenter.Id); i++)
                                {
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                }
                            </div>
                            <div class="show-rating-back-show">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <p class="text-center" style="margin-top: 20px; margin-bottom: 0; font-size: 20px">@FeedbackService.GetTotalScore(Model.Influenter.Id).ToString("0.0") af @FeedbackService.GetInfluencerFeedbackCount(Model.Influenter.Id) ratings</p>
                </div>
            </div>

            <hr />

        </div>

        <div class="col-md-12 col-xs-12 noPadding">
            <div class="col-md-7 col-sm-6 noPadding">
                @if (Model.ApplicationUser.InfluenterId.HasValue)
                {
                    @if (FeedbackService.GetAllFeedbackByInfluencer(Model.ApplicationUser.InfluenterId.Value).ToList().Count != 0)
                    {
                        @foreach (var v in FeedbackService.GetAllFeedbackByInfluencer(Model.ApplicationUser.InfluenterId.Value).OrderByDescending(x => x.FeedbackDateTime   ))
                        {
                            <div class="col-md-12 noPadding feedback-containerRead" style="padding-top: 10px;">
                                <div class="col-md-2 col-xs-12 col-lg-2 noPadding read-img-container">
                                    <img class="influ-read-img" src="@Url.Action("UsersProfilePic", "Manage", new { id = v.ApplicationUserId })" />
                                </div>

                                <div class="col-md-5 col-xs-12 col-lg-6 noPadding">
                                    <p>@UserManager.Users.SingleOrDefault(x => x.Id == v.ApplicationUserId).Name</p>
                                    <p style="color: #989898">@String.Format("{0:dd/MM/yyyy}", v.FeedbackDateTime) </p>
                                    @if (!string.IsNullOrEmpty(v.FeedbackGood))
                                    {
                                        <h5><b>Hvad gør influenceren godt?</b></h5>
                                        <p class="feedback-text">@v.FeedbackGood</p>
                                    }
                                    @if (!string.IsNullOrEmpty(v.FeedbackBetter))
                                    {
                                        <h5><b>Hvad kan influenceren gøre bedre?</b></h5>
                                        <p class="feedback-text">@v.FeedbackBetter</p>
                                    }

                                </div>

                                <div class="col-md-5 col-xs-12 col-lg-4" style="margin-bottom: 5px;">
                                    <div class="show-rating-box" style="margin-top: 5px;">
                                        <div class="show-rating">
                                            <div class="show-rating-front">
                                                @for (int i = 0; i < FeedbackService.GetSingleFeedbackScoreAverage(v.Id); i++)
                                                {
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                }
                                            </div>
                                            <div class="show-rating-back">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                @if (v.Answer != null)
                                {
                                    <div class="col-md-12 col-xs-12" style="border-top: 1px solid #ddd; padding-top: 10px; margin-top: 5px; padding-left: 0; padding-bottom:10px;">
                                        <div class="col-md-2 noPadding read-img-container">
                                            <img class="influ-read-img" src="@Url.Action("UsersProfilePic", "Manage", new { id = Model.ApplicationUser.Id })" />
                                        </div>
                                        <div class="col-md-6 col-xs-12 noPadding">
                                            <p>@Model.ApplicationUser.Name</p>
                                            <h5><b>Svar:</b></h5>
                                            <p style="line-height: 150%">@v.Answer</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <h4>Denne influencer har ikke modtaget noget feedback</h4>
                    }

                }

            </div>
            <div class="col-md-5 col-sm-6 hidden-xs">
                <div class="feedback-rating-all-box">
                    <div class="feedback-rating-all-box-item">
                        <h2 class="text-center" style="margin-top: 0; margin-bottom: 20px">Følger rating</h2>
                        <div class="show-rating-box-show">
                            <div class="show-rating-show">
                                <div class="show-rating-front-show">
                                    @for (int i = 0; i < FeedbackService.GetAverageFeedbackScore(Model.Influenter.Id); i++)
                                    {
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    }
                                </div>
                                <div class="show-rating-back-show">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <p class="text-center" style="margin-top: 20px; margin-bottom: 0; font-size: 20px">@FeedbackService.GetTotalScore(Model.Influenter.Id).ToString("0.0") af @FeedbackService.GetInfluencerFeedbackCount(Model.Influenter.Id) ratings</p>
                    </div>
                </div>

                <div class="feedback-rating-all-box">
                    <div class="feedback-rating-all-box-item" style="padding: 20px;">
                        <h2 class="text-center" style="margin-top: 0; margin-bottom: 20px; font-size: 26px">Giv din mening tilkende </h2>
                        <p style="font-size: 14px">Er du fast følger af influenceren eller oplever du vedkommendes indhold jævnligt er du meget velkommen til at give din feedback</p>
                        <a asp-controller="Influencer" asp-action="Give" asp-route-id="@Model.Influenter.Id" class="feedback-influencer-btn width100" style="background-color: #089de3; margin-top: 20px"><i class="fa fa-star icon-hover-star" aria-hidden="true"></i>&nbsp;&nbsp;Giv feedback</a>      
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>