@model RateBlog.Models.AdminViewModels.SeMereViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Redigere bruger";
}

<div class="navbar-allaround">
</div>
<div class="container">


    <form method="post" asp-controller="Admin" asp-action="EditUser">
        @Html.HiddenFor(x => x.ApplicationUser.Id)
        <table>
            <tbody>
                <tr>
                    <th>
                        <p>navn</p>
                    </th>
                    <td>
                        <textarea asp-for="@Model.ApplicationUser.Name">
                                   
                                </textarea>
                    </td>

                <tr>
                    <th>
                        <p>email</p>
                    </th>
                    <td>
                        <textarea asp-for="@Model.ApplicationUser.Email">
                                   
                                </textarea>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>By stad</p>
                    </th>
                    <td>
                        <textarea asp-for="@Model.ApplicationUser.City">
                                   
                                </textarea>
                    </td>
                </tr>

                <tr>
                    <th>
                        <p>Influenter ID</p>
                    </th>
                    <td>
                        <textarea asp-for="@Model.ApplicationUser.InfluenterId">
                                   
                                </textarea>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>ProfilText</p>
                    </th>
                    <td>
                        <textarea asp-for="@Model.ApplicationUser.ProfileText">
                                   
                                </textarea>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>PhoneNumber</p>
                    </th>
                    <td>
                        <textarea asp-for="@Model.ApplicationUser.PhoneNumber">
                                   
                                </textarea>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>Bruger ID</p>
                    </th>
                    <td>
                        <textarea asp-for="@Model.ApplicationUser.Id">
                                   
                                </textarea>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>Password hashed </p>
                    </th>
                    <td>
                        <textarea asp-for="@Model.ApplicationUser.PasswordHash">

                          </textarea>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>Blorkerings længde </p>
                    </th>
                    <td>
                        <textarea asp-for="@Model.ApplicationUser.LockoutEnd">

                          </textarea>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="submit" value="Gem ændringer" />
                    </th>



                    <th>
                        <input type="submit" value="Home" asp-controller="Admin" asp-action="Index" />
                    </th>

                </tr>
                <tr></tr>
            </tbody>
        </table>
    </form>
    <table>


       <div class="dropdown">
        <button class="dropbtn">Ban bruger</button>
           <div class="dropdown-content">

            
               <form asp-action="BanUser10" asp-route-id="@Model.ApplicationUser.InfluenterId" method="get" asp-controller="Admin">
                   <button class="btn btn-default" type="submit" style="background-color:#FF0000;width:20%;height:45px" onclick="SuccesFunction()"><i class="fa fa-ban" aria-hidden="true"></i> Blokere for 10 dage </button>
               </form>

               <form asp-action="BanUser25" asp-route-id="@Model.ApplicationUser.InfluenterId" method="get" asp-controller="Admin">
                   <button class="btn btn-default" type="submit" style="background-color:#FF0000;width:20%;height:45px" onclick="SuccesFunction()"><i class="fa fa-ban" aria-hidden="true"></i> Blokere for 25 dage </button>
               </form>

               <form asp-action="BanUser100" asp-route-id="@Model.ApplicationUser.InfluenterId" method="get" asp-controller="Admin">
                   <button class="btn btn-default" type="submit" style="background-color:#FF0000;width:20%;height:45px" onclick="SuccesFunction()"><i class="fa fa-ban" aria-hidden="true"></i> Blokere for 100 dage </button>
               </form>

               <form asp-action="DeleteUser" asp-controller="Admin" asp-route-id="@Model.ApplicationUser.Id" method="post">
                   <button class="btn btn-default" type="submit" style="background-color:#990000;width:20%;height:45px" onclick="SuccesFunction()"> <i class="fa fa-trash" aria-hidden="true"></i> Slet en bruger </button>
               </form>

           </div>
        </div>  


        <div class="container">
            <select id="search-pax" name="pax" class="ls-select ">
                <p>Start the selection</p>
                <option>
                    <form asp-action="BanUser10" asp-route-id="@Model.ApplicationUser.InfluenterId" method="get" asp-controller="Admin">
                        <button class="btn btn-default" type="submit" style="background-color:#FF0000;width:20%;height:45px" onclick="SuccesFunction()"><i class="fa fa-ban" aria-hidden="true"></i> Blokere for 10 dage </button>
                    </form>
                </option>

                <form asp-action="BanUser25" asp-route-id="@Model.ApplicationUser.InfluenterId" method="get" asp-controller="Admin">
                    <button class="btn btn-default" type="submit" style="background-color:#FF0000;width:20%;height:45px" onclick="SuccesFunction()"><i class="fa fa-ban" aria-hidden="true"></i> Blokere for 25 dage </button>
                </form>

                <form asp-action="BanUser100" asp-route-id="@Model.ApplicationUser.InfluenterId" method="get" asp-controller="Admin">
                    <button class="btn btn-default" type="submit" style="background-color:#FF0000;width:20%;height:45px" onclick="SuccesFunction()"><i class="fa fa-ban" aria-hidden="true"></i> Blokere for 100 dage </button>
                </form>

                <form asp-action="DeleteUser" asp-controller="Admin" asp-route-id="@Model.ApplicationUser.Id" method="post">
                    <button class="btn btn-default" type="submit" style="background-color:#990000;width:20%;height:45px" onclick="SuccesFunction()"> <i class="fa fa-trash" aria-hidden="true"></i> Slet en bruger </button>
                </form>
            </select>
        </div>

</table>




</div>


<script>
    function SuccesFunction() {
        var txt;
        if (confirm("SUCCES") == true) {
            txt = "Ok";
        }
    }
</script>











</div>