@model RateBlog.Models.AdminViewModels.SeMereViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Redigere bruger";
}
<link rel="stylesheet" type="text/css" href="css/site.css" media="1" />
<div class="navbar-allaround">
</div>
<div class="container">


    <form method="post" asp-controller="Admin" asp-action="EditUser">
        @Html.HiddenFor(x => x.ApplicationUser.Id)

        <table>
            <tbody>
                <tr>
                    <th>
                        <p>Navn</p>
                    </th>
                    <td>
                        <textarea asp-for="@Model.ApplicationUser.Name"></textarea>
                    </td>


                <tr>
                    <th>
                        <p>Email</p>
                    </th>
                    <td>
                        <textarea asp-for="@Model.ApplicationUser.Email">  </textarea>


                    </td>
                </tr>
                <tr>
                    <th>
                        <p>Årgang</p>
                    </th>
                    <td>
                        <textarea asp-for="@Model.ApplicationUser.Year">
                           </textarea>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>Bruger ID</p>
                    </th>
                    <td>
                        <textarea asp-for="@Model.ApplicationUser.Name"></textarea>

                    </td>
                </tr>


                <tr>
                    <th>
                        <p>Postnummer</p>
                    </th>
                    <td>
                        <textarea asp-for="@Model.ApplicationUser.Postnummer">
                                   
                                </textarea>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>Profil billed</p>
                    </th>
                    <td>
                        <textarea asp-for="@Model.ApplicationUser.ProfilePicture">
                                   
                                </textarea>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>Blokerings længde</p>
                    </th>
                    <td>
                        @if (Model.ApplicationUser.LockoutEnd.HasValue)
                        {
                            <textarea asp-for="@Model.ApplicationUser.LockoutEnd">
                                   
                                </textarea>
                        }
                        else
                        {

                            <p> Denne bruger er ikke blokeret </p>


                        }
                        <textarea asp-for="@Model.ApplicationUser.LockoutEnd">
                                   
                                </textarea>
                    </td>
                </tr>

                <tr>
                    <td>
                        <form>
                            <button type="submit" style="background-color:#5F9EA0;;height:45px;width:228px;float:left"><i class="fa fa-floppy-o" aria-hidden="true"></i>Gem ændringer </button>
                        </form>
                    </td>
                    <td>
                        <button type="submit" style="background-color:#7FFFD4;height:45px;width:228px"><i class="fa fa-floppy-o" aria-hidden="true"></i>Home</button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <form asp-action="DeleteUser" asp-controller="Admin" asp-route-id="@Model.ApplicationUser.Id" method="post">
                            <button class="btn btn-default" type="submit" style="background-color:#990000;width:228px;height:45px" onclick="SuccesFunction()"> <i class="fa fa-trash" aria-hidden="true"></i></button>
                        </form>
                    </td>

                    <td>
                        <form asp-action="BanUser" asp-route-id="@Model.ApplicationUser.Id" method="get" asp-controller="Admin">
                            <button class="btn btn-default" type="submit" style="background-color:#FF0000;width:228px;height:45px"><i class="fa fa-ban" aria-hidden="true"> </i>Blokere for 10 dage </button>
                        </form>
                    </td>
                    <td>
                        <form asp-action="ApproveUser" asp-route-id="@Model.ApplicationUser.Id" method="get" asp-controller="Admin">
                            <button class="btn btn-default" type="submit" style="background-color:#FF0000;width:228px;height:45px"><i class="fa fa-ban" aria-hidden="true"> </i>Acceptere denne influenter </button>
                        </form>
                    </td>

                </tr>

            </tbody>
        </table>
    </form>




    <script>
        function SuccesFunction() {
            var txt;
            if (confirm("SUCCES") == true) {
                txt = "Ok";
            }
        }
    </script>











</div>