@model Feedback

<div class="navbar-allaround"></div>

@Html.Partial("_NavbarPartial")


<div class="admin-content" style="background: #fafafa">

    <div class="container">

        <div class="profile-box" style="margin-top: 40px">
            <form asp-controller="Admin" asp-action="EditFeedback">
                @Html.HiddenFor(x => x.Id)
                <h4><b>Hvad gøres der godt:</b></h4>
                <div class="textarea-container" style="padding: 0; height: 100px;">
                    <textarea asp-for="@Model.FeedbackGood"></textarea>
                </div>

                <h4><b>Hvad kan der gøres bedre:</b></h4>
                <div class="textarea-container" style="padding: 0; height: 100px;">
                    <textarea asp-for="@Model.FeedbackBetter"></textarea>
                </div>

                <h4><b>Svar:</b></h4>
                <div class="textarea-container" style="padding: 0; height: 100px;">
                    <textarea asp-for="@Model.Answer"></textarea>
                </div>
                <input class="btn btn-primary" value="GEM" type="submit" style="width: 100%; max-width: 100%; margin-top: 20px; margin-bottom: 20px;" />
            </form>

            <form asp-controller="Admin" asp-action="DeleteFeedback">
                @Html.HiddenFor(x => x.Id)
                <input class="btn btn-danger" value="SLET" type="submit" style="width: 100%; max-width: 100%;" />
            </form>

        </div>

    </div>

</div>