@model RateBlog.Models.AdminViewModels.EditUserViewModel
@{ 
    ViewData["Title"] = "Edit user"; 
}

<div class="navbar-allaround"></div>

<div style="min-height: 100vh; padding-bottom: 40px; background: #fafafa">


    <div class="container">
        <div class="col-md-offset-3 col-md-6" style="padding-top: 40px">

            <div class="profile-box">
                <p>Fulde navn:</p>
                <input asp-for="@Model.ApplicationUser.Name" class="edit-input" />
                <span asp-validation-for="@Model.ApplicationUser.Name" class="text-danger" style="margin-left: 5px;"></span>

                <p>Email:</p>
                <input asp-for="@Model.ApplicationUser.Email" class="edit-input" />
                <span asp-validation-for="@Model.ApplicationUser.Email" class="text-danger" style="margin-left: 5px;"></span>

                <p>Fødselsdag:</p>
                <input max="01-01-2017" asp-for="@Model.ApplicationUser.BirthDay" class="edit-input" type="date" />
                <span asp-validation-for="@Model.ApplicationUser.BirthDay" class="text-danger" style="margin-left: 5px;"></span>

                <p>Postnummer:</p>
                <input asp-for="@Model.ApplicationUser.Postnummer" class="edit-input" />
                <span asp-validation-for="@Model.ApplicationUser.Postnummer" class="text-danger" style="margin-left: 5px;"></span>

                <p>Telefonnummer:</p>
                <input asp-for="@Model.ApplicationUser.PhoneNumber" class="edit-input" />
                <span asp-validation-for="@Model.ApplicationUser.PhoneNumber" class="text-danger" style="margin-left: 5px;"></span>

                <p>Køn</p>
                <label>
                    <input asp-for="@Model.ApplicationUser.Gender" class="w3-radio" type="radio" name="gender" value="male">
                    Mand
                </label>
                <br />

                <label>
                    <input asp-for="@Model.ApplicationUser.Gender" class="w3-radio" type="radio" name="gender" value="female">
                    Kvinde
                </label>
                <br /><br />

                <p>Profilbillede:</p>
                <input type="file" name="ProfilePic" asp-for="@Model.ApplicationUser.ProfilePicture" />
                <br />

                <p>Profiltekst:</p>
                <textarea asp-for="@Model.ApplicationUser.ProfileText" class="edit-input-influ" rows="10" style="height: auto; width: 100%" placeholder="Skriv om dig selv og dine interesser"></textarea>
                <span asp-validation-for="@Model.ApplicationUser.ProfileText" class="text-danger" style="margin-left: 5px;"></span>

                @if(Model.Influencer != null)
                {


                }


            </div>

        </div>
    </div>
</div>
