@model Bestfluence.Models.AdminViewModels.FeedbackViewModel
@inject Bestfluence.Repository.IInfluencerRepository InfluencerRepo
@inject UserManager<ApplicationUser> UserManager
@inject Bestfluence.Services.Interfaces.IFeedbackService FeedbackService
@{
    ViewData["Title"] = "Admin feedback";
}

<div class="background-all" style="padding-bottom: 0">

    @Html.Partial("_NavbarPartial")

    <div class="navbar-allaround" style="position: relative"></div>

    <div class="admin-container" style="padding-top: 30px; padding-bottom: 80px; overflow-y: scroll; height: calc(100vh - 70px)">
        <div class="col-md-12">

            @foreach (var v in Model.Feedbacks)
            {
                <div class="col-md-12">

                    <!--Feedback her-->

                    <div class="col-md-12">
                        <div class="white-box col-md-12">
                            <div class="col-md-10">
                                <p><b>Feedback fra:</b> @v.ApplicationUser.Name</p>
                                <p><b>Feedback til:</b> @InfluencerRepo.Get(v.InfluenterId).Alias</p>
                                <p><b>Godt:</b> @v.FeedbackGood</p>
                                <p><b>Dårligt:</b> @v.FeedbackBetter</p>
                            </div>
                            <div class="col-md-2">
                                <div class="admin-buttons">
                                    <form asp-controller="admin" asp-action="deleteFeedback">
                                        <input value="@v.Id" name="id" type="hidden" />
                                        <input value="@Model.ApplicationUser.Id" name="userId" type="hidden" />
                                        <button type="submit" style="background: red; margin-top: 10px; margin-bottom: 20px;">SLET</button>
                                    </form>
                                    <a style="background: green">Rediger </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>










































@*<div class="admin-content" style="background: #fafafa">
        <div class="container">
            <h2>@Model.ApplicationUser.Name's feedbacks</h2>
            <hr />

            @foreach (var v in Model.Feedbacks.OrderByDescending(x => x.FeedbackDateTime))
            {
                <a asp-controller="Admin" asp-action="EditFeedback" asp-route-id="@v.Id" style="color: #000">
                    <div class="col-md-12 noPadding profile-box">
                        <div class="profile-follower-ratings">
                            <div class="col-md-12">
                                <div class="visible-xs text-center">
                                    <h4>@UserManager.Users.SingleOrDefault(x => x.Id == v.ApplicationUserId).Name</h4>
                                    <p style="color: #a4a4a4; font-size: 14px; margin-bottom: 0">@String.Format("{0:dd/MM/yyyy}", v.FeedbackDateTime)</p>
                                    <br />
                                </div>
                                <div class="influencer-read-stars">
                                    <div class="show-rating">
                                        <div class="show-rating-container center-block" style="width: 164px">
                                            <div class="show-rating-front">
                                                @foreach (var p in FeedbackService.GetStars(FeedbackService.GetSingleFeedbackScoreAverage(v.Id)))
                                                {
                                                    if (p)
                                                    {
                                                        <div class="show-rating-box">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="show-rating-box">
                                                            <i class="fa fa-star-half" aria-hidden="true"></i>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <div class="show-rating-back">
                                                <div class="show-rating-box">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </div>
                                                <div class="show-rating-box">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </div>
                                                <div class="show-rating-box">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </div>
                                                <div class="show-rating-box">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </div>
                                                <div class="show-rating-box">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="hidden-xs">
                                    <h4>@UserManager.Users.SingleOrDefault(x => x.Id == v.ApplicationUserId).Name</h4>
                                    <p style="color: #a4a4a4; font-size: 14px; margin-bottom: 0">@String.Format("{0:dd/MM/yyyy}", v.FeedbackDateTime)</p>
                                </div>

                                <br />
                            </div>

                            <div class="col-md-12">
                                <p><b>@UserManager.Users.SingleOrDefault(x => x.Id == v.ApplicationUserId).Name synes godt om følgende:</b></p>
                                <p style="white-space: pre-line">@v.FeedbackGood</p>
                                <br />
                                <p><b>@UserManager.Users.SingleOrDefault(x => x.Id == v.ApplicationUserId).Name synes følgende kan forbedres:</b></p>
                                <p style="white-space: pre-line">@v.FeedbackBetter</p>
                            </div>


                            <div class="col-md-12 noPadding">
                                <hr />
                                <div class="col-md-10">
                                    <div class="hidden-xs">
                                        <h4>@InfluencerRepo.Get(v.InfluenterId).Alias</h4>
                                        <p style="color: #a4a4a4; font-size: 14px; margin-bottom: 0">@String.Format("{0:dd/MM/yyyy}", v.AnswerDateTime)</p>
                                    </div>
                                    <br />
                                    @if (v.Answer != null)
                                    {
                                        <p><b>@InfluencerRepo.Get(v.InfluenterId).Alias har svaret på feedbacken:</b></p>
                                        <p style="white-space: pre-line">@v.Answer</p>
                                    }
                                    else
                                    {
                                        <p><b>Intet svar</b></p>
                                    }

                                </div>
                            </div>

                        </div>
                    </div>
                </a>
            }

        </div>
    </div>*@





@*<div class="container">
        <h2>@Model.ApplicationUser.Name's feedbacks</h2>
        <hr />


        @foreach (var feedback in Model.Feedbacks.OrderByDescending(x => x.FeedbackDateTime))
        {

            <div class="col-md-12 admin-feedback-container noPadding">
                <div class="col-md-10">
                    <h4><b>Feedback til:</b> @InfluencerRepo.Get(feedback.InfluenterId).Alias</h4>
                    <h5><b>Fra: </b>@UserManager.Users.SingleOrDefault(x => x.Id == feedback.ApplicationUserId).Name </h5>
                    <h5>@String.Format("{0:dd/MM/yyyy}", feedback.FeedbackDateTime)</h5>
                </div>
                <div class="col-md-2">
                    <form asp-controller="Admin" asp-action="DeleteFeedback">
                        <input type="hidden" name="id" value="@Model.ApplicationUser.Id" />
                        <input type="hidden" name="feedbackId" value="@feedback.Id" />
                        <input class="btn btn-danger" value="SLET" type="submit" style="width: 100%; max-width: 100%; margin-top: 27px" />
                    </form>
                </div>
                <hr />
                <div class="col-md-12" style="border-top: 1px solid #888">
                    <div class="col-md-8 noPadding">
                        <form asp-controller="Admin" asp-action="EditFeedback">
                            <input type="hidden" name="id" value="@Model.ApplicationUser.Id" />
                            <input type="hidden" name="feedbackId" value="@feedback.Id" />
                            <h4><b>Hvad gøres der godt:</b></h4>
                            <div class="textarea-container" style="padding: 0; height: 100px;">
                                <textarea asp-for="@feedback.FeedbackGood"></textarea>
                            </div>

                            <h4><b>Hvad kan der gøres bedre:</b></h4>
                            <div class="textarea-container" style="padding: 0; height: 100px;">
                                <textarea asp-for="@feedback.FeedbackBetter"></textarea>
                            </div>

                            <h4><b>Svar:</b></h4>
                            <div class="textarea-container" style="padding: 0; height: 100px;">
                                <textarea asp-for="@feedback.Answer"></textarea>
                            </div>
                            <input class="btn btn-primary" value="GEM" type="submit" style="width: 100%; max-width: 100%; margin-top: 20px; margin-bottom: 20px;" />
                        </form>
                    </div>
                    <div class="col-md-4">
                        <h4><b>Score:</b></h4>
                        <hr />
                        <h4>Kvalitet: <span class="pull-right">@feedback.Kvalitet</span></h4>
                        <hr />
                        <h4>Troværdighed: <span class="pull-right">@feedback.Troværdighed</span></h4>
                        <hr />
                        <h4>Opførsel: <span class="pull-right">@feedback.Opførsel</span></h4>
                        <hr />
                        <h4>Interaktion: <span class="pull-right">@feedback.Interaktion</span></h4>
                        <hr />
                    </div>
                </div>
            </div>
        }

    </div>*@

