@model RateBlog.Models.AdminViewModels.IndexViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Forside";
}


<div class="navbar-allaround">

</div>
<input class="search-button" type="submit" value="Søg" /
<div class="container">
    <div class="">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h2>Søg på alle brugere</h2>

                    <form method="get" asp-area="" asp-controller="Admin" asp-action="Index">
                        <input type="text" name="searchString" id="searchString" class="search-input" style="border: solid 1px" placeholder="F.eks. ud fra navn eller platform" />
                        <span>>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thread>
            <tr>
                <th>
                    <p>Navn</p>

                </th>
                <th>
                    <p>Email</p>

                </th>
                <th>
                    <p>Profil status</p>

                </th>
                <th>
                    <p>Bruger status</p>
                </th>



                <th>
                    <p>Redigere</p>
                </th>


            </tr>
        </thread>
        <tbody>

            @foreach (var user in Model.InfluentList)
            {
                var isInfluente = (user.InfluenterId.HasValue) ? "Influenter" : "Bruger" ?? "Bruger";
                var IsAktive = (user.LockoutEnd.HasValue) ? "Blokeret" : "Aktiv" ?? "Aktiv";

                <tr>
                    <td>
                        <p>@user.Name</p>
                    </td>
                    <td>
                        <p>@user.Email</p>
                    </td>
                    <td>
                        <p>@isInfluente </p>
                    </td>

                    <td>
                        <p>@IsAktive</p>
                    </td>

                    <td>
                        @if (user.InfluenterId.HasValue)
                        {
                            <form asp-controller="Admin" asp-action="EditInfluencer" asp-route-id="@user.Id" method="get">


                                <input type="submit" style="float:left;margin-right:5px;" value="Profil" />

                            </form>
                        }

                        else
                        {
                            <form asp-controller="Admin" asp-action="EditUser" asp-route-id="@user.Id" method="get">


                                <input type="submit" style="float:left;margin-right:5px;" value="Profil" />

                            </form>
                        }
                        

                        <form asp-action="SeFeedBack" asp-route-id="@user.InfluenterId" method="get">

                            <input rel="stylesheet" style="float:left;margin-right:5px;" type="submit" value="Feedback" />
                        </form>

                    </td>

                    <td>

                        @*<td>

                                <form asp-action="BanUser10" asp-route-id="@user.InfluenterId" method="get" asp-controller="Admin">
                                    <a>
                                        <input onclick="BanUserFunction()" type="submit" style="margin-bottom: 20px" value="Ban brugeren" />

                                        <p id="Ban"></p>

                                        </form>
                            </td>*@

                    </td>

                </tr>
            }
        </tbody>
    </table>
    <script>
        function BanUserFunction() {
            var txt;
            if (confirm("Du har nu blokeret en bruger for 10 dage") == true) {
                txt = "Ok";
            }
    </script>

</div>
