@model Bestfluence.Models.AdminViewModels.InfluenterStatisticsViewModel
@inject Bestfluence.Services.Interfaces.IAdminService AdminFeedbackService
@{
    var Bday = DateTime.Now.Year - Model.InfluenterUserInfo.BirthDay.Year;
}

<link href="~/css/thomas.css" rel="stylesheet" type="text/css">

<div class="background-all" style="padding-bottom: 0">
    @Html.Partial("_NavbarPartial", "")
    <div class="navbar-allaround" style="position: relative"></div>

    <div class="admin-container" style="overflow-y: scroll; height: calc(100vh - 70px)">
        <div class="col-md-12" style="padding-top:40px">
            <div class="col-md-1"></div>
            <div class="col-md-10">

                <div class="col-md-6 noPadding padding-right">
                    <div class="col-md-12 white-box addon-box" style="min-height:320px">
                        <div class="col-md-6 text-center">
                            <img class="influ-img statisticIcon" src="@Url.Action("UsersProfilePic", "Manage", new { id = Model.Influenter.Id })" />
                            <div class="statisticsProfileText">
                                <h4>@Model.Influenter.Alias</h4>
                                <p>@Bday år</p>
                                <p>@Model.InfluenterUserInfo.Gender</p>
                            </div>
                        </div>
                        <div class="col-md-6 noPadding">
                            <div class="text-center">
                                <h1><b>BIO</b></h1>
                                <p>@Model.Influenter.ProfileText</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 noPadding">
                    <div class="white-box addon-box text-center" style="min-height:150px">
                        <h1>Sociale medier</h1>
                        @for (int i = 0; i < Model.Influenter.InfluenterPlatform.Count; i++)
                        {
                            if (Model.Influenter.InfluenterPlatform.ElementAt(i).Platform.Name.ToLower() == "snapchat")
                            {
                                <a href="http://www.snapchat.com/add/@Model.Influenter.InfluenterPlatform.ElementAt(i).Link" target='_blank' class='fa fa-search-o fa-snapchat fa-snapchat-ghost-search'></a>
                            }
                            if (Model.Influenter.InfluenterPlatform.ElementAt(i).Platform.Name.ToLower() == "website")
                            {
                                <a href="@Model.Influenter.InfluenterPlatform.ElementAt(i).Link" target='_blank' class='fa fa-search-o fa-globe fa-globe-search'></a>
                            }
                            if (!(Model.Influenter.InfluenterPlatform.ElementAt(i).Platform.Name.ToLower() == "snapchat" || Model.Influenter.InfluenterPlatform.ElementAt(i).Platform.Name.ToLower() == "website"))
                            {
                                <a href="http://www.@(Model.Influenter.InfluenterPlatform.ElementAt(i).Platform.Name.ToLower()).com/@Model.Influenter.InfluenterPlatform.ElementAt(i).Link" target='_blank' class='fa fa-search-o fa-@Model.Influenter.InfluenterPlatform.ElementAt(i).Platform.Name.ToLower() fa-@Model.Influenter.InfluenterPlatform.ElementAt(i).Platform.Name.ToLower()-search'></a>
                            }
                        }
                    </div>
                </div>
                <div class="col-md-6 noPadding">
                    <div class="white-box addon-box text-center" style="min-height:150px">
                        <h1>Kategorier</h1>
                        @for (int i = 0; i < Model.Influenter.InfluenterKategori.Count; i++)
                        {
                            @if (i + 1 == Model.Influenter.InfluenterKategori.Count)
                            {
                                <span>@Model.Influenter.InfluenterKategori.ElementAt(i).Category.Name</span>
                            }
                            else
                            {
                                <span>@Model.Influenter.InfluenterKategori.ElementAt(i).Category.Name |</span>
                            }
                        }
                    </div>
                </div>


                <div class="col-md-12 white-box">
                    <ul class="nav nav-tabs text-center statisticsTabs" style="width:100%">
                        <li><a data-toggle="tab" href="#BestfluenceTab"><i style="color:blue;font-size:30px" class="fa fa-handshake-o" aria-hidden="true"></i><br /><span><i class="fa fa-users" aria-hidden="true"></i> 100 </span></a></li>
                        <li><a id="TwitterLoad" data-toggle="tab" href="#CustomDataTap"><i style="color:blue;font-size:30px" class="fa fa-twitter" aria-hidden="true"></i><span><br /> <i class="fa fa-users" aria-hidden="true"></i>  @AdminFeedbackService.GetPlatformToDisplay(Model.Influenter.Id)[0] </span></a></li>
                        <li><a id="YoutubeLoad" data-toggle="tab" href="#CustomDataTap"><i style="color:crimson;font-size:30px" class="fa fa-youtube" aria-hidden="true"></i><span><br /> <i class="fa fa-users" aria-hidden="true"></i>  @AdminFeedbackService.GetPlatformToDisplay(Model.Influenter.Id)[1]  </span></a></li>
                        <li><a id="TwitchLoad" data-toggle="tab" href="#CustomDataTap"><i style="color:rebeccapurple;font-size:30px" class="fa fa-twitch" aria-hidden="true"></i><span><br /><i class="fa fa-users" aria-hidden="true"></i>   @AdminFeedbackService.GetPlatformToDisplay(Model.Influenter.Id)[2]  </span></a></li>
                        <li><a id="InstagramLoad" data-toggle="tab" href="#CustomDataTap"><i style="color:black;font-size:30px" class="fa fa-instagram" aria-hidden="true"></i><span><br /><i class="fa fa-users" aria-hidden="true"></i>   @AdminFeedbackService.GetPlatformToDisplay(Model.Influenter.Id)[3]  </span></a></li>
                        <li><a id="SnapchatLoad" data-toggle="tab" href="#CustomDataTap"><i style="color:yellow;font-size:30px" class="fa fa-snapchat" aria-hidden="true"></i><span><br /><i class="fa fa-users" aria-hidden="true"></i>   @AdminFeedbackService.GetPlatformToDisplay(Model.Influenter.Id)[4]  </span></a></li>
                        <li><a id="FacebookLoad" data-toggle="tab" href="#CustomDataTap"><i style="color:dodgerblue;font-size:30px" class="fa fa-facebook" aria-hidden="true"></i><span><br /><i class="fa fa-users" aria-hidden="true"></i>  @AdminFeedbackService.GetPlatformToDisplay(Model.Influenter.Id)[5]  </span></a></li>
                        <li><a id="WebsiteLoad" data-toggle="tab" href="#CustomDataTap"><i style="color:crimson;font-size:30px" class="fa fa-globe" aria-hidden="true"></i><span><br /> <i class="fa fa-users" aria-hidden="true"></i>  @AdminFeedbackService.GetPlatformToDisplay(Model.Influenter.Id)[6]  </span></a></li>
                    </ul>

                    <div class="tab-content">

                        <!-- #region Bestfluence -->
                        <div id="BestfluenceTab" class="tab-pane">
                            <div class="row">
                                <div class="col-md-4">
                                    <p></p>
                                    @*Chart 1 *@
                                    <div id="piechart1Platform" style="width: 300px; height: 200px;margin-right:auto;margin-left:auto;display: block"></div>
                                </div>
                                <div class="col-md-4">
                                    <p></p>
                                    @*Chart 2 *@
                                    <div id="piechart2AgeGroup" style="width: 300px; height: 200px;margin-right:auto;margin-left:auto;display: block"></div>
                                </div>
                                <div class="col-md-4">
                                    <p></p>
                                    @*Chart 3 *@
                                    <div id="piechart3Gender" style="width: 300px; height: 200px;margin-right:auto;margin-left:auto;display: block"></div>
                                </div>
                            </div>
                            <hr />
                            <div class="row text-center">
                                <div class="col-md-1"></div>
                                <div class="col-md-2">
                                    <i class="fa fa-users" aria-hidden="true"></i><span id="NumberUsers"></span>
                                </div>
                                <div class="col-md-2">
                                    <i class="fa fa-star" aria-hidden="true"></i><span id="NumberTotalScore"></span>
                                </div>
                                <div class="col-md-2">
                                    <i class="fa fa-tachometer" aria-hidden="true"></i><span id="NumberNps"></span>
                                </div>
                                <div class="col-md-2">
                                    <i class="fa fa-hourglass-o" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-2">
                                    <i class="fa fa-info" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-8">
                                    <div id="ChartAvgRatings" style="width:600px;height:400px;margin-right:auto;margin-left:auto;display: block"></div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                        <!-- #endregion -->

                        <div id="CustomDataTap" class="tab-pane">
                            <div class="col-md-12">
                                <div id="HasData">
                                    <h1 style="font-weight:bolder" class="text-center">OVERBLIK</h1>
                                    <div class="row">
                                        <br />
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-3">
                                            <table align="center" class="text-center">
                                                <tr>
                                                    <td style="padding:12px" rowspan="2"><i style="font-size:26px;" class="fa fa-camera" aria-hidden="true"></i></td>
                                                    <td id="OverblikAntalOpslag" style="font-size:20px">23.4k opslag</td>
                                                </tr>
                                                <tr>
                                                    <td id="OverblikAntalOpslagSidsteUge" style="font-size:12px;color:forestgreen">+140 (sidste 7 dage)</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-3">
                                            <table align="center" class="text-center">
                                                <tr>
                                                    <td style="padding:12px" rowspan="2"><i style="font-size:26px;" class="fa fa-users" aria-hidden="true"></i></td>
                                                    <td id="OverblikAntalFølgere" style="font-size:20px">432 følgere</td>
                                                </tr>
                                                <tr>
                                                    <td id="OverblikAntalFølgereSidsteUge" style="font-size:12px;color:forestgreen">+14 (sidste 7 dage)</td>
                                                </tr>
                                            </table>

                                        </div>
                                        <div class="col-md-2">

                                        </div>
                                    </div>

                                    <br />
                                    <hr />
                                    <div class="row text-center">
                                        <h1 class="statisticsHeadLines">INDFLYDELSE</h1>
                                        <div class="col-md-4 text-right">
                                        </div>

                                        <div class="col-md-4">
                                            <br />
                                            <table align="center">
                                                <tr>
                                                    <td id="IndflydelseEngagement" style="padding:0; padding-right:10px;margin:0"><i class="fa fa-heart-o" aria-hidden="true"></i> <i class="fa fa-comment-o" aria-hidden="true"></i> 10</td>
                                                    <td id="IndflydelseReach" style="padding:0;padding-right:10px;margin:0"><i class="fa fa-bullhorn" aria-hidden="true"></i> 5</td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-right:10px"><p>Engagement</p></td>
                                                    <td style="padding-right:10px"><p>Reach</p></td>
                                                </tr>
                                            </table>
                                            <div style="position: absolute; left: 50%;">
                                                <div style="position: relative; left: -50%; border: dotted red 1px;">
                                                    <p style="margin-top:92px;margin-left:-43px;position:absolute;z-index:100"><b id="IndflydelseEngagementBarometerText">1.5%<br />Engeagement<br />Rate</b></p>
                                                </div>
                                            </div>
                                            <div id="EngagementChart" style="width:250px;height:250px;margin-right:auto;margin-left:auto;display: block" class="center-block"></div>
                                            <table align="center" class="text-center">
                                                <tr>
                                                    <th id="IndflydelseComments" style="padding:10px;" class="text-center"><i class="fa fa-comment-o" aria-hidden="true"></i> 10</th>
                                                    <th id="IndflydelseLikes" style="padding:10px;"><i class="fa fa-heart-o" aria-hidden="true"></i> 10</th>
                                                </tr>
                                                <tr>
                                                    <td style="color:#ffa500">Comments</td>
                                                    <td style="color:#089de3">Likes</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-md-4">
                                        </div>

                                    </div>
                                    <p>.</p>
                                    <hr />

                                    <div class="row">
                                        <h1 class="statisticsHeadLines text-center">FØLGERE</h1>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-5">
                                            <h2 class="text-center">KØN</h2>
                                            <div id="GenderPie" style="width:300px;height:250px;margin-right:auto;margin-left:auto;display: block"></div>
                                        </div>
                                        <div class="col-md-5 text-center">
                                            <h2>ALDER</h2>
                                            <div id="AgeChart" style="width: 300px; height: 250px; margin: 0 auto;display: block"></div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <h2>LAND</h2>
                                            <table id="FølgereLand" align="center" class="text-center">
                                                <tr></tr>
                                            </table>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row text-center">
                                        <h1 class="statisticsHeadLines">MEDIER</h1>
                                        <div class="col-md-3">
                                            <p>Sponsored:</p>
                                            <p>Engagement</p>
                                            <p>Reach</p>
                                        </div>
                                        <div class="col-md-6">
                                            <div id="MediaPie" style="width:300px;height:250px;margin-right:auto;margin-left:auto;display: block" class="center-block">

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <p>pic</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="NoData">
                                    @*<p>Media: 10, Follows:90, followed by:200 </p>*@

                                    <div class="text-center">
                                        <p id="NoDataMainText">
                                            <br />
                                            You do not have any buisness account assosiated with this account.
                                            <br />If you have a one you can login below and see your insights.
                                            <br />Else you can check <a href="https://business.instagram.com/getting-started">this guide</a> on how to create one
                                        </p>
                                        <a href="http://www.facebook.com/dialog/oauth?client_id=326842804433660&redirect_uri=http://localhost:54069/Admin/StatisticsInstagramAccounts&scope=instagram_basic+instagram_manage_insights+read_audience_network_insights+read_insights+pages_show_list
">Steal my shit plz! (GetUsersToken)</a>
                                        <form>
                                            <button>Login as business</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
            <div class="col-md-1"></div>

        </div>
    </div>
</div>



<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/GoogleChartLoader.js"></script>
<script type="text/javascript" src="~/js/StatisticsCharts.js"></script>
<script type="text/javascript" src="~/js/AdminStatisticsFilter.js"></script>
<script type="text/javascript">

        $(document).ready(function () {
        var AgeToDisplay = [];
        var PlatformToDisplay = [];
        var GenderToDisplay = [];

           @foreach (var d in AdminFeedbackService.GetAgeToDisplay(Model.Influenter.Id))
           {
                @:AgeToDisplay.push("@d");
            }

           @foreach (var d in AdminFeedbackService.GetPlatformToDisplay(Model.Influenter.Id))
           {
                @:PlatformToDisplay.push("@d");
            }

           @foreach (var d in AdminFeedbackService.GetGenderToDisplay(Model.Influenter.Id))
           {
                @:GenderToDisplay.push("@d");
            }

        initialiseStatisticsFilter(
            "@Model.Influenter.Id",
            AgeToDisplay,
            PlatformToDisplay,
            GenderToDisplay

        );
       });

    // -- bf statistics load /\


        var HasInstagramData = "@Model.HasInstagramData";
        var influenterId = "@Model.Influenter.Id";

        $('#InstagramLoad').click(function () {
            $.ajax({
                url: "/Admin/InstagramData",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                responseType: "json",
                cache: false,
                data: { id: influenterId },
                success: function (InstagramDatas) {
                    console.log(InstagramDatas)

                    $('#OverblikAntalOpslag').text("opslag "+InstagramDatas.mediaCount)
                    $('#OverblikAntalOpslagSidsteUge').text("Undefined")

                    $('#OverblikAntalFølgere').text("følgere "+InstagramDatas.followerCount)
                    $('#OverblikAntalFølgereSidsteUge').text("Undefined")

                   // $('#IndflydelseEngagementBarometerText').text("")

                    $('#IndflydelseEngagement').text("12")
                    $('#IndflydelseReach').text("12 ")

                    $('#IndflydelseLikes').text("10")
                    $('#IndflydelseComments').text("10")

                    for (var x = 0; x < InstagramDatas.instagramCountry.length; x++){
                        $('#FølgereLand tr:last').after('<tr><td style="padding:10px">'+InstagramDatas.instagramCountry[x].country.name+'</td><td style="padding:10px">'+InstagramDatas.instagramCountry[x].count + '</td></tr>');
                    }

                    google.charts.load('current', { 'packages': ['corechart'] });

                    var males = InstagramDatas.instagramAgeGroup.male13To17 + InstagramDatas.instagramAgeGroup.male18To24 + InstagramDatas.instagramAgeGroup.male25To34 + InstagramDatas.instagramAgeGroup.male35To44 + InstagramDatas.instagramAgeGroup.male45To55 + InstagramDatas.instagramAgeGroup.male55To64 + InstagramDatas.instagramAgeGroup.male65Plus;
                    var females = InstagramDatas.instagramAgeGroup.female13To17 + InstagramDatas.instagramAgeGroup.female18To24 + InstagramDatas.instagramAgeGroup.female25To34 + InstagramDatas.instagramAgeGroup.female35To44 + InstagramDatas.instagramAgeGroup.female45To55 + InstagramDatas.instagramAgeGroup.female55To64 + InstagramDatas.instagramAgeGroup.female65Plus;

                    google.charts.setOnLoadCallback(drawMediaPie(4, 4));
                    google.charts.setOnLoadCallback(drawGenderPie(males, females));
                    google.charts.setOnLoadCallback(drawEngagementChart(16, 4));
                    google.charts.setOnLoadCallback(drawAgeChart(
                        InstagramDatas.instagramAgeGroup.male13To17 + InstagramDatas.instagramAgeGroup.female13To17,
                        InstagramDatas.instagramAgeGroup.male18To24 + InstagramDatas.instagramAgeGroup.female18To24,
                        InstagramDatas.instagramAgeGroup.male25To34 + InstagramDatas.instagramAgeGroup.female25To34,
                        InstagramDatas.instagramAgeGroup.male35To44 + InstagramDatas.instagramAgeGroup.female35To44,
                        InstagramDatas.instagramAgeGroup.male45To55 + InstagramDatas.instagramAgeGroup.female45To55,
                        InstagramDatas.instagramAgeGroup.male55To64 + InstagramDatas.instagramAgeGroup.female55To64,
                        InstagramDatas.instagramAgeGroup.male65Plus + InstagramDatas.instagramAgeGroup.female65Plus
                    ));
                }
            });

            //console.log(test)
            if (HasInstagramData == "True") {
                $("#HasData").show();
                $("#NoData").hide();
            } else {
                $("#HasData").hide();
                $("#NoData").show();
            }

        });

</script>

