@inject UserManager<ApplicationUser> UserManager
@model RateBlog.Models.AdminViewModels.SeMereViewModel
@inject RateBlog.Services.Interfaces.IInfluencerService InfluencerService
@inject RateBlog.Services.IFeedbackService FeedbackServce
@inject RateBlog.Services.Interfaces.IPlatformCategoryService PlatformCategoryService
@inject RateBlog.Repository.IRepository<Platform> PlatformRepo


@{
    ViewData["Title"] = "ProfilePage";

    string last = "";

    try
    {
        if (PlatformCategoryService.GetInfluencerCategoryNames(Model.ApplicationUser.Id) != null)
        {
            last = PlatformCategoryService.GetInfluencerCategoryNames(Model.ApplicationUser.Id).Last();
        }
    }
    catch (InvalidOperationException)
    {

    };
}


<div class="navbar-allaround">

</div>
<div class="container">
    <div class="col-md-12">
        <h1 style="text-align:center;">@Model.ApplicationUser.Name</h1>
        <br />
    </div>

    <div class="col-md-12">


        <div class="col-md-4">

            <img src="@Url.Action("UsersProfilePic", "Manage", new { id = Model.ApplicationUser.Id} )" class="admin-img center-block" />

        </div>


        <form method="get" asp-controller="Admin">


            <div class="col-md-6">


                <table class="table table-striped">
                    <thead></thead>
                    <tbody>

                        <tr>

                            <td class="col-md-2">Navn</td>
                            <td class="col-md-4">@Model.ApplicationUser.Name</td>
                        </tr>

                        <tr>
                            <td>Email</td>
                            <td>@Model.ApplicationUser.Email</td>
                        </tr>

                        <tr>
                            <td>Årgang</td>
                            <td>@Model.ApplicationUser.Year</td>
                        </tr>
                        <tr>
                            <td>Postnummer</td>
                            <td>@Model.ApplicationUser.Postnummer</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>Bruger</td>
                        </tr>

                        <tr>
                            <td>Telefon nummer</td>
                            <td>@Model.ApplicationUser.PhoneNumber</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
        <div class="col-md-2">
            <a style="background:green;" class="admin-btn">Rediger</a>
            <a style="background:blue;" class="admin-btn">Feedback</a>
            <a style="background:red;" class="admin-btn">Slet</a>
            <a style="background:orange;" class="admin-btn">Ban </a>
        </div>
    </div>
</div>
<div class="admin-middle">


    <div class="container">

        <div class="col-md-12 text-center">

            @if (await InfluencerService.IsUserInfluencerAsync(Model.ApplicationUser.Id))
            {

                <h2 style="margin-bottom:30px">Influencer</h2>
                <div class="col-md-3">
                    <h4>@FeedbackServce.GetInfluencerFeedbackCount(Model.ApplicationUser.Id)</h4>
                    <h5>Rating</h5>
                </div>

                <div class="col-md-3">
                    <h4>@FeedbackServce.GetInfluencerFeedbackAnswersCount(Model.ApplicationUser.Id)</h4>
                    <h5>svaret</h5>
                </div>

                <div class="col-md-3">
                    <h4>@FeedbackServce.GetInfluencerAnswerPercentage(Model.ApplicationUser.Id)%</h4>
                    <h5>Svar procent</h5>
                </div>

                <div class="col-md-3">
                    <h4>@FeedbackServce.GetTotalScore(Model.ApplicationUser.Id)</h4>
                    <h5>Score</h5>
                </div>
            }
            else
            {
                <h2 style="margin-bottom:30px">Følger</h2>
                <div class="col-md-6">
                    <h4>@FeedbackServce.GetUserFeedbackCount(Model.ApplicationUser.Id)</h4>
                    <h5>Ratings givet</h5>
                </div>

                <div class="col-md-6">
                    <h4>@FeedbackServce.GetUserFeedbackAnswersCount(Model.ApplicationUser.Id)</h4>
                    <h5>Svar modtaget</h5>
                </div>
            }




        </div>
    </div>
</div>
<div class="admin-profile-middle">
    <div class="container">
        <h2 style="text-align:center;">Profil tekst</h2>

        @if (string.IsNullOrEmpty(Model.ApplicationUser.ProfileText))
            {
            <h4 style="text-align:center; max-width: 600px;margin:0 auto;">Denne Bruger har ikke skrevet nogen profiltekst</h4>
        }
        else
        {
            <h4 style="text-align:center; max-width: 600px;margin:0 auto;">@Model.ApplicationUser.ProfileText</h4>
        }

    </div>
</div>
@if (await InfluencerService.IsUserInfluencerAsync(Model.ApplicationUser.Id))
{
    <div class="admin-bottom">
        <div class="container">

            <div class="col-md-12">
                <h1 style="text-align:center;">MikiMan</h1>

                <div class="col-md-6">
                    <div class="col-md-6">
                        <h2 style="text-align:center;margin-bottom:20px">Platforme</h2>

                        @if (PlatformCategoryService.GetAllInfluencerPlatformForInfluencer(Model.ApplicationUser.Id) != null)
                        {
                            @foreach (var v in PlatformCategoryService.GetAllInfluencerPlatformForInfluencer(Model.ApplicationUser.Id))
                            {
                                @if (PlatformRepo.Get(v.PlatformId).Name == "Facebook")
                                {
                                    <div>
                                        <a href="http://www.facebook.com/@v.Link" target="_blank" class="fa fa-admin-edit fa-facebook fa-facebook-admin-edit-"></a>
                                        <a class="admin-platforms">@PlatformRepo.Get(v.PlatformId).Name</a>
                                    </div>

                                }
                                else if (PlatformRepo.Get(v.PlatformId).Name == "YouTube")
                                {
                                    <div>
                                        <a href="http://www.youtube.com/user/@v.Link" target="_blank" class="fa fa-edit fa-youtube fa-youtube-edit"></a>
                                        <a class="admin-platforms">@PlatformRepo.Get(v.PlatformId).Name</a>
                                    </div>

                                }
                                else if (PlatformRepo.Get(v.PlatformId).Name == "Instagram")
                                {
                                    <div>
                                        <a href="http://www.instagram.com/@v.Link" target="_blank" class="fa fa-edit fa-instagram fa-instagram-edit"></a>
                                        <a class="admin-platforms">@PlatformRepo.Get(v.PlatformId).Name</a>
                                    </div>
                                }

                                else if (PlatformRepo.Get(v.PlatformId).Name == "Website")
                                {

                                    <div>
                                        <a class="fa fa-edit fa-globe fa-globe-edit"></a>
                                        <a class="admin-platforms">@PlatformRepo.Get(v.PlatformId).Name</a>
                                    </div>

                                }

                                else if (PlatformRepo.Get(v.PlatformId).Name == "Twitter")
                                {
                                    <div>
                                        <a href="http://www.twitter.com/@v.Link" target="_blank" class="fa fa-edit fa-twitter fa-twitter-edit"></a>
                                        <a class="admin-platforms">@PlatformRepo.Get(v.PlatformId).Name</a>
                                    </div>

                                }
                                else if (PlatformRepo.Get(v.PlatformId).Name == "Twitch")
                                {

                                    <div>
                                        <a href="http://www.twitch.tv/@v.Link" target="_blank" class="fa fa-edit fa-twitch fa-twitch-edit"></a>
                                        <a class="admin-platforms">@PlatformRepo.Get(v.PlatformId).Name</a>
                                    </div>
                                }
                                else if (PlatformRepo.Get(v.PlatformId).Name == "SnapChat")
                                {

                                    <div>
                                        <a href="http://www.snapchat.com/add/@v.Link" class="fa fa-edit fa-snapchat-ghost fa-snapchat-ghost-edit"></a>
                                        <a class="admin-platforms" placeholder="Snapchat link på influencer">@PlatformRepo.Get(v.PlatformId).Name</a>
                                    </div>
                                }
                            }
                        }

                        else
                        {
                            <h4>Denne influencer har ikke tilknyttet nogle sociale medier</h4>
                        }

                    </div>
                    </div>

                <div class="col-md-6">
                    <div class="col-md-6">


                        <h2 style="text-align:center;margin-bottom:30px;">Katagorier</h2>


                        @if (PlatformCategoryService.GetInfluencerCategoryNames(Model.ApplicationUser.Id) != null)
                           {


                            @foreach (var v in PlatformCategoryService.GetInfluencerCategoryNames(Model.ApplicationUser.Id))
                                {


                                     if (v == "Gaming")
                                    {
                                    <div style="font-size:18px;margin-bottom:30px">
                                        <img style="height:50px" src="~/images/Kategori/gaming.png" alt="img">
                                        <p class="admin-category">@v</p>
                                    </div>
                                }
                                if (v == "Lifestyles")
                                {
                                    <div style="font-size:18px;margin-bottom:30px">
                                        <img style="height:50px" src="~/images/Kategori/lifestyle.png" alt="img">
                                        <p class="admin-category">@v </p>
                                    </div>

                                }
                                if (v == "Beauty")
                                {
                                    <div style="font-size:18px;margin-bottom:30px">
                                        <img style="height:50px" src="~/images/Kategori/beauty.png" alt="img">
                                        <p class="admin-category">@v</p>
                                    </div>

                                }
                                if (v == "Entertainment")
                                {
                                    <div style="font-size:18px;margin-bottom:30px">
                                        <img style="height:50px;" src="~/images/Kategori/entertainment.png" alt="img">
                                        <p class="admin-category">@v </p>
                                    </div>

                                }
                                if (v == "Fashion")
                                {
                                    <div style="font-size:18px;margin-bottom:30px">
                                        <img style="height:50px" src="~/images/Kategori/fashion.png" alt="img">
                                        <p class="admin-category">@v</p>
                                    </div>

                                }
                                if (v == "Interests")
                                {
                                    <div style="font-size:18px;margin-bottom:30px">
                                        <img style="height:50px" src="~/images/Kategori/interests.png" alt="img">
                                        <p class="admin-category">@v</p>
                                    </div>

                                }
                                if (v == "Personal")
                                {

                                    <div style="font-size:18px;margin-bottom:30px">
                                        <img style="height:50px" src="~/images/Kategori/personal.png" alt="img">
                                        <p class="admin-category">Personal </p>
                                    </div>

                                }

                            }

                        }
                        else
                        {
                            <h3> Denne influencer har ikke angivet nogen sociale medier.</h3>
                        }



                    </div>

                </div>
            </div>
        </div>
    </div>
}