@model RateBlog.Models.AdminViewModels.SeFeedbackViewModel


<div class="navbar-allaround"></div>


    <form method="post" asp-controller="Admin" asp-action="RedigereFeedback">
        <table class="table"
            <thread>
               <tr>
                   <th>
                       <p>Kvalitet</p>

                   </th>
                   <th>
                       <p>Opførsel</p>

                   </th>
                   <th>
                       <p>Interaktion</p>

                   </th>
                   <th>
                       <p>Troværdighed</p>

                   </th>
                   <th>
                       <p>Feedback</p>
                   </th>
                   <th>
                       <p>Svar</p>
                   </th>
                   <th>
                       <p>Anmelder</p>
                   </th>
               </tr>
            </thread>
            <tbody>

                    <tr>
                        <td>
                            <textarea rows="1" asp-for="@Model.Rating.Kvalitet"></textarea>
                        </td>
                        <td>
                            <textarea rows="1" asp-for="@Model.Rating.Opførsel"></textarea>
                        </td>

                        <td>
                            <textarea rows="1" asp-for="@Model.Rating.Interaktion"></textarea>
                        </td>

                        <td>
                            <textarea rows="1" asp-for="@Model.Rating.Troværdighed"></textarea>
                        </td>
                        <td>
                            <textarea rows="1" asp-for="@Model.Rating.Feedback"></textarea>
                        </td>
                        <td>
                            <textarea rows="1" asp-for="@Model.Rating.Answer"></textarea>
                        </td>
                        <td>
                            <textarea rows="1" asp-for="@Model.AnmelderNavn"></textarea>
                        </td>
                        @Html.HiddenFor(x => x.Rating.RatingId)
                        <td>
                            <input onclick="Succes()" type="submit" value="Opdater Denne Feedback"  />                            
                        </td>
                        <td>
                            <form asp-controller="Admin" asp-action="Index">
                                <a class="col-md-offset-3 col-md-6 col-xs-12">
                                    <input type="submit" style="margin-bottom: 20px" value="Home" />
                                </a>
                            </form>
                        </td>
                                   
                    </tr>
                }            
            </tbody>       
        </table>
        <script> 

                 function Succes() {
                     var txt;
                     if (confirm("Succes") == true)
                     {
                         txt = "Ok";
                     }
                 }
        </script>
    </form>


