@model RateBlog.Models.AdminViewModels.SeFeedbackViewModel

<div class="navbar-allaround"></div>

<form asp-controller="Admin" asp-action="Index">
    <a class="col-md-offset-3 col-md-6 col-xs-12">
        <input type="submit" style="margin-bottom: 20px" value="Home" />
    </a>
</form>

<table class="table"
            <thread>
               <tr>
                   <th>
                       <p>Kvalitet</p>

                   </th>
                   <th>
                       <p>Opførsel</p>

                   </th>
                   <th>
                       <p>Interaktion</p>

                   </th>
                   <th>
                       <p>Troværdighed</p>

                   </th>
                   <th>
                       <p>Feedback</p>
                   </th>
                   <th>
                       <p>Svar</p>
                   </th>




               </tr>

            </thread>

            <tbody>

                @foreach (var m in Model.ListRating)
                {
                    <tr>
                        <td>
                            <p>@m.Kvalitet</p>
                        </td>
                        <td>
                            <p>@m.Opførsel</p>
                        </td>

                        <td>
                            <p>@m.Interaktion</p>
                        </td>

                        <td>
                            <p>@m.Troværdighed</p>
                        </td>
                        <td>
                            <p>@m.Feedback</p>
                        </td>
                        <td>
                            <p>@m.Answer</p>
                        </td>
                        <td>
                            <p>@m.Answer</p>
                        </td>

                        <td>
                            <a asp-action="RedigereFeedback" asp-route-id="@m.RatingId">Edit</a> 
                          <form method="post" asp-action="DeleteFeedback" asp-controller="Admin" asp-route-id="@m.RatingId">
                            <input onclick="SuccesFunction()" type="submit" value="Delete" />

                          </form>
                      
                           
                        </td>
                        <td>
                         
                        </td>
                    </tr>
                }




            </tbody>

   
        </table>
<script>
     function SuccesFunction() {
         var txt;
         if (confirm("SUCCES") == true) {
             txt = "Ok";
         }
     }
</script>