@model RateBlog.Models.AdminViewModels.SeMereViewModel
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Se mere om brugeren";

}
<div class="navbar-allaround">
    </div>

<a class="col-md-offset-3 col-md-6 col-xs-12">
    <input type="submit" asp-action="" style="margin-bottom: 20px" class="edit-button" value="Slet" />
</a>

<a class="col-md-offset-3 col-md-6 col-xs-12">
    <input type="submit" asp-action="Edit" style="margin-bottom: 20px" class="edit-button" value="Redigere" />
</a>

  <div class="container">
      <table class="table table-striped">
          <thread>
              
              <tbody>

                  @*@foreach (var user in Model.InfluentList)
                  {*@

                      @*<tr>
                          <th>
                              <p>navn</p>
                          </th>
                          <td>
                             @user.InfluenterId
                          </td>
                      </tr>
                  }*@
                      @*<tr>
                          <th>
                              <p>email</p>
                          </th>
                          <td>
                              <p>@user.Email</p>
                          </td>
                      </tr>
                      <tr>
                          <th>
                              <p>By stad</p>
                          </th>
                          <td>
                              <p>@user.City</p>
                          </td>
                      </tr>

                      <tr>
                          <th>
                              <p>Influenter ID</p>
                          </th>
                          <td>
                              <p>@user.InfluenterId</p>
                          </td>
                      </tr>
                      <tr>
                          <th>
                              <p>ProfilText</p>
                          </th>
                          <td>
                              <p>@user.ProfileText</p>
                          </td>
                      </tr>*@



                     
                  }
              </tbody>
                  </thread>
                  
              </table>

</div>
