@inject UserManager<ApplicationUser> UserManager
@model RateBlog.Models.AdminViewModels.SeFeedbackViewModel


@{
    ViewData["Title"] = "Se mere om brugeren";

}

<div class="navbar-allaround">
</div>

@Html.HiddenFor(x => x.ApplicationUser.Id) 
<table class="table table-bordered">

    <thead>
        <tr>
            <th colspan="1"></th>
            <th style="text-align:center" colspan="2">Profil</th>
            <th style="text-align:center" colspan="1">Platform</th>
            <th style="text-align:center" colspan="4">Rating</th>
            <th style="text-align:center" colspan="2">Feedbak</th>
            <th style="text-align:center">Anb</th>
        </tr>

        <tr style="text-align:center;">
            <th>Feedback ID</th>
            <th>Bruger</th>
            <th>Influencer</th>
            <th>Masser af iconer
            
            <th>Tro</th>
            <th>Opf</th>
            <th>Kva</th>
            <th>Int</th>
            <th>Posetiv</th>
            <th>Negativ</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr style="max-width: 100px;">
            <th>Information</th>

            @foreach (var m in Model.ListRating)
            {
            <td href="#" data-toggle="tooltip" title="@m.ApplicationUser.Email" style="max-width: 100px;overflow: hidden;">
               @m.ApplicationUser <br />
               @m.ApplicationUser.Email
            </td>


            <td href="#" data-toggle="tooltip" title="Information her weee" style="max-width: 100px;overflow: hidden;">
                @m.ApplicationUser.Influenter
                <br />
                @m.ApplicationUser.Email

            </td>
            <td style="text-align:left;max-width:50px">
                <button id="buttonFacebook" onclick="changeColorFacebook()" style="background: none;">  <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i> </button>

                <button id="buttonTwitter" onclick="changeColorTwitter()" class="fa fa-twitter-square fa-2x" aria-hidden="true"></button>
                <button id="buttonInstagram" onclick="changeColorInstagram()" class="fa fa-instagram fa-2x" aria-hidden="true"></button>

                <br />
                <button id="buttonSnapChat" onclick="changeColorSnapChat()" class="fa fa-snapchat-square fa-2x" aria-hidden="true"></button>
                <button id="buttonYoutube" onclick="changeColorYoutube()" class="fa fa-youtube-square fa-2x" aria-hidden="true"></button>
                <button id="buttonTwitch" onclick="changeColorTwitch()" class="fa fa-twitch fa-2x" aria-hidden="true"></button>
                <button id="buttonBlog" onclick="changeColorBlog() " class="fa fa-rss-square fa-2x" aria-hidden="true"></button>

            </td>
           



         
            <td><input type="text" style="width:20px" value="@m.Troværdighed"/></td>
            <td><input type="text" style="width:20px" value="@m.Opførsel"/></td>
            <td><input type="text" style="width:20px" value="@m.Kvalitet"/></td>
            <td><input type="text" style="width:20px" value="@m.Interaktion"/></td>

          
            <td style="max-width: 150px; ">@m.FeedbackText </td>

            <td style="max-width: 150px;"> @m.Answer </td>

  
            <td><input type="text" style="width:20px" value="@m.Anbefaling"/></td>
           

            <td>
                <form method="post" asp-controller="Admin" asp-action="EditUser">
                    <button class="btn btn-default" type="submit" style="background-color:#5F9EA0;"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
             </form>
                    <a asp-ction="RedigereFeedback" asp-route-id="m.Id">  </a>
                   <br />
                    <button class="btn btn-default" type="submit" style="background-color:#990000"> <i class="fa fa-trash" aria-hidden="true"></i></button>
</td>
            }
          

</tr>

    </tbody>

</table>

<script>

    document.getElementById('change').onclick = changeColor;

    function changeColorFacebook() {

        document.getElementById("buttonFacebook").style.backgroundColor = '#0000FF';

        return false;
    }


    function changeColorTwitter() {

        document.getElementById("buttonTwitter").style.backgroundColor = '#87CEFA';

        return false;
    }


    function changeColorYoutube() {

        document.getElementById("buttonYoutube").style.backgroundColor = '#FF0000';

        return false;
    }



    function changeColorTwitch() {

        document.getElementById("buttonTwitch").style.backgroundColor = '#800080';

        return false;
    }


    function changeColorSnapChat() {

        document.getElementById("buttonSnapChat").style.backgroundColor = '	#FFFF00';

        return false;
    }
    function changeColorInstagram() {

        document.getElementById("buttonInstagram").style.backgroundColor = '#FF8C00';

        return false;
    }
    function changeColorBlog() {

        document.getElementById("buttonBlog").style.backgroundColor = '#000000';

        return false;
    }

</script>