@model RateBlog.Models.InfluenterViewModels.IndexViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Redigere bruger";
}


<div class="navbar-allaround">

</div>
<div class="container">
    <div class="container">
        <div class="">
            <div class="outer">
                <div class="middle">
                    <div class="inner">
                        <h2>Søg på alle brugere</h2>

                        <form method="get" asp-area="" asp-controller="Admin" asp-action="Index">
                            <input type="text" name="searchString" id="searchString" class="search-input" style="border: solid 1px" placeholder="F.eks. ud fra navn eller platform" />
                            <span>
                                <input class="search-button" type="submit" value="Søg" />
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <table class="table"
            <thread>
               <tr>
                   <th>
                       <p>navn</p>

                   </th>
                   <th>
                       <p>email</p>

                   </th>
                   <th>
                       <p>bruger id</p>

                   </th>
                   <th>
                       <p>tlf nummer</p>

                   </th>
                   <th>
                       <p>profil tekst</p>

                   </th>



               </tr>

            </thread>
            <tbody>

                    @foreach (var user in Model.InfluentList)
                    {
                        <tr>

                            <td>
                                <p>@user.Name</p>
                            </td>
                            <td>
                                <p>@user.Email</p>
                            </td>

                            <td>
                                <p>@user.Id</p>
                            </td>

                            <td>
                                <p>@user.PhoneNumber</p>
                            </td>
                            <td>
                                <p>@user.ProfileText</p>
                            </td>
                            <td>



                            </td>
                        </tr>
                    }
            </tbody>
        </table>

    </div>
