@model RateBlog.Models.InfluenterViewModels.IndexViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Redigere bruger";
}


<div class="navbar-allaround">

</div>
<div class="container">
    <div class="container">
        <div class="">
            <div class="outer">
                <div class="middle">
                    <div class="inner">
                        <h2>Søg på alle brugere</h2>

                        <form method="get" asp-area="" asp-controller="Admin" asp-action="ShowUser">
                            <input type="text" name="searchString" id="searchString" class="search-input" style="border: solid 1px" placeholder="F.eks. ud fra navn eller platform" />
                            <span>
                                <input class="search-button" type="submit" value="Søg" />
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <table class="table"
            <thread>
               <tr>
                   <th>
                       <p>navn</p>

                   </th>
                   <th>
                       <p>email</p>

                   </th>
                   <th>
                       <p>id</p>

                   </th>
                   <th>
                       <p>tlf nummer</p>

                   </th>
                   <th>
                       <p>profil tekst</p>

                   </th>
                   <th>
                       <p>Indfluenter id</p>

                   </th>
                    </th>
                   
               </tr>
                      
            </thread>
            <tbody>
                
                    @foreach (var user in Model.InfluentList)
                    {
                        <tr>
                            <td>
                            <td>
                                <p>@user.Name</p>
                            </td>
                            <td>
                                <p id="show_more1" onclick="showml( @user.Email)" onmouseover="this.style.cursor='pointer'">Vis mere</p>

                                <div id="content1" style="display: none; padding: 16px 20px 4px; margin-bottom: 15px; background-color: rgb(239, 239, 239);">

                                </div>
                            </td>
                          
                            <td>
                                <p>@user.Id</p>
                            </td>

                            <td>
                                <p>@user.PhoneNumber</p>
                            </td>
                            <td>
                                <p>@user.ProfileText</p>
                            </td>
                            <td></td>
                            <td>
                                <p>@user.InfluenterId</p>
                            </td>
                            <td>
                                <div class="dropdown show">
                                    <a class="Dropdownmenu" id="DropDownID" data-toggle="dropdown" aria-haspopup="true" aria-expanded="True">
                                        redigere bruger
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="col-md-offset-3 col-md-6 col-xs-12">
                                            <input type="submit" style="margin-bottom: 20px" class="edit-button" value="Redigere bruger" />

                                        </a>
                                        <a class="col-md-offset-3 col-md-6 col-xs-12">
                                            <input type="submit" style="margin-bottom: 20px" class="edit-button" value="Opret bruger" />
                                        </a>
                                        <a class="col-md-offset-3 col-md-6 col-xs-12">
                                            <input type="submit" style="margin-bottom: 20px" class="edit-button" value="Slet bruger" />
                                        </a>
                                    </div>
                                </div>


                        
                            </td>
                        </tr>
                    }
              
            
            </tbody>

        </table>







    </div>
